.scCheckBox {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  top: -3px;
}

.scContentControlCheckbox {
  display: none;
}
.scContentControlCheckboxLabel {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.scContentControlCheckboxLabel::before,
.scContentControlCheckboxLabel::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.scContentControlCheckboxLabel::before {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.scContentControlCheckboxLabel::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
  cursor: pointer !important;
}
.scContentControlCheckbox:checked + .scContentControlCheckboxLabel::before {
  background-color: #dc291e;
}
.scContentControlCheckbox:checked + .scContentControlCheckboxLabel::after {
  left: 24px;
}