/*
 * Sitecore Expeimental Mode UI, by Ugo Quaisse
 * experimental.css
 */

body.satExperimentalUi {
  -webkit-font-smoothing: antialiased;
  color: var(--grey1) !important;
}

body.satExperimentalUi .scStartButton {
  background: transparent url("chrome-extension://__MSG_@@extension_id__/images/sitecore_logo.svg") no-repeat center center !important;
  background-color: var(--accent) !important;
  z-index: auto;
  cursor: pointer;
}

body.satExperimentalUi button:focus,
body.satExperimentalUi button:active {
  outline: 0px solid var(--accent);
  box-shadow: 0 0 0 2.5px var(--accent) !important;
}

body.satExperimentalUi .scTreeview .nodeNormal {
  color: var(--text);
}

body.satExperimentalUi .scTreeview .nodeSelected,
body.satExperimentalUi .scTreeview .nodeSelected_Hover {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUi #scPanel {
  padding: 0px 20px;
}

body.satExperimentalUi #scPanel > .content {
  padding: 0px;
}

body.satExperimentalUi #scPanel h1 {
  font-size: 250%;
  font-weight: 700;
  color: var(--accent);
  padding: 20px;
  margin: auto;
}

body.satExperimentalUi #scPanel h2 {
  font-size: 125%;
  border-bottom: 1px solid var(--text);
  font-weight: 700;
  color: var(--text);
  padding: 15px 0px;
  text-transform: uppercase;
}

body.satExperimentalUi #scPanel h3 {
  font-size: 100%;
  font-weight: 700;
  color: var(--accent);
  padding: 10px 0px 2px 0px;
  margin: auto;
}

body.satExperimentalUi div#scPageExtendersForm {
  border-bottom: 3px solid var(--accent);
}

body.satExperimentalUi .scStartMenuProgramsMenu:hover,
body.satExperimentalUi .scStartMenuRightFolder:hover,
body.satExperimentalUi .scStartMenuLeftOption:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

body.satExperimentalUi .visible {
  visibility: visible !important;
  opacity: 1 !important;
}

body.satExperimentalUi .saveMessage {
  position: fixed;
  margin: auto;
  top: -50px;
  z-index: 10000000000;
  background-color: var(--messageSuccessLink);
  color: var(--messageSuccessBar);
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding: 10px 15px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  display: block !important;
}

body.satExperimentalUi .saveMessage.visible {
  top: 30px;
}

body.satExperimentalUi .scMenuButton {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

body.satExperimentalUi .sc-globalheader-appName {
  cursor: pointer;
}

body.satExperimentalUi .scEditorTabControls {
  display: none;
}

/* Sitecore hide */

body.satExperimentalUi .scValidatorPanel,
body.satExperimentalUi .scDockTop,
body.satExperimentalUi .scDockBottom {
  display: none;
}

/* Global containers */

body.satExperimentalUi .sc-global-logo {
  background: url(chrome-extension://__MSG_@@extension_id__/images/square-logo.svg) center center no-repeat;
  background-color: var(--accent);
  background-size: 105%;
}

body.satExperimentalUi .sc-global-logo:hover {
  background-position: center center;
}

body.satExperimentalUi #ContentEditor {
  margin-left: -1px;
}

body.satExperimentalUi #EditorTabs {
  position: absolute;
  width: -webkit-fill-available;
  background-color: var(--white);
  border-bottom: 0px solid #ffffff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

body.satExperimentalUi #EditorFrames {
  margin-top: 56px;
  height: calc(100% - 115px);
}

body.satExperimentalUi #SearchPanel {
  padding: 18px 18px 16px 18px;
  min-height: 57px;
  background-color: #e8e6e6;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid var(--grey);
  text-overflow: ellipsis;
  overflow: hidden;
}

body.satExperimentalUi input[type="color"] {
  outline: none;
  background-color: #2b2b2b;
  border-radius: 100px;
  width: 16px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid #2b2b2b;
  box-shadow: inset 0 0 1px 7px #2b2b2b;
  cursor: pointer;
}

body.satExperimentalUi input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  color: transparent;
}

body.satExperimentalUi input[type="color"]::-webkit-color-swatch {
  border: none;
}

body.satExperimentalUi .wbNotificationMenu {
  background-color: var(--accent);
  right: 117px;
}

body.satExperimentalUi #scSitecoreRibbon {
  width: 16px;
  height: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease 0s;
  outline: 0;
}

body.satExperimentalUi #scSitecoreRibbon:focus {
  outline: 0;
}

body.satExperimentalUi #scSitecoreRibbon > span {
  width: 12px;
  height: 12px;
  background-color: var(--grey2);
  margin-left: 0px;
  border-radius: 12px;
  transition: all 0.1s ease 0s;
  display: block;
}

body.satExperimentalUi #scSitecoreRibbon > span.active {
  background-color: var(--accent);
  margin-left: 14px;
}

body.satExperimentalUi #EditorTabs #scFlag,
body.satExperimentalUi #scFlagMenu,
body.satExperimentalUi .liveUrlStatus {
  visibility: hidden;
  display: none;
}

body.satExperimentalUi .scWindowBorder3 {
  background-color: transparent !important;
  height: 0px;
}

body.satExperimentalUi .scEditorPanel {
  margin-right: 0px;
}

body.satExperimentalUi .scContentButtons {
  margin-left: -5px;
}

body.satExperimentalUi a.scContentButton {
  color: var(--accent);
}

body.satExperimentalUi a.scTileItem:hover {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUi #scModal .header {
  background-color: var(--accent);
  color: var(--accentText);
}

body.satExperimentalUi #scModal .header .maximize {
  filter: brightness(var(--accentBrightness));
}

body.satExperimentalUi #scModal .header .close {
  filter: brightness(var(--accentBrightness));
}

body.satExperimentalUi .showSitecoreRibbon {
  display: block !important;
}

body.satExperimentalUi .scSitecoreRibbon {
  transform: rotate(180deg);
}

body.satExperimentalUi #scAccentColor {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 18px;
  height: 18px;
}
body.satExperimentalUi #scAccentColor::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}
body.satExperimentalUi #scAccentColor::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

body.satExperimentalUi .scAccountColumn > ul > li:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

body.satExperimentalUi .scEditorFieldMarker {
  margin: 0 0 40px 0;
}

body.satExperimentalUi .scLanguageIcon,
body.satExperimentalUi .scMediaIcon,
body.satExperimentalUi .scVersionIcon {
  width: 16px !important;
  height: 16px !important;
  vertical-align: sub !important;
}

body.satExperimentalUi .scEditorQuickInfo {
  margin: 0px;
  border-spacing: 0px;
  border-collapse: separate;
}

body.satExperimentalUi .scEditorQuickInfo td {
  padding: 8px;
}

body.satExperimentalUi .splitter-bar:hover::before,
body.satExperimentalUi .splitter-bar:hover {
  background-color: var(--accent) !important;
}

body.satExperimentalUi .liveUrlDot {
  vertical-align: inherit;
  width: 10px;
  height: 10px;
  margin-left: 2px;
}

body.satExperimentalUi .scNoResult,
body.satExperimentalUi .scHelp,
body.satExperimentalUi .scNoVersion {
  margin: auto;
  padding: 50px;
  text-align: center;
  font-size: 15px;
  color: var(--grey7);
  font-weight: 800;
}

body.satExperimentalUi .scNoResult > img,
body.satExperimentalUi .scNoVersion > img {
  width: 256px;
  opacity: 0.15;
  padding: 20px;
}

body.satExperimentalUi .scNoVersion > p {
  padding: 0px 0px 10px 0px;
}

body.satExperimentalUi .scNoVersion > button {
  font-size: 12px;
  padding: 9px 14px;
  position: relative;
  border-radius: var(--radius);
  border: 0px;
  background-color: var(--accent);
  color: var(--accentText);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px 5px;
  box-shadow: none;
  cursor: pointer;
}

body.satExperimentalUi .scNoVersion > button:hover {
  filter: brightness(0.95);
}

body.satExperimentalUi .scEditorTabHeaderNormal > span.scEditorTabHeaderModified:after,
body.satExperimentalUi .scEditorTabHeaderActive > span.scEditorTabHeaderModified:after {
  color: var(--accent);
  padding-left: 2px;
}

body.satExperimentalUi .scContentControlImageImage {
  padding: 0px;
}

body.satExperimentalUi .scContentControlImageImage > iframe {
  /* background-image: linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(-45deg, #ddd 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(-45deg, transparent 75%, #ddd 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px; */
  background: var(--grey12) url(chrome-extension://__MSG_@@extension_id__/images/backgroundImage.svg) center 70% no-repeat;
  background-size: 7%;
}

body.satExperimentalUi .scContentControlImageDetails {
  /* border-top: 1px solid var(--grey); */
  background-color: var(--grey12);
}

/*Forms*/

body.satExperimentalUi #Editors input:not([type]),
body.satExperimentalUi #Editors input[type="text"],
body.satExperimentalUi #Editors input[type="password"],
body.satExperimentalUi #Editors select,
body.satExperimentalUi #Editors textarea,
body.satExperimentalUi #ContentWrapper {
  font-size: 15px;
  line-height: 20px;
  border-radius: none;
  box-shadow: none;
  padding: 4px 6px;
  box-sizing: border-box;
}

body.satExperimentalUi #Editors select:not([multiple]) {
  min-height: 34px !important;
  border-radius: 0px !important;
  /*-webkit-appearance: initial;*/
}

body.satExperimentalUi .scEditorHeaderQuickInfoInput {
  border-width: 0px !important;
}

body.satExperimentalUi .scContentControlSelectedList {
  bottom: 1px;
}

body.satExperimentalUi .scContentControlCheckbox:checked + .scContentControlCheckboxLabel::before {
  background-color: var(--accent) !important;
}

body.satExperimentalUi select option:focus,
body.satExperimentalUi select option:active,
body.satExperimentalUi select option:checked {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

/* Icons */

body.satExperimentalUi .scMenuItemIcon,
body.satExperimentalUi .scMenuItemIcon_Disable,
body.satExperimentalUi .elementImgAlignment,
body.satExperimentalUi .scEditorHeaderNavigatorIcon,
body.satExperimentalUi .scContentTreeNodeIcon {
  filter: brightness(var(--iconBrightness));
}

body.satExperimentalUi .scContentTreeNodeIcon {
  margin: 0 8px 0 0;
  transform: scale(1.15);
  position: relative;
  z-index: 10;
  image-rendering: pixelated;
}

body.satExperimentalUi .scMenuItemCaption,
body.satExperimentalUi .scMenuItemCaption_Hover {
  padding: 0 10px;
  font-size: 14px;
}

body.satExperimentalUi .scTreeview .icon,
body.satExperimentalUi .scTreeview .icon_Hover,
body.satExperimentalUi #scModal .item > a > img {
  filter: brightness(var(--iconBrightness)) contrast(var(--iconContrast));
}

body.satExperimentalUi #scModal .item:hover > a > img {
  filter: unset;
}

/* Content Tree */

body.satExperimentalUi .scContentTree {
  overflow-x: hidden;
  z-index: 100;
}

body.satExperimentalUi .scContentTreeNodeGlyph {
  width: 20px !important;
  vertical-align: middle !important;
  filter: grayscale(1);
}

body.satExperimentalUi div.scContentTreeNode {
  padding: 2px 0px 1px 17px;
  font-size: 14px;
}

body.satExperimentalUi div.scContentTreeNode > img {
  position: relative;
  z-index: 10;
  margin-top: 0px;
  padding-bottom: 8px;
  cursor: pointer;
}

body.satExperimentalUi div.scContentTreeNode > img:hover {
  background-color: transparent;
}

body.satExperimentalUi .scDragHover {
  /*background-color: var(--accent) !important;*/
  border: 2px dashed var(--black1) !important;
}

body.satExperimentalUi .scContentDragMarker {
  background-color: var(--accent) !important;
  color: var(--accent) !important;
  height: 4px;
  margin-top: 3px;
  margin-left: -15px;
  border-radius: var(--radius);
}

body.satExperimentalUi img.scContentTreeNodeGlyph:hover[src="/sitecore/shell/themes/standard/images/noexpand15x15.gif"] {
  background-color: transparent;
}

body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeActive,
body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeNormal {
  background-color: transparent;
  width: -webkit-fill-available;
  padding: 1px 0px 5px 5px;
  vertical-align: sub;
  border: 2px solid transparent;
  z-index: 1;
}

body.satExperimentalUi .scContentControlTree a.scContentTreeNodeActive,
body.satExperimentalUi .scContentControlTree a.scContentTreeNodeNormal {
  vertical-align: super;
}

body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeActive > span,
body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeNormal > span {
  background-color: transparent;
  padding: 10px 0px;
  height: 20px;
  position: absolute;
  width: -webkit-fill-available !important;
  margin-left: -500px;
  margin-top: -10px;
  text-indent: 500px;
  z-index: 1;
}

body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeActive > span > div.scItemName,
body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeNormal > span > div.scItemName {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeActive > span {
  color: var(--white) !important;
}

body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeNormal > span {
  color: var(--text);
}

body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeActive > span > div,
body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeNormal > span > div {
  display: block;
  overflow: hidden;
  width: calc(100% - 100px);
  text-overflow: ellipsis;
  margin-top: -19px;
  margin-left: 24px;
}

body.satExperimentalUi #ContentTreePanel .scContentTreeNodeGlyph:hover + a > span,
body.satExperimentalUi #ContentTreePanel div.scContentTreeNode > img:hover + a > span,
body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeNormal:hover > span {
  background-color: var(--grey5) !important;
}

body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeActive > span {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUi #ContentTreePanel a.scContentTreeNodeActive > span > img {
  max-width: 16px;
}

body.satExperimentalUi .scGutter {
  z-index: 1002;
  top: 0;
  width: 10px;
  height: 100%;
  position: absolute;
}

body.satExperimentalUi .scContentTreeNodeGutter {
  z-index: 1001;
}

body.satExperimentalUi .scContentTreeNodeGutterIcon {
  z-index: 1001;
}

body.satExperimentalUi .scInsertItemIcon {
  position: relative;
  color: var(--black1);
  z-index: 101;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -31px;
  margin-right: 11px;
  background: url(chrome-extension://__MSG_@@extension_id__/images/add.svg) center center transparent no-repeat;
  filter: invert(1);
}

body.satExperimentalUi .scEditItemIcon {
  position: relative;
  color: var(--black1);
  z-index: 101;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -31px;
  margin-right: 40px;
  background: url(chrome-extension://__MSG_@@extension_id__/images/edit2.svg) center center transparent no-repeat;
  filter: invert(1);
}

body.satExperimentalUi .scInsertItemIconInverted {
  filter: invert(0);
}

/* Content Editor Header */

body.satExperimentalUi .scEditorHeaderIcon {
  filter: brightness(10);
}

body.satExperimentalUi .scEditorHeaderTitle {
  color: var(--white) !important;
}

body.satExperimentalUi .scEditorHeaderTitleHelp {
  margin-top: -5px;
}

body.satExperimentalUi .scEditorHeaderTitleHelp > a {
  color: var(--grey);
}

body.satExperimentalUi .scEditorTabControlsHolder {
  margin: 11px 13px;
  height: auto;
}

body.satExperimentalUi button.scEditorHeaderButton,
body.satExperimentalUi a.scEditorHeaderButton {
  font-size: 12px;
  padding: 9px 14px;
  position: relative;
  border-radius: var(--radius);
  border: 0px;
  background-color: var(--grey5);
  color: var(--black6);
  font-weight: bold;
  margin: 0px 5px;
  box-shadow: none;
  cursor: pointer;
}

body.satExperimentalUi button.scEditorHeaderButton:hover,
body.satExperimentalUi a.scEditorHeaderButton:hover {
  filter: brightness(0.95);
}

body.satExperimentalUi button.scEditorHeaderButton:disabled {
  opacity: 0.5;
}

body.satExperimentalUi .scEditorHeaderButton > img {
  transition: transform 0.2s ease-in-out;
}

/*Overlay*/
body.satExperimentalUi iframe.ui-widget-content {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/*Iframe */
body.satExperimentalUi #Renderings {
  padding: 0px 10px;
}
body.satExperimentalUi #scLanguageIframe,
body.satExperimentalUi #scVersionIframe {
  position: fixed;
  background-color: var(--white);
  top: 144px !important;
  right: -420px !important;
  left: unset !important;
  width: 400px !important;
  height: 100% !important;
  border-radius: var(--radius);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: right ease-out 0.2s;
}

body.satExperimentalUi #scVersionIframe.open,
body.satExperimentalUi #scLanguageIframe.open,
body.satExperimentalUi #scPanel.open {
  right: 0px !important;
}

/* Content Editor Tabs */

body.satExperimentalUi #scEditorTabs {
  background-color: transparent;
  margin: 0px 20px 0px 20px;
  overflow-x: auto;
  padding: 20px 0px 0px 0px;
}

body.satExperimentalUi #scEditorTabs > ul {
  overflow-x: unset;
  transition: margin-left ease-out 0.2s !important;
  width: auto !important;
}

body.satExperimentalUi #scEditorTabs > ul::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: var(--white);
  border-radius: var(--radius);
}

body.satExperimentalUi #scEditorTabs > ul > li:not(.scEditorTabEmpty) {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0px solid transparent !important;
  padding: 7px 12px 7px 12px;
  font-size: 14px;
  font-weight: 400;
}

body.satExperimentalUi #scEditorTabs > ul > li:not(.scEditorTabEmpty):hover {
  border-top: 2px solid var(--accent) !important;
}

body.satExperimentalUi #scEditorTabs > ul > li.scEditorTabSelected:not(.scEditorTabEmpty):hover {
  border-top: 3px solid var(--accent) !important;
}

body.satExperimentalUi .scEditorTab {
  background-color: var(--grey5) !important;
}

body.satExperimentalUi .scEditorTab:hover {
  border-top: 2px solid var(--grey2) !important;
  border-bottom: 0px solid transparent !important;
}

body.satExperimentalUi .scEditorTabSelected {
  background-color: var(--white) !important;
  border-top: 3px solid var(--accent) !important;
}

body.satExperimentalUi .scEditorTabSelected:hover {
  background-color: var(--white) !important;
  border-top: 3px solid var(--accent) !important;
  border-bottom: none !important;
}

body.satExperimentalUi .scEditorTabEmpty {
  padding: 0px 3px !important;
}

body.satExperimentalUi .scEditorTabEmpty:hover {
  padding: 0px 3px !important;
}

body.satExperimentalUi a.scRibbonEditorTabActive {
  color: var(--grey2) !important;
  background-color: transparent !important;
  border: 0px !important;
  border-bottom: 3px solid var(--accent) !important;
  margin-top: 13px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

body.satExperimentalUi a.scRibbonEditorTabActive > span > img {
  display: none;
}

body.satExperimentalUi a.scRibbonEditorTabNormal {
  background-color: transparent !important;
  border: 0px !important;
  border-bottom: 3px solid transparent !important;
  margin-top: 13px !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
}

body.satExperimentalUi a.scRibbonEditorTabNormal:hover {
  background-color: transparent;
  border-bottom: 3px solid var(--grey2);
}

body.satExperimentalUi #BTAddNewSearch {
  margin: 13px 0px 0px 0px !important;
  border-bottom: 3px solid transparent !important;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/edition-magnifier.svg"), none !important;
  background-size: 16px 16px !important;
}

body.satExperimentalUi #BTAddNewSearch:active,
body.satExperimentalUi #BTAddNewSearch:hover {
  background-color: transparent !important;
  border-bottom: 3px solid var(--grey2);
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/edition-magnifier.svg"), none !important;
  background-size: 16px 16px;
  box-shadow: none !important;
  opacity: 1 !important;
}

/* Message bar */
body.satExperimentalUi .scMessageBar {
  border-radius: var(--radius) !important;
}

body.satExperimentalUi .scMessageBar .scMessageBarIcon {
  background-position: center 19px !important;
  padding: 7px !important;
  border-top-left-radius: var(--radius) !important;
  border-bottom-left-radius: var(--radius) !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

body.satExperimentalUi .scMessageBar .scMessageBarTextContainer .scMessageBarText {
  margin: 7px 0px 0px 0px;
}

body.satExperimentalUi .scMessageBar .scMessageBarIcon {
  background-position: center 19px !important;
  padding: 7px !important;
}

body.satExperimentalUi .scMessageBar > .scMessageBarTextContainer > .scMessageBarOptions > .scMessageBarOptionBullet > span {
  color: var(--text);
}

body.satExperimentalUi .scMessageBar.scWarning {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--messageWarningBar) !important;
  color: var(--grey7) !important;
  font-size: 14px;
}

body.satExperimentalUi .scWarning > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--messageWarningBgIcon) !important;
}

body.satExperimentalUi .scWarning > .scMessageBarTextContainer > .scMessageBar a,
body.satExperimentalUi .scWarning > .scMessageBarTextContainer > .scMessageBarOption,
body.satExperimentalUi .scWarning > .scMessageBarTextContainer > .scMessageBarOptions > .scMessageBarOptionBullet {
  color: var(--messageWarningLink) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.satExperimentalUi .scWarning .liveUrlBadge {
  background-color: var(--messageWarningLink);
}

body.satExperimentalUi .scMessageBar.scNeutral {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--grey4) !important;
  color: var(--black5) !important;
  font-size: 14px;
}

body.satExperimentalUi .scNeutral > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--grey) !important;
}

body.satExperimentalUi .scNeutral > .scMessageBarTextContainer > .scMessageBar a,
body.satExperimentalUi .scNeutral > .scMessageBarTextContainer > .scMessageBarOption,
body.satExperimentalUi .scNeutral > .scMessageBarTextContainer > .scMessageBarOptions > .scMessageBarOptionBullet {
  color: var(--black5) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.satExperimentalUi .scNeutral .liveUrlBadge {
  background-color: var(--grey);
  color: var(--black5);
}

body.satExperimentalUi .scMessageBar.scError {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--messageDangerBar) !important;
  color: var(--grey7) !important;
  font-size: 14px;
}

body.satExperimentalUi .scError > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--messageDangerBgIcon) !important;
}

body.satExperimentalUi .scError > .scMessageBarTextContainer > .scMessageBar a,
body.satExperimentalUi .scError > .scMessageBarTextContainer > .scMessageBarOption,
body.satExperimentalUi .scError > .scMessageBarTextContainer > .scMessageBarOptions > .scMessageBarOptionBullet {
  color: var(--messageDangerLink) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.satExperimentalUi .scError .liveUrlBadge {
  background-color: var(--messageDangerLink);
}

body.satExperimentalUi .scMessageBar.scInformation {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--messageInfoBar) !important;
  color: var(--grey7) !important;
  font-size: 14px;
}

body.satExperimentalUi .scInformation > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--messageInfoBgIcon) !important;
}

body.satExperimentalUi .scInformation > .scMessageBarTextContainer > .scMessageBar a,
body.satExperimentalUi .scInformation > .scMessageBarTextContainer > .scMessageBarOption,
body.satExperimentalUi .scInformation > .scMessageBarTextContainer > .scMessageBarOptions > .scMessageBarOptionBullet {
  color: var(--messageInfoLink) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.satExperimentalUi .scInformation .liveUrlBadge {
  background-color: var(--messageInfoLink);
}

body.satExperimentalUi .scMessageBar.scSuccess {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--messageSuccessBar) !important;
  color: var(--grey7) !important;
  font-size: 14px;
}

body.satExperimentalUi .scSuccess > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--messageSuccessBgIcon) !important;
}

body.satExperimentalUi .scSuccess > .scMessageBarTextContainer > .scMessageBar a,
body.satExperimentalUi .scSuccess > .scMessageBarTextContainer > .scMessageBarOption,
body.satExperimentalUi .scSuccess > .scMessageBarTextContainer > .scMessageBarOptions > .scMessageBarOptionBullet {
  color: var(--messageSuccessLink) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.satExperimentalUi .scSuccess .liveUrlBadge {
  background-color: var(--messageSuccessLink);
}

body.satExperimentalUi .liveUrlBadge {
  color: var(--white);
  font-size: 12px;
  padding: 1px 5px;
}

body.satExperimentalUi .liveUrlBadge:hover {
  filter: brightness(1.1);
  border-color: inherit;
}

body.satExperimentalUi .scMessageBarTextContainer {
  line-height: 20px !important;
  padding: 15px 25px !important;
}

body.satExperimentalUi .scMessageBarOptions {
  margin: 5px 0px 0px 0px !important;
}

body.satExperimentalUi .scMessageBar a:hover {
  filter: brightness(0.8);
}

/* Sections */

body.satExperimentalUi .scEditorHeader {
  opacity: 0;
  display: none;
}

body.satExperimentalUi .scEditorSections {
  border: 0px;
  margin: 0px !important;
}

body.satExperimentalUi .scEditorSectionCaptionCollapsed,
body.satExperimentalUi .scEditorSectionCaptionExpanded {
  margin: 10px 20px 0px 20px;
  padding: 2px 20px;
  background-color: var(--accent);
  color: var(--accentText);
  border-radius: var(--radius) var(--radius) 0px 0px;
  border: 0px;
  border-bottom: 0px solid #e1e1e1;
  font-size: 14px;
  border-left: none !important;
}

body.satExperimentalUi .scEditorSectionCaptionCollapsed {
  background-color: var(--black9);
  border-radius: var(--radius);
}

body.satExperimentalUi .scEditorSectionCaptionCollapsed:hover {
  background-color: var(--black8);
}

body.satExperimentalUi .scEditorSectionCaptionExpanded > img {
  filter: invert(var(--accentInvert));
}

body.satExperimentalUi .scEditorSectionCaptionGlyph {
  margin: 11px 0px 0 0;
}

body.satExperimentalUi .scEditorSectionPanel {
  display: table;
  border-radius: 0px 0px var(--radius) var(--radius);
  margin: 20px;
  margin-top: 0px !important;
  padding: 15px;
  width: calc(100% - 40px);
  background-color: var(--white);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

body.satExperimentalUi .scEditorSectionPanel.scTabsRounded {
  border-radius: var(--radius);
}

body.satExperimentalUi .scEditorTab.scTabsError {
  border-top: 3px dotted var(--red) !important;
}

body.satExperimentalUi .scEditorSectionPanel.scCrossTabError .scEditorSectionCaptionGlyph {
  display: none;
}

body.satExperimentalUi .scEditorSectionPanelCell {
  padding: 20px 20px 20px 15px;
  font-size: 14px;
}

/* .scContentControlImagePane {
  border: 1px;
} */
body.satExperimentalUi a.scContentButton {
  color: var(--accent);
  border: 1px solid transparent !important;
  margin: 0px 5px 0px 5px !important;
  padding: 3px !important;
  border-radius: var(--radius);
  text-decoration: none;
}

/*Instant Search */
body.satExperimentalUi .scInstantSearchResults > li:focus,
body.satExperimentalUi .scInstantSearchResults > li:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

body.satExperimentalUi .scInstantSearchResults > li:focus > h2,
body.satExperimentalUi .scInstantSearchResults > li:hover > h2 {
  color: var(--accentText) !important;
}

body.satExperimentalUi .scInstantSearchResults > li:focus > p,
body.satExperimentalUi .scInstantSearchResults > li:hover > p {
  color: var(--accentText) !important;
}

/*Forms in section*/

body.satExperimentalUi .scEditorFieldLabel {
  font-size: 14px;
  font-weight: 600;
  padding: 0px 0px 7px 0px;
}

body.satExperimentalUi .scContentButton {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

body.satExperimentalUi .scEditorFieldLabelAdministrator {
  font-size: 11px;
  font-weight: 600;
  border-radius: var(--radius);
  padding: 3px 3px 3px 0px;
  margin: 3px;
  background-color: var(--accent);
  color: var(--accentText);
  white-space: nowrap;
  display: inline;
}

/* Splitter bar */

body.satExperimentalUi .splitter-bar {
  width: 2px;
  margin-left: 0px;
  background-color: var(--grey4);
  z-index: 9 !important;
}

body.satExperimentalUi .splitter-bar:before,
body.satExperimentalUi .splitter-bar:after {
  background-color: var(--grey4);
  z-index: 100 !important;
}

/* Content Editor buttons */

body.satExperimentalUi .scSaveBar {
  background-color: var(--grey5) !important;
  height: 30px;
  border-bottom: 1px solid var(--grey);
  border-left: 0px;
  z-index: 1000;
  padding: 13px;
  display: block;
  min-width: 400px;
  overflow-x: auto;
  overflow-y: hidden;
}

body.satExperimentalUi .scSaveBar > .scBreadcrumb {
  float: left;
  font-size: 12px;
  padding: 8px;
  text-indent: 0px;
  font-size: 13px;
  color: var(--text);
  max-width: 60%;
  width: -webkit-fill-available;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.satExperimentalUi .scSaveBar > .scBreadcrumb > i {
  font-style: initial;
  color: #a5a5a5;
  margin: 1px;
  font-size: 16px;
  vertical-align: middle;
}

body.satExperimentalUi .scSaveBar > .scBreadcrumb > u {
  cursor: pointer;
}

body.satExperimentalUi .scSaveBar > .scActions > .scPublishMenu {
  width: 240px;
  height: fit-content;
  background-color: var(--white);
  position: absolute;
  z-index: 100;
  right: 12px;
  top: 45px;
  visibility: hidden;
  opacity: 0;
  border-radius: var(--radius);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

body.satExperimentalUi .scSaveBar > .scActions > .scPublishMenu > li {
  background: 0 0;
  border: 0;
  display: block;
  clear: both;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  width: calc(100% - 40px);
  text-align: left;
  padding: 8px 20px;
}

body.satExperimentalUi .scSaveBar > .scActions > .scPublishMenu > li:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

body.satExperimentalUi .scSaveBar > .scActions > .scPublishMenu > li:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

body.satExperimentalUi .scSaveBar > .scActions > .scPublishMenu > li:hover {
  background-color: var(--grey5);
}

body.satExperimentalUi .scSaveBar > .scActions > button {
  float: right;
  background-color: var(--grey);
  color: var(--black1);
  font-size: 15px;
  padding: 7px 14px 8px 14px;
  margin: 0px 5px;
  border: 0px;
  border-radius: var(--radius);
  cursor: pointer;
  margin-top: -2px;
}

body.satExperimentalUi .scPublishMenuMoreArrow {
  filter: invert(var(--accentInvert));
}

body.satExperimentalUi .scBackground {
  background: var(--grey3);
}

body.satExperimentalUi .scTitle {
  padding: 10px;
  margin-top: 3px;
  border-bottom: none;
  clear: left;
  font-size: 15px;
  font-weight: 800;
  color: var(--grey7);
  clear: both;
}
body.satExperimentalUi .scFolderButtons {
  padding-left: 10px;
  padding-top: 25px;
}

body.satExperimentalUi .scFolderButtonsTitle {
  display: none;
}

body.satExperimentalUi .scMediaExplorer tbody tr:hover .mediaTitle,
body.satExperimentalUi .scMediaExplorer tbody tr:hover {
  cursor: pointer;
  background: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUi .scMediaExplorer tbody tr:hover button.scMediaActions,
body.satExperimentalUi .scMediaExplorer tbody tr:hover a.scMediaActions {
  opacity: 1;
  filter: invert(var(--accentInvert));
}

body.satExperimentalUi #FileList {
  background: var(--white) !important;
  border-radius: 3px;
  overflow: visible;
  padding-top: 25px !important;
}

body.satExperimentalUi #FileList a.scButton.scButtonList.selected,
body.satExperimentalUi #FileList a.scButton.scButtonGrid.selected {
  background-color: var(--accent) !important;
  border: 1px solid var(--accent) !important;
  background-image: none !important;
  box-shadow: none !important;
}

body.satExperimentalUi #FileList a.scButton.scButtonList.selected > img,
body.satExperimentalUi #FileList a.scButton.scButtonGrid.selected > img {
  filter: invert(1);
}

body.satExperimentalUi input[type="submit"],
body.satExperimentalUi .scButton {
  background-color: var(--grey4);
  color: var(--text);
  font-size: 15px;
  background-image: none;
  padding: 7px 14px 8px 14px;
  border: 0px;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: none;
  outline-color: var(--accent);
}

body.satExperimentalUi .scButtonPrimary {
  background: var(--accent) !important;
  color: var(--accentText);
  outline-color: var(--accent);
  box-shadow: unset;
  border: unset;
  background-image: unset;
}

body.satExperimentalUi .scButtonPrimary:hover {
  filter: brightness(1.07) !important;
}

body.satExperimentalUi .scButtonPrimary:active {
  background: var(--accent) !important;
  color: var(--accentText);
  outline-color: var(--accent);
  filter: brightness(0.9);
  box-shadow: none;
}

body.satExperimentalUi .scButton:hover,
body.satExperimentalUi .scSaveBar > .scActions > button:hover {
  filter: brightness(1.05);
}

body.satExperimentalUi .scSaveBar > .scActions > button:disabled {
  opacity: 0.5;
}

body.satExperimentalUi .scSaveBar > .scActions > button.primary {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUi .scSaveBar > .scActions > button.primaryGrouped {
  border-radius: var(--radius) 0px 0px var(--radius);
  border-right: 1px solid var(--accentBorder);
  margin-right: 0px;
}

body.satExperimentalUi .scSaveBar > .scActions > button.grouped {
  margin: 0px;
  margin-top: -2px;
  padding: 7px 10px 8px 10px;
  margin-right: 5px;
  background-color: var(--accent) !important;
  color: var(--accentText);
  border-radius: 0px var(--radius) var(--radius) 0px;
}

body.satExperimentalUi .scPopup {
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

body.satExperimentalUi .sc-insertItem-container.selected,
body.satExperimentalUi .sc-insertItem-container.selected .sc-display-name,
body.satExperimentalUi .scChecked {
  background-color: var(--accent);
  color: var(--accentText) !important;
  border-color: transparent;
}

body.satExperimentalUi .scPopup > table > tbody > tr[id^="ContextMenu_"] > td {
  padding-top: 7px;
  padding-bottom: 7px;
}

body.satExperimentalUi .scEditorTabControlsHolder > .scMoreMenu {
  width: 240px;
  height: fit-content;
  background-color: var(--white);
  position: absolute;
  z-index: 100;
  right: 12px;
  top: 45px;
  visibility: hidden;
  opacity: 0;
  border-radius: var(--radius);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

body.satExperimentalUi .scEditorTabControlsHolder > .scMoreMenu > li {
  background: 0 0;
  border: 0;
  display: block;
  clear: both;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  width: calc(100% - 40px);
  text-align: left;
  padding: 8px 20px;
}

body.satExperimentalUi .scEditorTabControlsHolder > .scMoreMenu > li:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

body.satExperimentalUi .scEditorTabControlsHolder > .scMoreMenu > li:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

body.satExperimentalUi .scEditorTabControlsHolder > .scMoreMenu > li:hover {
  background-color: var(--grey5);
}

body.satExperimentalUi .scEditorTabControlsHolder > .scMoreMenu > li.separator {
  border-top: 1px solid var(--grey9);
}

body.satExperimentalUi .scEditorTabControlsHolder > .scMoreMenu > li.danger {
  color: var(--accent);
}

body.satExperimentalUi .scEditorTabControlsHolder > .scMoreMenu > li.danger:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

/* Gallery Frame */

body.satExperimentalUi .scGalleryFrame {
  border-radius: var(--radius);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

body.satExperimentalUi .versionNumSelected,
body.satExperimentalUi .scMenuItemIcon_Hover,
body.satExperimentalUi .scMenuItemCaption_Hover,
body.satExperimentalUi .scMenuItemHotkey_Hover,
body.satExperimentalUi .scMenuPanelItemSelected,
body.satExperimentalUi .scMenuPanelItemSelected_Hover,
body.satExperimentalUi .scMenuPanelItem_Hover,
body.satExperimentalUi .sc-gallery-option-content-active {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUi .versionNumSelected {
  font-size: 18px;
  font-weight: bold;
}

body.satExperimentalUi .scMenuPanelItem_Hover > table > tbody > tr > td:last-child > div > div {
  color: var(--accentText) !important;
}

/*Hack for SC extention links */

body.satExperimentalUi .sc-ext-gotofield,
body.satExperimentalUi .sc-ext-resetfield,
body.satExperimentalUi .sc-ext-goToDatasource-button,
body.satExperimentalUi .scEditorFieldLabelAdministrator {
  display: none !important;
  transition: ease-out 0.1s;
}

body.satExperimentalUi .scEditorFieldLabel:hover .sc-ext-gotofield,
body.satExperimentalUi .scEditorFieldLabel:hover .sc-ext-resetfield,
body.satExperimentalUi .scEditorFieldLabel:hover .sc-ext-goToDatasource-button,
body.satExperimentalUi .scEditorFieldLabel:hover .scEditorFieldLabelAdministrator {
  display: inline !important;
}

body.satExperimentalUi .scVerticalImagedTabstrip > div.selected,
body.satExperimentalUi .scVerticalImagedTabstrip > div.selected:hover {
  background-color: var(--grey3) !important;
}

/* @keyframes preloading {
  from {
    background-position: 0px center;
  }
  to {
    background-position: -100px center;
  }
}

body.satExperimentalUi .scMediaThumbnail {
  background: url(chrome-extension://__MSG_@@extension_id__/images/media_loader.jpg) !important;
  background-position: 0px center;
  background-size: cover !important;
  animation: preloading 2s linear infinite;
} */
body.satExperimentalUi a.scContentTreeNodeNormal:hover,
body.satExperimentalUi a.scContentTreeNodeActive,
body.satExperimentalUi a.scContentTreeNodeNormal.scDragHover {
  background-color: var(--accent);
  color: var(--accentText) !important;
  border-radius: var(--radius);
  padding: 3px 8px 8px 8px;
}

body.satExperimentalUi a.scContentTreeNodeActive > .scContentTreeNodeTitle {
  color: var(--accentText);
}

body.satExperimentalUi a.scContentTreeNodeActive > img {
  filter: brightness(var(--iconBrightness)) contrast(var(--iconContrast));
}

body.satExperimentalUi .scOpenItem {
  background-color: var(--accent);
  color: var(--accentText) !important;
  padding: 3px 5px;
  border-radius: var(--radius);
  font-weight: 600;
}

/* body.satExperimentalUi .sc-label, */
body.satExperimentalUi [data-sc-id="ReferenceContentSearchBorder"] {
  background-color: var(--accent);
  color: var(--accentText);
}

body.satExperimentalUi .scPreviewButton.focus {
  outline: 0px solid var(--accent);
  box-shadow: 0 0 0 2.5px var(--accent) !important;
}

body.satExperimentalUi .scLink:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

/* RTE */
body.satExperimentalUi .reEditorModesCell {
  background-color: var(--black5);
  height: 30px;
  border-top: 2px solid var(--accent) !important;
}

/* UI Dialog */

body.satExperimentalUi .ui-progressbar-value {
  background-color: var(--accent) !important;
}

body.satExperimentalUi .ui-progressbar-indeterminate.ui-progressbar {
  background-color: var(--accent) !important;
}

body.satExperimentalUi .zg-delightful-droppable.hovered {
  background-color: #0f7ec254;
}

body.satExperimentalUi .sxa-toolbox-droppable.toolbox-dropping .inner,
body.satExperimentalUi .sxa-toolbox-div.toolbox-dropping .inner {
  background-color: var(--accent);
}

/* .ui-dialog .ui-dialog-titlebar,
body.satExperimentalUi .ui-dialog .ui-dialog-titlebar + .DialogHeader,
body.satExperimentalUi .scFormDialogHeader,
body.satExperimentalUi .scDialogHeader,
body.satExperimentalUi .ui-widget-header {
  color: var(--accentText);
  background-color: var(--accent);
} */

body.satExperimentalUi nobr:first-child > .scTabActive,
body.satExperimentalUi nobr:first-child > .scTabActive_Hover {
  border-left: 1px solid var(--accent);
}

body.satExperimentalUi nobr:last-child > .scTabActive,
body.satExperimentalUi nobr:last-child > .scTabActive_Hover {
  border-right: 1px solid var(--accent);
}

body.satExperimentalUi .scTabActive,
body.satExperimentalUi .scTabActive_Hover {
  background-color: var(--accent);
  color: var(--accentText);
  border-top: 1px solid var(--accent);
}

body.satExperimentalUi .scTabActive:after,
body.satExperimentalUi .scTabActive_Hover:after {
  background: var(--accent);
}

body.satExperimentalUi .scTabstrip {
  border-bottom: 2px solid var(--accent);
}

/**
* Desktop mode
*/
body.satExperimentalUi .titleBarDesktop {
  cursor: move;
  background-color: var(--grey2);
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  color: var(--grey);
  text-align: center;
  font-size: 12px;
  padding: 6px;
  border: 0px;
  display: block;
  transition: all ease-in-out 0.1s;
}
body.satExperimentalUi .titleBarDesktop:hover {
  background-color: var(--grey13);
}
body.satExperimentalUi .titleBarDesktop.hide {
  display: none;
}
body.satExperimentalUi .titleBarText {
  margin-left: 85px;
}
body.satExperimentalUi .titleBarDesktop .windowIcon {
  position: unset;
  float: right;
  margin: 2px 8px;
  right: 0px;
  top: 0px;
  opacity: 0.5;
  cursor: pointer;
}

body.satExperimentalUi .titleBarDesktop .windowIcon:hover {
  opacity: 1;
}

body.satExperimentalUi .scIconCopy {
  vertical-align: middle;
}

body.satExperimentalUi #sxa-toolbox #sxa-toolbox-root ul li:hover,
body.satExperimentalUi .scCalendarSelected,
body.satExperimentalUi .scCalendarToday:hover,
body.satExperimentalUi .scTimePicker a:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

body.satExperimentalUi .scCalendarUI {
  position: relative;
  border: 1px solid var(--grey14);
  border-left: none;
  background: var(--grey15);
  margin-left: -1px;
  padding: 8px;
  border-radius: 0px;
  box-shadow: unset;
  width: 16px;
}

body.satExperimentalUi input.scPasswordUI {
  text-indent: 35px;
}

body.satExperimentalUi div.scPasswordUI {
  position: absolute;
  border: 1px solid var(--grey14);
  border-right: none;
  background: var(--grey15);
  height: 16px;
  padding: 8px;
  border-radius: 0px;
  box-shadow: unset;
  width: 16px;
  z-index: 10;
}

body.satExperimentalUi .btn-primary,
body.satExperimentalUi .sc-quickbar-tab:hover {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
  border-radius: var(--radius);
  box-shadow: unset;
  border: 1px solid transparent;
  background-image: unset;
}

body.satExperimentalUi .sc-ribbon .pressed {
  background-color: var(--grey) !important;
  color: var(--black1) !important;
}

body.satExperimentalUi .sc-quickbar-tab {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

body.satExperimentalUi .sc-quickbar-tab:hover {
  border-bottom: 0px solid transparent !important;
}

body.satExperimentalUi .btn-default {
  background-color: var(--grey) !important;
  color: var(--black1) !important;
  border-radius: var(--radius);
  box-shadow: unset;
  border: 1px solid transparent;
  background-image: unset;
}

body.satExperimentalUi .btn-primary:hover,
body.satExperimentalUi .btn-default:hover {
  filter: brightness(1.1);
}

body.satExperimentalUi span.dynatree-active a,
body.satExperimentalUi span.dynatree-active a:hover,
body.satExperimentalUi ul.dynatree-container a:hover {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
  border-radius: var(--radius);
}

body.satExperimentalUi .menu-item a.active {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}
