/*
 * Sitecore Expeimental Mode UI, by Ugo Quaisse
 * experimental.css
 */

body.experimentalui {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: var(--grey1) !important;
}

body.experimentalui button:focus,
body.experimentalui button:active {
  outline: 0px solid var(--accent);
  box-shadow: 0 0 0 2.5px var(--accent) !important;
}

body.experimentalui #scPanel h1 {
  font-size: 250%;
  font-weight: 700;
  color: var(--accent);
  padding: 20px;
  margin: auto;
}

body.experimentalui #scPanel h2 {
  font-size: 125%;
  border-bottom: 1px solid var(--text);
  font-weight: 700;
  color: var(--text);
  padding: 15px 0px;
  text-transform: uppercase;
}

body.experimentalui #scPanel h3 {
  font-size: 100%;
  font-weight: 700;
  color: var(--accent);
  padding: 10px 0px 2px 0px;
  margin: auto;
}

body.experimentalui #scPageExtendersForm {
  border-bottom: 3px solid var(--accent);
}

body.experimentalui .visible {
  visibility: visible !important;
  opacity: 1 !important;
}

body.experimentalui .saveMessage {
  position: fixed;
  margin: auto;
  top: -50px;
  z-index: 10000000000;
  background-color: var(--messageSuccessLink);
  color: var(--messageSuccessBar);
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding: 10px 15px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

body.experimentalui .saveMessage.visible {
  top: 30px;
}

body.experimentalui .scMenuButton {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

body.experimentalui .sc-globalheader-appName {
  cursor: pointer;
}

/* Sitecore hide */

body.experimentalui .scValidatorPanel,
body.experimentalui .scDockTop,
body.experimentalui .scDockBottom {
  display: none;
}

/* Global containers */

body.experimentalui #globalLogo {
  background: url(chrome-extension://__MSG_@@extension_id__/images/square-logo.svg)
    center center no-repeat;
  background-color: var(--accent);
  background-size: 105%;
}

body.experimentalui #ContentEditor {
  margin-left: -1px;
}

body.experimentalui #EditorTabs {
  position: absolute;
  width: -webkit-fill-available;
  background-color: var(--white);
  border-bottom: 0px solid #ffffff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

body.experimentalui #EditorFrames {
  margin-top: 56px;
  height: calc(100% - 115px);
}

body.experimentalui #SearchPanel {
  padding: 18px 18px 16px 18px;
  min-height: 57px;
  background-color: #e8e6e6;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid var(--grey);
}

body.experimentalui input[type="color"] {
  outline: none;
  background-color: #2b2b2b;
  border-radius: 100px;
  width: 16px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid #2b2b2b;
  box-shadow: inset 0 0 1px 7px #2b2b2b;
  cursor: pointer;
}

body.experimentalui input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  color: transparent;
}

body.experimentalui input[type="color"]::-webkit-color-swatch {
  border: none;
}

body.experimentalui .wbNotificationMenu {
  background-color: var(--accent);
  right: 117px;
}

body.experimentalui #scSitecoreRibbon {
  width: 40px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 5px;
  border-radius: 20px;
  transition: all 0.1s ease 0s;
  background: var(--white);
  border: 1px solid var(--white);
  outline: 0;
}

body.experimentalui #scSitecoreRibbon:focus {
  outline: 0;
}

body.experimentalui #scSitecoreRibbon > span {
  width: 12px;
  height: 12px;
  background-color: var(--grey2);
  margin-left: 0px;
  border-radius: 12px;
  transition: all 0.1s ease 0s;
  display: block;
}

body.experimentalui #scSitecoreRibbon > span.active {
  background-color: var(--accent);
  margin-left: 14px;
}

body.experimentalui #EditorTabs #scFlag,
body.experimentalui #scFlagMenu,
body.experimentalui .liveUrlStatus {
  visibility: hidden;
  display: none;
}

body.experimentalui .scWindowBorder3 {
  background-color: transparent !important;
  height: 0px;
}

body.experimentalui .scEditorPanel {
  margin-right: 0px;
}

body.experimentalui .scContentButtons {
  margin-left: -5px;
}

body.experimentalui a.scContentButton {
  color: var(--accent);
}

body.experimentalui a.scTileItem:hover {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.experimentalui #scModal .header {
  background-color: var(--accent);
  color: var(--accentText);
}

body.experimentalui #scModal .header .maximize {
  filter: brightness(var(--accentBrightness));
}

body.experimentalui #scModal .header .close {
  filter: brightness(var(--accentBrightness));
}

body.experimentalui .showSitecoreMenu {
  display: block !important;
}

body.experimentalui .scSitecoreMenu {
  transform: rotate(180deg);
}

body.experimentalui #scAccentColor {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 18px;
  height: 18px;
}
body.experimentalui #scAccentColor::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}
body.experimentalui #scAccentColor::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

body.experimentalui ul.scAccountMenu li:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

body.experimentalui .scEditorFieldMarker {
  margin: 0 0 40px 0;
}

body.experimentalui .scLanguageIcon,
body.experimentalui .scVersionIcon {
  width: 16px;
  height: 16px;
  vertical-align: sub;
}

body.experimentalui .scEditorQuickInfo {
  margin: 0px;
  border-spacing: 0px;
  border-collapse: separate;
}

body.experimentalui .scEditorQuickInfo td {
  padding: 8px;
}

body.experimentalui .splitter-bar:hover::before,
body.experimentalui .splitter-bar:hover {
  background-color: var(--accent) !important;
}

body.experimentalui .liveUrlDot {
  vertical-align: inherit;
  width: 10px;
  height: 10px;
  margin-left: 2px;
}

body.experimentalui .scNoResult,
body.experimentalui .scHelp,
body.experimentalui .scNoVersion {
  margin: auto;
  padding: 50px;
  text-align: center;
  font-size: 15px;
  color: var(--grey7);
  font-weight: 800;
}

body.experimentalui .scNoResult > img,
body.experimentalui .scNoVersion > img {
  width: 256px;
  opacity: 0.15;
  padding: 20px;
}

body.experimentalui .scNoVersion > p {
  padding: 0px 0px 10px 0px;
}

body.experimentalui .scNoVersion > button {
  font-size: 12px;
  padding: 9px 14px;
  position: relative;
  border-radius: var(--radius);
  border: 0px;
  background-color: var(--accent);
  color: var(--accentText);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px 5px;
  box-shadow: none;
  cursor: pointer;
}

body.experimentalui .scNoVersion > button:hover {
  filter: brightness(0.95);
}

body.experimentalui
  .scEditorTabHeaderNormal
  > span.scEditorTabHeaderModified:after,
body.experimentalui
  .scEditorTabHeaderActive
  > span.scEditorTabHeaderModified:after {
  color: var(--accent);
  padding-left: 2px;
}

body.experimentalui .scContentControlImageImage {
  padding: 0px;
}

body.experimentalui .scContentControlImageImage > iframe {
  /* background-image: linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(-45deg, #ddd 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(-45deg, transparent 75%, #ddd 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px; */
  background: var(--grey12)
    url(chrome-extension://__MSG_@@extension_id__/images/backgroundImage.svg)
    center 70% no-repeat;
  background-size: 7%;
}

body.experimentalui .scContentControlImageDetails {
  /* border-top: 1px solid var(--grey); */
  background-color: var(--grey12);
}

/*Forms*/

body.experimentalui #Editors input:not([type]),
body.experimentalui #Editors input[type="text"],
body.experimentalui #Editors input[type="password"],
body.experimentalui #Editors select,
body.experimentalui #Editors textarea,
body.experimentalui #ContentWrapper {
  font-size: 15px;
  line-height: 20px;
  border-radius: none;
  box-shadow: none;
  padding: 4px 6px;
  box-sizing: border-box;
}

body.experimentalui #Editors select:not([multiple]) {
  min-height: 34px !important;
  border-radius: 0px !important;
  /*-webkit-appearance: initial;*/
}

body.experimentalui .scContentControlSelectedList {
  bottom: 1px;
}

body.experimentalui
  .scContentControlCheckbox:checked
  + .scContentControlCheckboxLabel::before {
  background-color: var(--accent) !important;
}

body.experimentalui select option:focus,
body.experimentalui select option:active,
body.experimentalui select option:checked {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

/* Icons */

body.experimentalui .scMenuItemIcon,
body.experimentalui .scMenuItemIcon_Disable,
body.experimentalui .elementImgAlignment,
body.experimentalui .scEditorHeaderNavigatorIcon,
body.experimentalui .scContentTreeNodeIcon {
  filter: brightness(var(--iconBrightness));
}

body.experimentalui .scContentTreeNodeIcon {
  margin: 0 8px 0 0;
  transform: scale(1.15);
  position: relative;
  z-index: 10;
  image-rendering: pixelated;
}

body.experimentalui .scMenuItemCaption,
body.experimentalui .scMenuItemCaption_Hover {
  padding: 0 10px;
  font-size: 14px;
}

body.experimentalui .scTreeview .icon,
body.experimentalui .scTreeview .icon_Hover,
body.experimentalui #scModal .item > a > img {
  filter: brightness(var(--iconBrightness)) contrast(var(--iconContrast));
}

body.experimentalui #scModal .item:hover > a > img {
  filter: unset;
}

/* Content Tree */

body.experimentalui .scContentTree {
  overflow-x: hidden;
  z-index: 100;
}

body.experimentalui .scContentTreeNodeGlyph {
  width: 20px !important;
  vertical-align: middle !important;
  filter: grayscale(1);
}

body.experimentalui div.scContentTreeNode {
  padding: 2px 0px 1px 17px;
  font-size: 14px;
}

body.experimentalui div.scContentTreeNode > img {
  position: relative;
  z-index: 10;
  margin-top: 0px;
  padding-bottom: 8px;
  cursor: pointer;
}

body.experimentalui div.scContentTreeNode > img:hover {
  background-color: transparent;
}

body.experimentalui .scDragHover {
  /*background-color: var(--accent) !important;*/
  border: 2px dashed var(--black1) !important;
}

body.experimentalui .scContentDragMarker {
  background-color: var(--accent) !important;
  color: var(--accent) !important;
  height: 4px;
  margin-top: 3px;
  margin-left: -15px;
  border-radius: var(--radius);
}

body.experimentalui
  img.scContentTreeNodeGlyph:hover[src="/sitecore/shell/themes/standard/images/noexpand15x15.gif"] {
  background-color: transparent;
}

body.experimentalui #ContentTreePanel a.scContentTreeNodeActive,
body.experimentalui #ContentTreePanel a.scContentTreeNodeNormal {
  background-color: transparent;
  width: -webkit-fill-available;
  padding: 1px 0px 5px 5px;
  vertical-align: sub;
  border: 2px solid transparent;
  z-index: 1;
}

body.experimentalui .scContentControlTree a.scContentTreeNodeActive,
body.experimentalui .scContentControlTree a.scContentTreeNodeNormal {
  vertical-align: super;
}

body.experimentalui #ContentTreePanel a.scContentTreeNodeActive > span,
body.experimentalui #ContentTreePanel a.scContentTreeNodeNormal > span {
  background-color: transparent;
  padding: 10px 0px;
  height: 20px;
  position: absolute;
  width: -webkit-fill-available !important;
  margin-left: -500px;
  margin-top: -10px;
  text-indent: 500px;
  z-index: 1;
}

body.experimentalui
  #ContentTreePanel
  a.scContentTreeNodeActive
  > span
  > div.scItemName,
body.experimentalui
  #ContentTreePanel
  a.scContentTreeNodeNormal
  > span
  > div.scItemName {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.experimentalui #ContentTreePanel a.scContentTreeNodeActive > span {
  color: var(--white) !important;
}

body.experimentalui #ContentTreePanel a.scContentTreeNodeNormal > span {
  color: var(--text);
}

body.experimentalui #ContentTreePanel a.scContentTreeNodeActive > span > div,
body.experimentalui #ContentTreePanel a.scContentTreeNodeNormal > span > div {
  display: block;
  overflow: hidden;
  width: calc(100% - 100px);
  text-overflow: ellipsis;
  margin-top: -19px;
  margin-left: 24px;
}

body.experimentalui #ContentTreePanel .scContentTreeNodeGlyph:hover + a > span,
body.experimentalui
  #ContentTreePanel
  div.scContentTreeNode
  > img:hover
  + a
  > span,
body.experimentalui #ContentTreePanel a.scContentTreeNodeNormal:hover > span {
  background-color: var(--grey5) !important;
}

body.experimentalui #ContentTreePanel a.scContentTreeNodeActive > span {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.experimentalui #ContentTreePanel a.scContentTreeNodeActive > span > img {
  max-width: 16px;
}

body.experimentalui .scGutter {
  z-index: 1002;
  top: 0;
  width: 10px;
  height: 100%;
  position: absolute;
}

body.experimentalui .scContentTreeNodeGutter {
  z-index: 1001;
}

body.experimentalui .scContentTreeNodeGutterIcon {
  z-index: 1001;
}

body.experimentalui .scInsertItemIcon {
  position: relative;
  color: var(--black1);
  z-index: 101;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -31px;
  margin-right: 11px;
  background: url(chrome-extension://__MSG_@@extension_id__/images/add.svg)
    center center transparent no-repeat;
  filter: invert(1);
}

body.experimentalui .scEditItemIcon {
  position: relative;
  color: var(--black1);
  z-index: 101;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -31px;
  margin-right: 40px;
  background: url(chrome-extension://__MSG_@@extension_id__/images/edit2.svg)
    center center transparent no-repeat;
  filter: invert(1);
}

body.experimentalui .scInsertItemIconInverted {
  filter: invert(0);
}

/* Content Editor Header */

body.experimentalui .scEditorHeaderIcon {
  filter: brightness(10);
}

body.experimentalui .scEditorHeaderTitle {
  color: var(--white) !important;
}

body.experimentalui .scEditorHeaderTitleHelp {
  margin-top: -5px;
}

body.experimentalui .scEditorHeaderTitleHelp > a {
  color: var(--grey);
}

body.experimentalui .scEditorTabControlsHolder {
  margin: 11px 13px;
  height: auto;
}

body.experimentalui button.scEditorHeaderButton,
body.experimentalui a.scEditorHeaderButton {
  font-size: 12px;
  padding: 9px 14px;
  position: relative;
  border-radius: var(--radius);
  border: 0px;
  background-color: var(--grey5);
  color: var(--black6);
  font-weight: bold;
  margin: 0px 5px;
  box-shadow: none;
  cursor: pointer;
}

body.experimentalui button.scEditorHeaderButton:hover,
body.experimentalui a.scEditorHeaderButton:hover {
  filter: brightness(0.95);
}

body.experimentalui button.scEditorHeaderButton:disabled {
  opacity: 0.5;
}

body.experimentalui .scEditorHeaderButton > img {
  transition: transform 0.2s ease-in-out;
}

/*Overlay*/
body.experimentalui iframe.ui-widget-content {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/*Iframe */
body.experimentalui #Renderings {
  padding: 0px 10px;
}
body.experimentalui #scLanguageIframe,
body.experimentalui #scVersionIframe {
  position: fixed;
  background-color: var(--white);
  top: 0px !important;
  right: -420px !important;
  left: unset !important;
  width: 400px !important;
  height: 100% !important;
  border-radius: var(--radius);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: right ease-out 0.2s;
}

body.experimentalui #scVersionIframe.open,
body.experimentalui #scLanguageIframe.open,
body.experimentalui #scPanel.open {
  right: 0px !important;
}

/* Content Editor Tabs */

body.experimentalui #scEditorTabs {
  background-color: transparent;
  margin: 20px 20px 0px 20px;
  overflow-x: hidden;
}

body.experimentalui #scEditorTabs > ul {
  overflow-x: scroll;
  transition: margin-left ease-out 0.2s !important;
  width: auto !important;
}

body.experimentalui #scEditorTabs > ul::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: var(--white);
  border-radius: var(--radius);
}

body.experimentalui #scEditorTabs > ul > li {
  background-color: transparent;
  border: 1px solid #e2e2e2;
  border-bottom: 0px solid #e2e2e2;
  padding: 7px 12px 7px 12px;
  font-size: 14px;
  font-weight: 400;
}

body.experimentalui .scEditorTab {
  background-color: var(--grey5) !important;
}

body.experimentalui .scEditorTab:hover {
  border-top: 2px solid var(--grey2) !important;
  border-bottom: 0px solid transparent !important;
}

body.experimentalui .scEditorTabSelected {
  background-color: var(--white) !important;
  border-top: 3px solid var(--accent) !important;
}

body.experimentalui .scEditorTabSelected:hover {
  background-color: var(--white) !important;
  border-top: 3px solid var(--accent) !important;
  border-bottom: none !important;
}

body.experimentalui .scEditorTabEmpty {
  padding: 0px 3px !important;
}

body.experimentalui a.scRibbonEditorTabActive {
  color: var(--grey2) !important;
  background-color: transparent !important;
  border: 0px !important;
  border-bottom: 3px solid var(--accent) !important;
  margin-top: 13px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

body.experimentalui a.scRibbonEditorTabActive > span > img {
  display: none;
}

body.experimentalui a.scRibbonEditorTabNormal {
  background-color: transparent !important;
  border: 0px !important;
  border-bottom: 3px solid transparent !important;
  margin-top: 13px !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
}

body.experimentalui a.scRibbonEditorTabNormal:hover {
  background-color: transparent;
  border-bottom: 3px solid var(--grey2);
}

body.experimentalui #BTAddNewSearch {
  margin: 13px 0px 0px 0px !important;
  border-bottom: 3px solid transparent !important;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/edition-magnifier.svg"),
    none !important;
  background-size: 16px 16px !important;
}

body.experimentalui #BTAddNewSearch:active,
body.experimentalui #BTAddNewSearch:hover {
  background-color: transparent !important;
  border-bottom: 3px solid var(--grey2);
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/edition-magnifier.svg"),
    none !important;
  background-size: 16px 16px;
  box-shadow: none !important;
  opacity: 1 !important;
}

/* Message bar */
body.experimentalui .scMessageBar .scMessageBarTextContainer .scMessageBarText {
  margin: 7px 0px 0px 0px;
}

body.experimentalui .scMessageBar .scMessageBarIcon {
  background-position: center 19px !important;
  padding: 7px !important;
}

body.experimentalui
  .scMessageBar
  > .scMessageBarTextContainer
  > .scMessageBarOptions
  > .scMessageBarOptionBullet
  > span {
  color: var(--text);
}

body.experimentalui .scMessageBar.scWarning {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--messageWarningBar) !important;
  color: var(--grey7) !important;
  font-size: 14px;
}

body.experimentalui .scWarning > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--messageWarningBgIcon) !important;
}

body.experimentalui .scWarning > .scMessageBarTextContainer > .scMessageBar a,
body.experimentalui
  .scWarning
  > .scMessageBarTextContainer
  > .scMessageBarOption,
body.experimentalui
  .scWarning
  > .scMessageBarTextContainer
  > .scMessageBarOptions
  > .scMessageBarOptionBullet {
  color: var(--messageWarningLink) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.experimentalui .scMessageBar.scError {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--messageDangerBar) !important;
  color: var(--grey7) !important;
  font-size: 14px;
}

body.experimentalui .scError > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--messageDangerBgIcon) !important;
}

body.experimentalui .scError > .scMessageBarTextContainer > .scMessageBar a,
body.experimentalui .scError > .scMessageBarTextContainer > .scMessageBarOption,
body.experimentalui
  .scError
  > .scMessageBarTextContainer
  > .scMessageBarOptions
  > .scMessageBarOptionBullet {
  color: var(--messageDangerLink) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.experimentalui .scMessageBar.scInformation {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--messageInfoBar) !important;
  color: var(--grey7) !important;
  font-size: 14px;
}

body.experimentalui .scInformation > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--messageInfoBgIcon) !important;
}

body.experimentalui
  .scInformation
  > .scMessageBarTextContainer
  > .scMessageBar
  a,
body.experimentalui
  .scInformation
  > .scMessageBarTextContainer
  > .scMessageBarOption,
body.experimentalui
  .scInformation
  > .scMessageBarTextContainer
  > .scMessageBarOptions
  > .scMessageBarOptionBullet {
  color: var(--messageInfoLink) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.experimentalui .scMessageBar.scSuccess {
  margin: 20px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--messageSuccessBar) !important;
  color: var(--grey7) !important;
  font-size: 14px;
}

body.experimentalui .scSuccess > .scMessageBarIcon {
  border-radius: var(--radius) 0px 0px var(--radius);
  background-color: var(--messageSuccessBgIcon) !important;
}

body.experimentalui .scSuccess > .scMessageBarTextContainer > .scMessageBar a,
body.experimentalui
  .scSuccess
  > .scMessageBarTextContainer
  > .scMessageBarOption,
body.experimentalui
  .scSuccess
  > .scMessageBarTextContainer
  > .scMessageBarOptions
  > .scMessageBarOptionBullet {
  color: var(--messageSuccessLink) !important;
  text-decoration-color: rgba(0, 0, 0, 0.15) !important;
}

body.experimentalui .liveUrlBadge {
  background-color: var(--accent) !important;
  color: var(--messageWarningBar) !important;
  font-size: 10px;
  padding: 1px 5px;
  visibility: hidden;
  display: none;
}

body.experimentalui .scMessageBarTextContainer {
  line-height: 20px !important;
  padding: 15px 25px !important;
}

body.experimentalui .scMessageBarOptions {
  margin: 5px 0px 0px 0px !important;
}

body.experimentalui .scMessageBar a:hover {
  filter: brightness(0.8);
}

/* Sections */

body.experimentalui .scEditorHeader {
  opacity: 0;
  display: none;
}

body.experimentalui .scEditorSections {
  border: 0px;
  margin: 0px !important;
}

body.experimentalui .scEditorSectionCaptionCollapsed,
body.experimentalui .scEditorSectionCaptionExpanded {
  margin: 10px 20px 0px 20px;
  padding: 2px 20px;
  background-color: var(--accent);
  color: var(--accentText);
  border-radius: var(--radius) var(--radius) 0px 0px;
  border: 0px;
  border-bottom: 0px solid #e1e1e1;
  font-size: 14px;
  border-left: 0px solid #dc291e;
}

body.experimentalui .scEditorSectionCaptionCollapsed {
  background-color: var(--black9);
  border-radius: var(--radius);
}

body.experimentalui .scEditorSectionCaptionCollapsed:hover {
  background-color: var(--black8);
}

body.experimentalui .scEditorSectionCaptionGlyph {
  margin: 11px 0px 0 0;
}

body.experimentalui .scEditorSectionPanel {
  display: table;
  border-radius: 0px 0px var(--radius) var(--radius);
  margin: 20px;
  margin-top: 0px !important;
  padding: 15px;
  width: calc(100% - 40px);
  background-color: var(--white);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

body.experimentalui .scEditorSectionPanel.scTabsRounded {
  border-radius: var(--radius);
}

body.experimentalui .scEditorTab.scTabsError {
  border-top: 3px dotted var(--red) !important;
}

body.experimentalui
  .scEditorSectionPanel.scCrossTabError
  .scEditorSectionCaptionGlyph {
  display: none;
}

body.experimentalui .scEditorSectionPanelCell {
  padding: 20px 20px 20px 15px;
  font-size: 14px;
}

/* .scContentControlImagePane {
  border: 1px;
} */
body.experimentalui a.scContentButton {
  color: var(--accent);
  border: 1px solid transparent !important;
  margin: 8px 8px 0px 0px !important;
  padding: 5px !important;
  border-radius: var(--radius);
  text-decoration: none;
}

body.experimentalui a.scContentButton:hover {
  color: var(--accentText) !important;
  background-color: var(--accent);
  text-decoration: none;
}
/*Instant Search */
body.experimentalui .scInstantSearchResults > li:focus,
body.experimentalui .scInstantSearchResults > li:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

body.experimentalui .scInstantSearchResults > li:focus > h2,
body.experimentalui .scInstantSearchResults > li:hover > h2 {
  color: var(--accentText) !important;
}

body.experimentalui .scInstantSearchResults > li:focus > p,
body.experimentalui .scInstantSearchResults > li:hover > p {
  color: var(--accentText) !important;
}

body.experimentalui .scInstantSearchResults > li > p > img,
body.experimentalui .scInstantSearchResults > li > p > img {
  filter: brightness(10);
}

body.experimentalui .scInstantSearchResults > li:focus > p > img,
body.experimentalui .scInstantSearchResults > li:hover > p > img {
  filter: brightness(var(--accentBrightness));
}

/*Forms in section*/

body.experimentalui .scEditorFieldLabel {
  font-size: 14px;
  font-weight: 600;
  padding: 0px 0px 7px 0px;
}

body.experimentalui .scContentButton {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

body.experimentalui .scEditorFieldLabelAdministrator {
  font-size: 11px;
  font-weight: 600;
  border-radius: var(--radius);
  padding: 3px 3px 3px 0px;
  margin: 3px;
  background-color: var(--accent);
  color: var(--accentText);
  white-space: nowrap;
  display: inline;
}

/* Splitter bar */

body.experimentalui .splitter-bar {
  width: 2px;
  margin-left: 0px;
  background-color: var(--grey4);
  z-index: 9 !important;
}

body.experimentalui .splitter-bar:before,
body.experimentalui .splitter-bar:after {
  background-color: var(--grey4);
  z-index: 100 !important;
}

/* Content Editor buttons */

body.experimentalui .scSaveBar {
  background-color: var(--grey5) !important;
  height: 30px;
  border-bottom: 1px solid var(--grey);
  border-left: 0px;
  z-index: 1000;
  padding: 13px;
}

body.experimentalui .scSaveBar > .scBreadcrumb {
  float: left;
  font-size: 12px;
  padding: 8px;
  text-indent: 0px;
  font-size: 13px;
  color: var(--text);
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.experimentalui .scSaveBar > .scBreadcrumb > i {
  font-style: initial;
  color: #a5a5a5;
  margin: 1px;
  font-size: 16px;
  vertical-align: middle;
}

body.experimentalui .scSaveBar > .scBreadcrumb > u {
  cursor: pointer;
}

body.experimentalui .scSaveBar > .scActions > .scPublishMenu {
  width: 240px;
  height: fit-content;
  background-color: var(--white);
  position: absolute;
  z-index: 100;
  right: 12px;
  top: 45px;
  visibility: hidden;
  opacity: 0;
  border-radius: var(--radius);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

body.experimentalui .scSaveBar > .scActions > .scPublishMenu > li {
  background: 0 0;
  border: 0;
  display: block;
  clear: both;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  width: calc(100% - 40px);
  text-align: left;
  padding: 8px 20px;
}

body.experimentalui .scSaveBar > .scActions > .scPublishMenu > li:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

body.experimentalui .scSaveBar > .scActions > .scPublishMenu > li:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

body.experimentalui .scSaveBar > .scActions > .scPublishMenu > li:hover {
  background-color: var(--grey5);
}

body.experimentalui .scSaveBar > .scActions > button {
  float: right;
  background-color: var(--grey);
  color: var(--black1);
  font-size: 15px;
  padding: 7px 14px 8px 14px;
  margin: 0px 5px;
  border: 0px;
  border-radius: var(--radius);
  cursor: pointer;
  margin-top: -2px;
}

body.experimentalui .scBackground {
  background: var(--grey3);
}

body.experimentalui .scTitle {
  padding: 10px;
  margin-top: 3px;
  border-bottom: none;
  clear: left;
  font-size: 15px;
  font-weight: 800;
  color: var(--grey7);
  clear: both;
}
body.experimentalui .scFolderButtons {
  padding-left: 10px;
  padding-top: 25px;
}

body.experimentalui .scFolderButtonsTitle {
  display: none;
}

body.experimentalui .scMediaExplorer tbody tr:hover .mediaTitle,
body.experimentalui .scMediaExplorer tbody tr:hover {
  cursor: pointer;
  background: var(--accent) !important;
  color: var(--accentText) !important;
}

body.experimentalui .scMediaExplorer tbody tr:hover button.scMediaActions,
body.experimentalui .scMediaExplorer tbody tr:hover a.scMediaActions {
  opacity: 1;
  filter: invert(var(--accentInvert));
}

body.experimentalui #FileList {
  background: var(--white) !important;
  border-radius: 3px;
  overflow: visible;
  padding-top: 25px !important;
}

body.experimentalui #FileList a.scButton.scButtonList.selected,
body.experimentalui #FileList a.scButton.scButtonGrid.selected {
  background-color: var(--accent) !important;
  border: 1px solid var(--accent) !important;
  background-image: none !important;
  box-shadow: none !important;
}

body.experimentalui #FileList a.scButton.scButtonList.selected > img,
body.experimentalui #FileList a.scButton.scButtonGrid.selected > img {
  filter: invert(var(--accentInvert));
}

body.experimental input[type="submit"],
body.experimentalui .scButton {
  background-color: var(--grey4);
  color: var(--text);
  font-size: 15px;
  background-image: none;
  padding: 7px 14px 8px 14px;
  border: 0px;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: none;
  outline-color: var(--accent);
}

body.experimentalui .scButtonPrimary {
  background: var(--accent) !important;
  color: var(--accentText);
  outline-color: var(--accent);
}

body.experimentalui .scButtonPrimary:hover {
  filter: brightness(1.07) !important;
}

body.experimentalui .scButtonPrimary:active {
  background: var(--accent) !important;
  color: var(--accentText);
  outline-color: var(--accent);
  filter: brightness(0.9);
  box-shadow: none;
}

body.experimentalui .scButton:hover,
body.experimentalui .scSaveBar > .scActions > button:hover {
  filter: brightness(1.05);
}

body.experimentalui .scSaveBar > .scActions > button:disabled {
  opacity: 0.5;
}

body.experimentalui .scSaveBar > .scActions > button.primary {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.experimentalui .scSaveBar > .scActions > button.primaryGrouped {
  border-radius: var(--radius) 0px 0px var(--radius);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 0px;
}

body.experimentalui .scSaveBar > .scActions > button.grouped {
  margin: 0px;
  margin-top: -2px;
  padding: 7px 10px 8px 10px;
  margin-right: 5px;
  background-color: var(--accent) !important;
  border-radius: 0px var(--radius) var(--radius) 0px;
}

body.experimentalui .scPopup {
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

body.experimentalui .scPopup > table > tbody > tr[id^="ContextMenu_"] > td {
  padding-top: 7px;
  padding-bottom: 7px;
}

body.experimentalui .scEditorTabControlsHolder > .scMoreMenu {
  width: 240px;
  height: fit-content;
  background-color: var(--white);
  position: absolute;
  z-index: 100;
  right: 12px;
  top: 45px;
  visibility: hidden;
  opacity: 0;
  border-radius: var(--radius);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

body.experimentalui .scEditorTabControlsHolder > .scMoreMenu > li {
  background: 0 0;
  border: 0;
  display: block;
  clear: both;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  width: calc(100% - 40px);
  text-align: left;
  padding: 8px 20px;
}

body.experimentalui .scEditorTabControlsHolder > .scMoreMenu > li:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

body.experimentalui .scEditorTabControlsHolder > .scMoreMenu > li:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

body.experimentalui .scEditorTabControlsHolder > .scMoreMenu > li:hover {
  background-color: var(--grey5);
}

body.experimentalui .scEditorTabControlsHolder > .scMoreMenu > li.separator {
  border-top: 1px solid var(--grey9);
}

body.experimentalui .scEditorTabControlsHolder > .scMoreMenu > li.danger {
  color: var(--accent);
}

body.experimentalui .scEditorTabControlsHolder > .scMoreMenu > li.danger:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

/* Gallery Frame */

body.experimentalui .scGalleryFrame {
  border-radius: var(--radius);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

body.experimentalui .versionNumSelected,
body.experimentalui .scMenuItemIcon_Hover,
body.experimentalui .scMenuItemCaption_Hover,
body.experimentalui .scMenuItemHotkey_Hover,
body.experimentalui .scMenuPanelItemSelected,
body.experimentalui .scMenuPanelItemSelected_Hover,
body.experimentalui .scMenuPanelItem_Hover,
body.experimentalui .sc-gallery-option-content-active {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.experimentalui
  .scMenuPanelItem_Hover
  > table
  > tbody
  > tr
  > td:last-child
  > div
  > div {
  color: var(--accentText) !important;
}

/*Hack for SC extention links */

body.experimentalui .sc-ext-gotofield,
body.experimentalui .sc-ext-resetfield,
body.experimentalui .sc-ext-goToDatasource-button,
body.experimentalui .scEditorFieldLabelAdministrator {
  display: none !important;
  transition: ease-out 0.1s;
}

body.experimentalui .scEditorFieldLabel:hover .sc-ext-gotofield,
body.experimentalui .scEditorFieldLabel:hover .sc-ext-resetfield,
body.experimentalui .scEditorFieldLabel:hover .sc-ext-goToDatasource-button,
body.experimentalui .scEditorFieldLabel:hover .scEditorFieldLabelAdministrator {
  display: inline !important;
}

body.experimentalui .scVerticalImagedTabstrip > div.selected,
body.experimentalui .scVerticalImagedTabstrip > div.selected:hover {
  background-color: var(--grey3) !important;
}

/* @keyframes preloading {
  from {
    background-position: 0px center;
  }
  to {
    background-position: -100px center;
  }
}

body.experimentalui .scMediaThumbnail {
  background: url(chrome-extension://__MSG_@@extension_id__/images/media_loader.jpg) !important;
  background-position: 0px center;
  background-size: cover !important;
  animation: preloading 2s linear infinite;
} */

body.experimentalui a.scContentTreeNodeActive {
  background-color: var(--accent);
  color: var(--accentText);
  border-radius: var(--radius);
  padding: 4px 8px 8px 8px;
}

body.experimentalui a.scContentTreeNodeActive > .scContentTreeNodeTitle {
  color: var(--accentText);
}

body.experimentalui a.scContentTreeNodeActive > img {
  filter: brightness(var(--iconBrightness)) contrast(var(--iconContrast));
}

body.experimentalui .scOpenItem {
  background-color: var(--accent);
  color: var(--accentText) !important;
  padding: 3px 5px;
  border-radius: var(--radius);
  font-weight: 600;
}

/* body.experimentalui .sc-label, */
body.experimentalui [data-sc-id="ReferenceContentSearchBorder"] {
  background-color: var(--accent);
  color: var(--accentText);
}

body.experimentalui .scPreviewButton.focus {
  outline: 0px solid var(--accent);
  box-shadow: 0 0 0 2.5px var(--accent) !important;
}

body.experimentalui .scScrollbox {
  border-radius: var(--radius);
}

body.experimentalui .scLink:hover {
  background-color: var(--accent);
  color: var(--accentText);
}

/* RTE */
body.experimentalui .reEditorModesCell {
  background-color: var(--black5);
  height: 30px;
  border-top: 2px solid var(--accent) !important;
}

/* UI Dialog */

body.experimentalui .ui-progressbar-value {
  background-color: var(--accent) !important;
}

body.experimentalui .ui-progressbar-indeterminate.ui-progressbar {
  background-color: var(--accent) !important;
}

body.experimentalui .zg-delightful-droppable.hovered {
  background-color: #0f7ec254;
}

body.experimentalui .sxa-toolbox-droppable.toolbox-dropping .inner,
body.experimentalui .sxa-toolbox-div.toolbox-dropping .inner {
  background-color: var(--accent);
}

/* .ui-dialog .ui-dialog-titlebar,
body.experimentalui .ui-dialog .ui-dialog-titlebar + .DialogHeader,
body.experimentalui .scFormDialogHeader,
body.experimentalui .scDialogHeader,
body.experimentalui .ui-widget-header {
  color: var(--accentText);
  background-color: var(--accent);
} */

body.experimentalui nobr:first-child > .scTabActive,
body.experimentalui nobr:first-child > .scTabActive_Hover {
  border-left: 1px solid var(--accent);
}

body.experimentalui nobr:last-child > .scTabActive,
body.experimentalui nobr:last-child > .scTabActive_Hover {
  border-right: 1px solid var(--accent);
}

body.experimentalui .scTabActive,
body.experimentalui .scTabActive_Hover {
  background-color: var(--accent);
  color: var(--accentText);
  border-top: 1px solid var(--accent);
}

body.experimentalui .scTabActive:after,
body.experimentalui .scTabActive_Hover:after {
  background: var(--accent);
}

body.experimentalui .scTabstrip {
  border-bottom: 2px solid var(--accent);
}
/* .ui-widget-content,
body.experimentalui 
  border-radius: 5px !important;
}
body.experimentalui #scModal .header,
body.experimentalui .ui-dialog-titlebar {
  border-radius: 5px 5px 0px 0px !important;
} */
