html {
  font-size: 100% !important;
}

body.satEE {
  line-height: normal !important;
}

body.satEE .scAddRendering {
  font-size: 17px !important;
  font-weight: bold !important;
  background-color: #ffffff;
  padding: 2px 7px;
  border-radius: 5px;
  color: #666666;
}

body.satEE .scInsertionHandle,
body.satEE .scSortingHandle {
  left: 0px !important;
  width: 100%;
  z-index: 9050 !important;
  background-image: linear-gradient(45deg, #f7d871 25%, #fffbe5 25%, #fffbe5 50%, #f7d871 50%, #f7d871 75%, #fffbe5 75%, #fffbe5 100%);
  background-size: 40px 40px;
  background-position: 0% 0%;
  opacity: 0.9;
  display: block;
  padding: 9px;
  text-align: center;
  margin-top: -25px !important;
  position: absolute !important;
}

body.satEE .scInsertionHandle:hover,
body.satEE .scSortingHandle:hover {
  background-image: linear-gradient(45deg, #52cc7e 25%, #eefff4 25%, #eefff4 50%, #52cc7e 50%, #52cc7e 75%, #eefff4 75%, #eefff4 100%);
  opacity: 1;
  z-index: 9051 !important;
}

body.satEE .scInsertionHandleLeft,
body.satEE .scInsertionHandleCenter,
body.satEE .scInsertionHandleRight {
  display: none !important;
}

body.satEE .view-render-exception {
  background-color: #ffdbdb;
  font-family: monospace;
  line-height: 17px;
  font-size: 12px;
  color: red;
  padding: 50px;
}

body.satEE .zg-variant-switcher {
  zoom: 1.1;
  background-color: #f1d500 !important;
  padding: 4px !important;
  margin: 0px !important;
  height: 30px !important;
}

body.satEE .zg-variant-switcher .zg-variant-list:hover {
  background-color: #f1d500 !important;
}

body.satEE .zg-variant-switcher.expanded li:hover {
  background-color: rgba(241, 213, 0, 0.2) !important;
}

body.satEE .zg-variant-switcher .zg-variant-list li.selected {
  font-weight: bold !important;
}

body.satEE .zg-variant-toggle-dropdown {
  right: 5px !important;
}

body.satEE .scChromeToolbar {
  box-shadow: none !important;
}
body.satEE .scChromeControls,
body.satEE .scChromeDropDown {
  box-shadow: 0px 4px 17px 9px rgba(0, 0, 0, 0.3) !important;
  border-radius: 6px !important;
}
body.satEE .scChromeName {
  border-radius: 4px 4px 0px 0px !important;
}
body.satEE .scFrameSideHorizontal {
  box-shadow: 0px 0px 10px 1px rgba(40, 155, 200, 0.7);
  height: 2px !important;
  background-color: #289bc8 !important;
  transform: translateY(-15%);
}
body.satEE .scFrameSideVertical {
  box-shadow: 0px 0px 10px 1px rgba(40, 155, 200, 0.7);
  width: 2px !important;
  background-color: #289bc8 !important;
  transform: translateX(-15%);
}
body.satEE .scFrameYellow {
  box-shadow: 0px 0px 10px 1px rgba(241, 213, 0, 0.7);
  background-color: #f1d500 !important;
}
body.satEE .chromeWithDatasource {
  transition: all 0.1s ease-in-out;
}
body.satEE .chromeWithDatasource:hover {
  outline-color: #289bc8;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px 1px rgba(40, 155, 200, 0.7);
}

body.satEE .scEnabledChrome,
body.satEE .scEmptyPlaceholder {
  border: 1px solid transparent;
}

body.satEE .scEnabledChrome:hover,
body.satEE .scEmptyPlaceholder:hover {
  box-shadow: 0px 0px 10px 1px rgba(241, 213, 0, 0.7);
  border: 1px solid #f1d500 !important;
}
