form#ContentEditorForm {
	filter: blur(0px) brightness(1) grayscale(0) !important;
    opacity: 1;
}

body.contentEditor {
    background-color: #fff !important;
}

body.contentEditor:after {
    opacity: 0;
}

/**
 * Cusom CSS
 */

.ui-widget-overlay {
    background: rgba(0,0,0,0.2) !important;
    opacity: 1 !important;
}

.ui-widget-overlay:after {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1 !important;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 40px;
    height: 56px;
    width: 96px;
    position: absolute;
    background: transparent url('chrome-extension://__MSG_@@extension_id__/images/sc-spinner32.gif') no-repeat center center;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
    z-index: 10001;
    visibility: visible;
}

.scOverlay {
    background: rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    visibility: hidden;
}

.scSystemButtons {
    visibility: hidden !important;
}

#BTAddNewSearch {
    background-color: transparent;
    cursor: pointer;
    border: 0px solid #bdbdbd; 
    box-shadow: inset 0 0px #ffffff; 
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/edition-magnifier.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: 16px 0px;
}

#BTAddNewSearch:hover {
    opacity: 0.7;
}

.scMenuPanelItem, .scMenuPanelItem_Hover, .scMenuPanelItemSelected_Hover, .scMenuPanelItemSelected {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.scGalleryGrip {
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
	height: 10px;
}

.scLanguagesGalleryMenu {
	overflow: hidden;
	vertical-align: top;
	border-bottom: 12px solid transparent;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

/* Ribbon overflow scroll */
.scRibbonNavigatorButtonsGroupButtons{
/*    display: flex !important;
    overflow-x: auto; 
    width: fit-content;*/
}

div#Languages img {
	display: block;
    width: 32px;
}

.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-day {
    display: block !important;
    font-size: 1.3em !important;
    padding: 0px 15px 0px 0px !important;
    position: relative !important;
    top: 13px !important;
    left: 0px !important;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-date {
    font-size: 3.4em !important;
    margin-top: -5px !important;
}

/* Let's spice up the UI with some shadow! */

.DesktopArea > iframe {
  	background-color: rgba(0,0,0,0.5) !important;
  	box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.0) !important;
}

#scWebEditRibbon {
  	box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.0) !important;
}

/*Custom folder Content Editor*/
a.scTileItem {
    width: calc(100% - 15px);
    height: 50px;
    padding: 10px;
    margin: 3px;
    float: left;
    border-radius: 5px;
    text-align: center;
    text-align: left;
    transition: background-color ease-in-out .2s !important;
}

a.scTileItem:hover {
	background-color: #d0ebf7;
}

.scTileItemIcon {
    margin: 0 0;
    width: 50px;
    position: relative;
}

.scTileItemDetails {
    margin-top: 0px;
    position: relative;
    left: 45px;
    top: -27px;
}
.scTileItemDetailsHeader {
	float: left;
	margin-right: 10px;
}


/**
 * Formely onlonad
 */
#scProgress {
    position: absolute;
    color: rgba(255,255,255,0.3);
    font-size: 40px;
    font-weight: 100;
    margin: auto;
    right: 10px;
}

#scPreloader {
    background-color: #222222;
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin: -75px 0px 0px -75px;
    border-radius: 75px;
    transform: scale(1.1);
}

.liveUrlStatus {
    position: relative;
    top: -1px;
    left: 2px;
}


.scMessageBar.scGreen {
    background-color: #ecf7ee !important;
    color: #44892f !important;
}

    .scMessageBar.scGreen .scMessageBarIcon {
        background-color: #44892f !important;
    }

    .scMessageBar.scGreen .liveUrlBadge {
        background-color: #44892f !important;
        color: #ecf7ee !important;
    }

.scMessageBar.scOrange {
    color: rgb(227, 81, 49) !important;
    background-color: rgb(252, 220, 214) !important;
}

    .scMessageBar.scOrange .scMessageBarIcon {
        background-color: rgb(220, 42, 30) !important;
    }

.scMessageBar.scGray {
    background-color: #BCBCBC !important;
    color: #676767 !important;
}

    .scMessageBar.scGray .scMessageBarIcon {
        background-color: #525252 !important;
    }

#c_clearAll,
#c_refresh {
    cursor: pointer;
    padding: 12px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    color: #fff;
    background: #DC291E;
    transition: none;
    border: 0px;
}

#c_clearAll:hover,
#c_refresh:hover {
    background: #474747;
    color: rgb(255, 255, 255);
    border: 0px; 
}

#sitecorAuthorToolboxFav {
  box-shadow: rgba(235, 235, 235, 0.5) 0px -10px 10px 0px;
}

#LanguagesPanel > #Languages {
    column-count: 2;
}

.sc-dialogContent-toolbar-back {
    display: none;
}

#scWebEditRibbon,
#scCrossPiece {
    transition: all ease-in-out .1s !important;
}

.scContentEditorTab {
    position: fixed;
    top: 307px;
    background-color: #f7f7f7;
    padding: 10px 12px 7px 12px;
    z-index: 10000;
    border-radius: 0px 5px 5px 0px;
    left: 0px;
    filter: drop-shadow(1px 0px 4px rgba(0,0,0,0.2));
    cursor: pointer !important;
    transition: padding-left ease-in-out .1s !important;
}

.scContentEditorTab:hover {
    padding-left: 15px;
}

.scNormalModeTab {
    position: fixed;
    top: 350px;
    background-color: #f7f7f7;
    padding: 10px 12px 7px 12px;
    z-index: 10000;
    border-radius: 0px 5px 5px 0px;
    left: 0px;
    filter: drop-shadow(1px 0px 4px rgba(0,0,0,0.2));
    cursor: pointer !important;
    transition: padding-left ease-in-out .1s !important;
}

.scNormalModeTab:hover {
    padding-left: 15px;
}

.scExpTab {
    background-color: #f7f7f7;
    position: fixed;
    z-index: 10000;
    margin: auto;
    width: 75px;
    padding: 5px 6px 5px 3px;
    left: 95%;
    transform: translate(-50%, -3px);
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    color: #969696;
    cursor: pointer;
    filter: drop-shadow(0px 6px 4px rgba(0,0,0,0.2));
    font-size: 11px;
    font-weight: bold;
    transition: padding-top ease-in-out .1s !important;
}

.scExpTab:hover {
    padding-top: 8px;
}

.tabHandle {
    padding: 20px 20px;
    margin-left: -40px;
    background-color: transparent;
    cursor: ew-resize;
}

.dark {
    background-color: #222222 !important;
    color: #cccccc !important;
}

.dark:hover {
    color: #ffffff !important;
}
.splitter-bar::before,
.splitter-bar::after,
.splitter-bar {
    cursor: col-resize !important;
    transition: background-color ease-in-out .1s !important;
    z-index: 0 !important;
}
.splitter-bar:hover::before,
.splitter-bar:hover {
    background-color: #1e81ef !important;
}
.scEditorSectionPanel,
.scEditorSections {
    border-top: 1px solid #ccc;
    margin-top: -1px !important;
}
.scEditorSectionPanel > tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 20px;
}
.scEditorSectionPanelCell {
    padding-top: 20px;
}
#scEditorTabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 0px;
    padding-top: 8px;
    background-color: #ffffff;
}
#scEditorTabs > ul {
    display: -webkit-box;
    overflow-x: scroll;
    width: 100%;
    background-color: transparent;
    border-bottom: 0px;
}
#scEditorTabs > ul > li {
    display: block;
    padding: 10px 13px;
    border: 1px solid #ccc;
    background: #ffffff;
    color: #666;
    font-size: 12px; 
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;    
    transition: all 0.1s;
    border-radius: 0px 0px 0px 0px;
}
#scEditorTabs > ul > li:hover {
    border-top: 1px solid red;
    color: #333;
}
.scEditorTab > .scEditorTabClose {
    position: relative;
    right: -13px;
    top: -11px;
    cursor: pointer;
    opacity: 0;
    display: none;
}
.scEditorTab:hover > .scEditorTabClose {
    opacity: 1;
}
.scEditorTabEmpty {
    padding: 0px 2px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.scEditorTabSelected {
    border-top: 2px solid #dc291e !important;
    color: #333 !important;
    background-color: #f0f0f0 !important;
    border-bottom: 0px solid #ccc !important;
}

.scSearchListExtra {
    color: #ccc;
}

.snackbar {
    animation: slide 0.4s forwards;
    transition: right ease-in-out 0.4s;
    bottom: 45px;
    right: -800px;
    color: #fff;
    max-width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
    font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: url(chrome-extension://__MSG_@@extension_id__/images/rocket.svg) center left #333 no-repeat;
    background-size: 9%;
    background-position-x: 18px;
    position: fixed;
    display: flex;
    align-items: center;
    line-height: 22px;
    padding: 18px 24px 18px 88px;
    border-radius: 3px;
    z-index: 99999999999;
}

.snackbar > b {
    display: contents;
    font-weight: bold;
}

.snackbar > button {
    background-color: transparent !important;
    border: none !important;
    color: #dc291d;
    font-weight: bold;
    font-size: 14px;
    padding-left: 18px;
    cursor: pointer;
}

@keyframes slide {
    100% { right: 15px; }
}

.wbNotificationMenu {
    position: absolute;
    background-color: #dc2a1d;
    width: 6px;
    height: 6px;
    top: 30px;
    right: 80px;
    border-radius: 10px;
}

.wbNotification {
    background-color: #dc2a1d;
    width: fit-content;
    height: 14px;
    text-align: center;
    margin-top: 4px;
    border-radius: 100%;
    display: grid;
    color: #fff;
    left: -27px;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 3px 4px 3px;
    min-width: 16px;
    border-radius: 8px;
    transform: scale(0);
    animation: popup 0.1s ease-in-out forwards;
}

.wbGreen {
    background-color: #37ab62 !important;
}

.liveUrlBadge {
    background-color: #897a2f;
    color: #fce99c;
    padding: 1px 7px;
    border-radius: 10px;
    font-size: 11px;
    vertical-align: text-top;
    cursor: pointer;
    border: 1px solid transparent;
}

.liveUrlBadge:hover {
    background-color: #fce99c;
    color: #897a2f;
    border: 1px solid #897a2f;
}

.launchpadBadge {
    position: absolute;
    margin-left: 35px;
    margin-top: -10px;
    background-color: #dc2a1e;
    min-width: 25px;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0px 4px;
    transform: scale(0);
    animation: popup 0.1s ease-in-out forwards;
}
@keyframes popup {
    100% { transform: scale(1); }
}

.liveStatusRed {
    color: #dc291e;
}

.liveStatusGreen {
    color: green;
}

.liveStatusGray {
    color: rgba(0,0,0,0.5);
}

.liveStatusRed img,
.liveStatusGreen img {
    width: 10px !important;
    float: initial !important;
    margin: unset !important;
}

select.scContentControl {
    height: 30px !important;
}

input:not([type]),
input[type="text"],
input[type="password"],
select,
textarea {
  /*border: 1px solid #cccccc;*/
}

input:not([type]):focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    border: 1px solid rgba(14, 99, 156, 0.8) !important;
    outline: 0 !important;
    box-shadow: 0 0 4px rgba(14, 99, 156, 0.3) !important;
}


.scInstantSearch  {
    margin: auto !important;
    position: absolute  !important;
    width: 450px  !important;
    left: calc(50% - 450px/2)  !important;
    padding: 8px 12px  !important;
    top: 5px  !important;
    background: #111111 url('chrome-extension://__MSG_@@extension_id__/images/magnifier.svg') no-repeat center right 10px !important;
    z-index: 10000 !important;
    font-size: 15px !important;
    box-sizing: border-box;
    display: block;
    line-height: 1.42857143;
    color: #cccccc !important;
    border: 1px solid #222222 !important;
    border-radius: 4px !important;
    box-shadow: inset 0 0px 4px transparent !important;
    transition: all ease-in-out .15s !important;
}
.scInstantSearch:focus  {
    background: var(--white) url('chrome-extension://__MSG_@@extension_id__/images/magnifier.svg') no-repeat center right 10px !important;
    color: #333333 !important;
}
.scInstantSearch::placeholder {
  color: #777;
}

.scInstantSeachLoading {
    padding-top: 100px;
    color: var(--white);
    font-size: 14px;
    line-height: 20px;
}

.scInstantSeachLoading > a {
    text-decoration: underline;
    color: #cccccc !important;
}

.scInstantSeachLoading > span {
    display: block;
    margin-top: -30px;
}

.pulseAnimate {
    animation: pulse 1.1s ease-out infinite;
}

@keyframes pulse {
  0% {transform: scale3d(0.5,0.5,0.5); opacity: 0.6;}
  50% {opacity: 0.1;}
  100% {transform: scale3d(0.7,0.7,0.7); opacity: 0;}
}

.scInstantSearchResults {
    position: absolute;
    width: 620px;
    padding: 0px;
    padding-bottom: 20px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    background-color: hsla(0, 0%, 7%, 0.7);
    z-index: 10;
    left: calc(50% - 620px/2);
    top: 43px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 5px 40px rgba(0,0,0,0.2);
    transition: all ease-in-out .2s;
    height: fit-content;
    max-height: 90vh;
    min-height: 30vh;
    overflow: scroll;
    text-align: center;
}

.scInstantSearchResults > h1 {
    font-weight: bold;
    font-size: 16px;
    color: #999999 !important;
    line-height: normal;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0px 15px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #777 !important;
    text-align: left;
    margin: 20px;
    text-transform: uppercase;
}

.scInstantSearchResults > li {
    border: 1px solid transparent !important;
    padding: 7px 30px 0px 30px;
    transition: all ease-out .1s;
}
.scInstantSearchResults > li:focus,
.scInstantSearchResults > li:hover {
    background-color: rgba(11,132,255,1);
    cursor: pointer !important;
    outline: 0px !important;
}
.scInstantSearchResults > li:focus > p,
.scInstantSearchResults > li:hover > p {
    color: #ffffff !important;
}

/*.scInstantSearchResults > li:focus {
    border: 1px solid rgba(14, 99, 156, 1) !important;
    outline: 1px !important;
    box-shadow: 0 0 6px rgba(14, 99, 156, 0.6) !important;
}*/

.scInstantSearchResults > li > h2 {
    font-weight: 600;
    font-size: 16px;
    color: #fff !important;
    line-height: normal;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px 0px 5px 0px;
    cursor: pointer;
    text-align: left;
    border: none;
    text-transform: capitalize;
}

.scInstantSearchResults > li > h2 > a {
    cursor: pointer;
    color: #fff !important;
    text-align: left;
}

.scInstantSearchResults > li > p {
    font-weight: normal;
    font-size: 13px;
    color: #999999 !important;
    line-height: normal;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px 0px 10px 0px;
    text-align: left;
}

.scInstantSearchResults > li > p > img {
    vertical-align: text-top;
    margin-right: 2px;
}

.textLoading,
.scInstansSeachLoading {
    font-size: 12px;
    color: var(--white);
    padding: 0px;
    margin: 0px;
    text-align: center;
    top: 120px;
    position: relative;
}

.scCountNodes {
    opacity: 1;
    background-color: #e0b407;
    color: #fff;
    padding: 2px 4px;
    border-radius: 20px;
    font-size: 9px;
    font-size: 10px;
    min-width: 10px;
    min-height: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    transition: all ease-out .1s;
}

.scIconMenu {
    width: 16px;
    padding: 0px 9px;
    cursor: pointer;
    vertical-align: middle;
    opacity: 1;
    transition: all ease-out .1s;
}

.scIconMenu:hover {
    opacity: 0.5;   
}

.sc-globalHeader-startButton {
    float: left !important;
}

.sc-globalheader-appName {
    color: #cccccc;
    float: left;
    font-size: 1.167em;
    font-weight: normal;
    margin-left: 15px;
}

ul.sc-accountInformation {
    opacity: 1;
}

ul.sc-accountInformation li:last-child:after {
    content: "" !important;
    padding-left: 5px !important;
    padding-right: 20px;
    display: inherit !important;
    cursor: pointer !important;
}

#globalHeaderUserPortrait {
    border: 3px solid transparent;
    margin-right: 2px;
}

#globalHeaderUserPortrait:hover {
    border: 3px solid rgba(255,255,255,0.5);
    transition: all ease-out .2s;
}

.scAccountMenu {
    position: absolute;
    right: 5px;
    top: 40px;
    text-align: left;
    width: fit-content;
    min-width: 245px;
    background-color: hsla(0, 0%, 7%, 0.7);
    z-index: 100 !important;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 5px 40px rgba(0,0,0,0.2);
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .2s;
    padding: 0px !important;
}

#scRibbonToggle {
    z-index: 1 !important;
}

ul.scAccountMenu li {
    display: inherit !important;
    padding: 15px 30px !important;
    line-height: normal !important;
    cursor: pointer !important;
    font-weight: 600;
    font-size: 14px;
}
ul.scAccountMenu li:first-child {
    /*padding-top: 10px !important;*/
}
ul.scAccountMenu li:last-child {
    border-top: 0.5px solid rgba(255,255,255,0.2);
}

ul.scAccountMenu li:hover {
    background-color: #0b84ff;
    cursor: pointer !important;
}

ul.scAccountMenu li:hover:first-child {
    border-radius: 5px 5px 0px 0px;
}
ul.scAccountMenu li:hover:last-child {
    border-radius: 0px 0px 5px 5px;
}

ul.scAccountMenu li:last-child:after,
ul.scAccountMenu li:after {
    content: "" !important;
    display: none !important;
}

.scCaption {
    background-color: #2b2b2b !important;
}

#scModal {
    position: absolute;
    width: 720px;
    height: 550px;
    padding: 0px;
    visibility: hidden;
    z-index: 10;
    left: calc(50% - 720px/2);
    top: calc(50% - (550px/2) - 20px);
    opacity: 0;
    background-color: var(--white);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 5px 40px rgba(0,0,0,0.2);
    transition: all ease-in-out .2s;
}

#scModal .header {
    width: calc(100% - 54px);
    background-color: #111111;
    padding: 25px 27px 10px 27px;
    color: #fff;
    font-family: 'Open Sans', Arial, 'Microsoft YaHei', sans-serif;
    font-size: 18px;
    line-height: 40px;
}

#scModal .header .close {
    position: absolute;
    right: 17px;
    top: 22px;
    opacity: 0.9;
    width: 16px;
    height: 16px;
    background: url('chrome-extension://__MSG_@@extension_id__/images/dialog_close.png') no-repeat center center;
    z-index: 100;
    cursor: pointer;
}

#scModal .header .maximize {
    position: absolute;
    right: 51px;
    top: 22px;
    opacity: 0.9;
    width: 16px;
    height: 16px;
    background: url('chrome-extension://__MSG_@@extension_id__/images/dialog_maximize.png') no-repeat center center;
    z-index: 100;
    cursor: pointer;
}

#scModal .header .close:hover,
#scModal .header .maximize:hover {
    opacity: 1;
}

#scModal .main {
    height: calc(100% - 75px);
    overflow: scroll;
}

#scModal .noResult {
    margin:auto;
    font-size: 18px;
    font-family: 'Open Sans', Arial, 'Microsoft YaHei', sans-serif;
    padding-top: 20%;
    text-align: center;
    color: #666666;
}

#scModal .item {
    float: left;
    width: 140px;
    height: 90px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Open Sans', Arial, 'Microsoft YaHei', sans-serif;
    transition: all ease-in-out .1s;
}

#scModal .item a {
    font-size: 12px;
}

#scModal .item:hover {
    background-color: #dddddd;
    border-radius: 5px;
}

#scModal .footer {
    width: calc(100% - 54px);
    background-color: #e3e3e3;
    padding: 20px 27px;
    font-family: 'Open Sans', Arial, 'Microsoft YaHei', sans-serif;
    color: #777;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #cccccc !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#scModal .footer b {
    font-weight: normal;
    background-color: #1e8aff;
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
}

.scInstantSearchResults > .preload,
#scPanel > .preload,
#scModal > .preload,
#svgAnimation {
    width: 100px;
    height: 24px;
    top: calc(50% - 10px);
    left: calc(50% - 50px);
    opacity: 0;
    display: inline-block;
    position: absolute;
    transform: scale(0.5);
    z-index: 10;
    color: #999999;
    font-size: 14px;
}

#scPanel {
    position: fixed;
    background-color: var(--white);
    top: 0px !important;
    right: -420px !important;
    left: unset !important;
    width: 400px !important;
    height: -webkit-fill-available !important;
    border-radius: 2px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: right ease-out .2s;
}

#scPanel > .content {
    padding: 0px 20px 20px 20px;
    font-size: 15px;
    overflow: scroll;
    word-break: break-all;
    white-space: nowrap;
}

#scPanel > .content > ul > li {
    list-style: inside;
    list-style-type: square;
    margin: 5px 0px;
}

#scPanel > .content > ul > li > b {
    color: var(--accent);
}

#scPanel > .preload {
    top: calc(50% - 100px);
}

#scVersionIframe.open,
#scLanguageIframe.open,
#scPanel.open {
    right: 0px !important;
}

.CodeMirror {
    height: 500px !important;
    border: 1px solid #cccccc !important;
}

.hideDesktopHeader {
    margin-top: 0px !important;
}