/* Sitecore transition onload */
/*body {
    background-color: #ffffff !important;
}
*/
form#ContentEditorForm {
	filter: blur(0px) brightness(1) grayscale(0) !important;
    transform: scale(1);
    opacity: 1;
}

body.contentEditor:after {
    opacity: 0;
}

.scMenuPanelItem, .scMenuPanelItem_Hover, .scMenuPanelItemSelected_Hover, .scMenuPanelItemSelected {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.scGalleryGrip {
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
	height: 10px;
}

.scLanguagesGalleryMenu {
	overflow: hidden;
	vertical-align: top;
	border-bottom: 12px solid transparent;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

div#Languages img {
	display: block;
}

.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-day {
    display: block !important;
    font-size: 1.3em !important;
    padding: 0px 15px 0px 0px !important;
    position: relative !important;
    top: 13px !important;
    left: 0px !important;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-date {
    font-size: 3.4em !important;
    margin-top: -5px !important;
}

/* Let's spice up the UI with some shadow! */

.DesktopArea > iframe {
  	background-color: rgba(0,0,0,0.5) !important;
  	box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.0) !important;
}

#scWebEditRibbon {
  	box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.0) !important;
}

/*Custom folder Content Editor*/
a.scTileItem {
    width: calc(100% - 15px);
    height: 50px;
    padding: 10px;
    margin: 3px;
    float: left;
    border-radius: 5px;
    text-align: center;
    text-align: left;
    transition: background-color ease-in-out .2s !important;
}

a.scTileItem:hover {
	background-color: #d0ebf7;
}

.scTileItemIcon {
    margin: 0 0;
    width: 50px;
    position: relative;
}

.scTileItemDetails {
    margin-top: 0px;
    position: relative;
    left: 45px;
    top: -27px;
}
.scTileItemDetailsHeader {
	float: left;
	margin-right: 10px;
}