/* Sitecore banner colors */
form#ContentEditorForm {
    filter: blur(3px) brightness(0.15) grayscale(1);
    transition: 0.7s;
    transition-delay: 0.3s;
}

#scPreloader {
    background-color: #222222;
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin: -75px 0px 0px -75px;
    border-radius: 75px;
    transform: scale(1.1);
}

.scMessageBar.scGreen {
    background-color: #76a797;
    color: #e6eae9;
}

    .scMessageBar.scGreen .scMessageBarIcon {
        background-color: #0f9467;
    }

.scMessageBar.scOrange {
    background-color: #FFCFAF;
    color: #AB4500;
}

    .scMessageBar.scOrange .scMessageBarIcon {
        background-color: #FA6400;
    }

.scMessageBar.scGray {
    background-color: #BCBCBC;
    color: #676767;
}

    .scMessageBar.scGray .scMessageBarIcon {
        background-color: #525252;
    }

/* Table css for cache.aspx */
#Table1, .launcher-modal {
    display: none;
    font-family: arial verdana;
}

.tabulator-table {
	font-family: sans-serif;
}

#c_clearAll,
#c_refresh {
    cursor: pointer;
    padding: 12px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    color: #fff;
    background: #DC291E;
    transition: none;
    border: 0px;
}

#c_clearAll:hover,
#c_refresh:hover {
    background: #474747;
    color: rgb(255, 255, 255);
    border: 0px; 
}
#sitecorAuthorToolboxFav {
  box-shadow: rgba(235, 235, 235, 0.5) 0px -10px 10px 0px;
}

#LanguagesPanel > #Languages {
    column-count: 2;
}

.sc-dialogContent-toolbar-back {
    display: none;
}

#scWebEditRibbon,
#scCrossPiece {
    transition: all ease-in-out .1s !important;
}

.scContentEditorTab {
    position: fixed;
    top: 310px;
    background-color: #f7f7f7;
    padding: 10px 12px 7px 12px;
    z-index: 10000;
    border-radius: 0px 5px 5px 0px;
    left: 0px;
    filter: drop-shadow(1px 0px 4px rgba(0,0,0,0.2));
    cursor: pointer !important;
    transition: padding-left ease-in-out .1s !important;
}

.scContentEditorTab:hover {
    background-color: #eeeeee !important;
    padding-left: 15px;
}

.scNormalModeTab {
    position: fixed;
    top: 350px;
    background-color: #f7f7f7;
    padding: 10px 12px 7px 12px;
    z-index: 10000;
    border-radius: 0px 5px 5px 0px;
    left: 0px;
    filter: drop-shadow(1px 0px 4px rgba(0,0,0,0.2));
    cursor: pointer !important;
    transition: padding-left ease-in-out .1s !important;
}

.scNormalModeTab:hover {
    background-color: #eeeeee !important;
    padding-left: 15px;
}

.scExpTab {
    background-color: #f7f7f7;
    position: fixed;
    z-index: 10000;
    margin: auto;
    width: 75px;
    padding: 5px 6px 5px 3px;
    left: 95%;
    transform: translate(-50%, -3px);
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    color: #969696;
    cursor: pointer;
    filter: drop-shadow(0px 6px 4px rgba(0,0,0,0.2));
    font-size: 11px;
    font-weight: bold;
    transition: padding-top ease-in-out .1s !important;
}

.scExpTab:hover {
    padding-top: 8px;
}

.tabHandle {
    padding: 20px 20px;
    margin-left: -40px;
    background-color: transparent;
    cursor: ew-resize;
}

.dark {
    background-color: #222222 !important;
    color: #cccccc !important;
}

.dark:hover {
    background-color: #292929 !important;
    color: #ffffff !important;
}