[data-tooltip] {
  cursor: pointer;
  position: relative;
  /********** Default Behavior ********* */
  /********** Timeout Variant ********* */
  /********** Tooltip Sizes ********* */
  /********** Top Tooltip ********* */
  /********** Right Tooltip ********* */
  /********** Bottom Tooltip ********* */
  /********** Left Tooltip ********* */
  /*z-index: -1;*/
}
[data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s cubic-bezier(0.5, 1, 0.25, 1);
  z-index: 1;
}
[data-tooltip]:before {
  padding: 5px;
  width: 110px;
  border-radius: 5px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
}
[data-tooltip]:after {
  border: 8px solid transparent;
  width: 0;
  content: "";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
[data-tooltip].t-xl:before {
  width: 210px;
  font-size: 15px;
}
[data-tooltip].t-lg:before {
  width: 170px;
  font-size: 13px;
}
[data-tooltip].t-md:before {
  width: 140px;
  font-size: 12px;
}
[data-tooltip].t-sm:before {
  width: 120px;
  font-size: 11px;
}
[data-tooltip].t-xs:before {
  width: 80px;
  font-size: 10px;
}
[data-tooltip].t-top:before {
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  transform: translateX(-50%);
}
[data-tooltip].t-top:after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid rgba(0,0,0,0.8);
  border-bottom: none;
}
[data-tooltip].t-top:hover:before, [data-tooltip].t-top:hover:after {
  transform: translateX(-50%) translateY(-5px);
}
[data-tooltip].t-right:before {
  top: 50%;
  left: 100%;
  margin-left: 8px;
  transform: translateY(-50%);
}
[data-tooltip].t-right:after {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-right: 8px solid rgba(0,0,0,0.8);
  border-left: none;
}
[data-tooltip].t-right:hover:before, [data-tooltip].t-right:hover:after {
  transform: translateX(5px) translateY(-50%);
}
[data-tooltip].t-bottom:before {
  top: 100%;
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%);
}
[data-tooltip].t-bottom:after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 8px solid rgba(0,0,0,0.8);
  border-top: none;
}
[data-tooltip].t-bottom:hover:before, [data-tooltip].t-bottom:hover:after {
  transform: translateX(-50%) translateY(5px);
}
[data-tooltip].t-left:before {
  top: 50%;
  right: 100%;
  margin-right: 5px;
  transform: translateY(-50%);
}
[data-tooltip].t-left:after {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-left: 8px solid rgba(0,0,0,0.8);
  border-right: none;
}
[data-tooltip].t-left:hover:before, [data-tooltip].t-left:hover:after {
  transform: translateX(-5px) translateY(-50%);
}
.scChromeToolbar { 
  box-shadow: none !important;
}
.scChromeControls, .scChromeDropDown {
  box-shadow: 0px 4px 17px 9px rgba(0, 0, 0, 0.3) !important;
  border-radius: 6px !important;
}
.scChromeName {
  border-radius: 4px 4px 0px 0px !important;
}
.scFrameSideHorizontal {
  box-shadow: 0px 0px 10px 1px rgba(40, 155, 200,0.7);
  height: 2px !important;
  background-color: #289bc8 !important;
  transform: translateY(-15%);
}
.scFrameSideVertical {
  box-shadow: 0px 0px 10px 1px rgba(40, 155, 200,0.7);
  width: 2px !important;
  background-color: #289bc8 !important;
  transform: translateX(-15%);
}
.chromeWithDatasource {
  transition: all .1s ease-in-out;
}
.chromeWithDatasource:hover {
  outline-color: #289bc8;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px 1px rgba(40, 155, 200,0.7);
}