@charset "utf-8";

@font-face {
	font-family: 'ParalucentText';
	src: url('fonts/ParalucentText-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html
{
	padding: 0;
	margin: 0;
	font-size: 10px;
	/* font-size: 0.825vmin; */
}

body
{
	font-size: 1.4rem;
	padding: 0;
	margin: 4rem auto;
	position: relative;
	
	font-family: "Chronicle Display A", "Chronicle Display B", sans-serif;
	font-style: normal;
	font-weight: 300;
}

a
{
	color: inherit;
}

h1,
section,
footer
{
	margin: auto;
	max-width: 72rem;
}

main
{
	max-width: 108.5rem;
	margin: 0 auto;
}


section
{
	transform: skew(-2deg);
}

p,
h2
{
	transform: skew(2deg);
}

section:nth-of-type(1)
{
	right: 5rem;
}

section:nth-of-type(2)
{
	left: 5rem;
}

a.home
{
	display: block;
	height: 6.8em;
	position: relative;
	background-image: url("//panic.com/images/big-logo.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 0 auto;
	padding: 0;
	margin: 0;
	color: transparent;
}

p
{
	font-size: 2em;	
	line-height: 1.6em;
	margin: 0.5em 0 1 0;
	text-align: left;
}

h1
{
	font-size: 4.2em;
	line-height: 1.1em;
	margin: 1em auto;
	padding-left: 3rem;
	letter-spacing: -0.025em;
	position: relative;

	/* sRGB green */
	color: ##00d604;

}

@supports (-webkit-background-clip: text){
	/* Get correct P3 green from a background png. */
	h1
	{
		background-image: url("Green-P3.png");
		background-size: cover;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@supports (color: color(display-p3 1 1 1 / 1)) {
	/* Set correct green directly. */
	/* For details, see <https://twitter.com/i/web/status/1106633444157607936> */
	h1
	{
		color: color(display-p3 0 0.85 0.02 / 1);
		background-image: none;
		-webkit-text-fill-color: color(display-p3 0 0.85 0.02 / 1);
	}
}

h2
{
	font-size: 2.3em;
	line-height: 1;
	margin: 2em auto 1em auto;
}

h1,
h2,
a.button
{
	font-family: "ParalucentText", sans-serif;
	font-weight: 600;
}

section
{
	margin: 0 auto;
	padding: 0 0;
	position: relative;
}


body:before
{
	background-position: 50% 50%;
	margin: 4rem auto;
}

hr
{
	display: none;
}

section
{
	border-style: none;
	border-width: 0;
	border-image: none;
}

section:nth-of-type(1)
{
		border-left-width: 0.4rem;
		border-left-style: solid;
		border-image: linear-gradient(to bottom, rgba(0,216,5,1), #2996bf, #ad51a3) 1 100%;
		padding-left: 3rem;
		padding-bottom: 3rem;
}

section:nth-of-type(2)
{
	border-right-width: 0.4rem;
	border-right-style: solid;
	border-image: linear-gradient(to bottom, #27c11f, #2996bf, #ad51a3) 1 100%;
	padding-right: 3rem;
	padding-top: 3rem;
	margin-top: -2rem;
}

figure
{
	width: 100%;
	background-color: transparent;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	z-index: 1;
	display: block;
	background-image: url("screenshot.png");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 0 1rem 5rem 0rem rgba(0,0,0,.75);
	border-radius: 0.8rem;
}

img
{
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	display: block;
	opacity: 0;
}

footer
{
	text-align: center;
}

a.button
{
	display: inline-block;
	padding: 0.65em;
	margin: 1em auto;
	border-radius: 0.8rem;

	font-size: 2.8rem;
	line-height: 1em;
	color: white;
	text-align: center;
	text-decoration: none;
		
	background-color: #47ba9c;
	background-color: #f9454e;
	background-color: #2996bf;
	background-color: #fca15e;
	background-color: #ad51a3;
	background-color: #27c11f;
	background-repeat: no-repeat;
	background-size: 200% 100%;
	background-position: 0% 0%;
	background-image: linear-gradient(90deg, #27c11f 0%, #2996bf 50%, #ad51a3 100%);

	transition-duration: 550ms;
	transition-property: background-position;
	transition-timing-function: linear;	
}

a.button:hover
{
	background-position: 100% 0%;
}

@media screen and (max-width: 950px)
{

	section
	{
		transform: skew(-1deg);
	}
	
	p,
	h2
	{
		transform: skew(1deg);
	}

	section:nth-of-type(1)
	{
		right: 3rem;
	}
	
	section:nth-of-type(2)
	{
		left: 3rem;
	}

}

@media screen and (max-width: 800px)
{

	section
	{
		transform: skew(0deg);
	}
	
	p,
	h2
	{
		transform: skew(0deg);
	}
	
	section:nth-of-type(1)
	{
		right: 0;
		padding: 0 1em 1em 1em;
		margin-bottom: -1em;
		border-left-width: 0.5rem;
	}
	
	section:nth-of-type(2)
	{
		left: 0;
		padding: 1em 1em 2em 1em;
		border-right-width: 0.5rem;
	}

}

@media screen and (max-device-width: 480px)
{

	body
	{
		font-size: 0.85rem;
	}
	
	h1
	{
		padding: 0 2rem;
	}
	
	p
	{
		font-size: 2.6em;
		line-height: 1.5em;
	}

}

@media print
{
	
	h1
	{
		padding: 0 2rem;
		color: black;
	
		background-image: none;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;
	}
	
	section,
	p,
	h2
	{
		transform: skew(0);
	}
	
	figure img
	{
		opacity: 1;
	}
	
	section
	{
		margin-left: 1em;
		margin-right: 1em;
		padding: 2em !important;
	}
	
	section:nth-of-type(1)
	{
		right: 0;
		padding: 0 1em 1em 1em;
		margin-bottom: -1em;
		border-left-width: 0.5rem;
	}
	
	section:nth-of-type(2)
	{
		left: 0;
		padding: 1em 1em 2em 1em;
		border-right-width: 0.5rem;
	}

}
