/*
 * Sitecore Dark Mode UI, by Ugo Quaisse
 * dialogs.css
 */

body.satDark form {
  color: var(--text) !important;
}

body.satDark .scFormDialogFooter {
  background-color: var(--black1) !important;
  border-top: 1px solid var(--black3) !important;
}

body.satDark .scDialogMessage {
  color: #cccccc !important;
}

body.satDark .DialogHeaderDescription {
  padding: 10px 75px 10px 15px;
  background-color: var(--black1);
  color: var(--black9);
}

body.satDark .NoProfilesText {
  color: var(--black6);
}

/* jquery overwrite */

body.satDark .ui-dialog {
  box-shadow: 0 5px 50px rgb(0, 0, 0) !important;
}

body.satDark .ui-dialog-titlebar,
body.satDark .ui-dialog .ui-dialog-titlebar {
  background-color: var(--black1) !important;
}

body.satDark .scFormDialogHeader .DialogHeader,
body.satDark .ui-dialog .ui-dialog-titlebar + .DialogHeader {
  background: var(--black1) !important;
  color: #fff;
}

body.satDark .ui-widget-content {
  background-color: var(--black2) !important;
}

body.satDark .scFormDialogHeader,
body.satDark .scDialogHeader,
body.satDark .ui-widget-header {
  color: var(--white);
  background-color: var(--black1) !important;
}

body.satDark .ui-progressbar-value {
  background-color: #00b6ff !important;
}

body.satDark .scNavButton:hover,
body.satDark .scCalendarYearLeftCell:hover,
body.satDark .scCalendarYearRightCell:hover {
  background: #e3e3e3;
}

body.satDark .scOverlay,
body.satDark .ui-widget-overlay {
  background: rgba(255, 255, 255, 0.3) !important;
}

body.satDark #SettingsPane {
  background: var(--black) !important;
}

body.satDark #FooterRow {
  border-top: 1px solid var(--black2);
}
body.satDark #Editors,
body.satDark #MainPanel,
body.satDark .scValidatorPanel,
body.satDark .scEditorSections {
  background-color: var(--black1) !important;
}

body.satDark #FooterRow {
  background: var(--black2) !important;
}
body.satDark #Renderings,
body.satDark #placeholders {
  color: var(--black5);
}
body.satDark .scEditorInformation {
  background-color: var(--lightblue) !important;
}
body.satDark .standardWindowCaption {
  background-color: var(--black1) !important;
}
body.satDark .spe-secured-app .scEditorWarningOption {
  color: #897a2e !important;
}
body.satDark .top-row {
  background-color: var(--black3) !important;
}
body.satDark .sc-kpi {
  background-color: var(--black2) !important;
}
body.satDark .pick-button,
body.satDark .display-off,
body.satDark .item-picker {
  background-color: var(--black1) !important;
}
body.satDark .pick-button:hover {
  background-color: #69a8d0 !important;
}

body.satDark .scEditHtmlButtons {
  background: var(--black2);
  border-top: #333 1px solid;
}

body.satDark .sc .sc-smartpanel-wrapper {
  background: var(--black2);
  color: var(--text);
}

body.satDark .sc .sc-smartpanel-buttons,
body.satDark .sc .sc-smartpanel-header {
  background: var(--black1);
  color: var(--text);
}
