/*
 * Sitecore Dark Mode UI, by Ugo Quaisse
 * dialogs.css
 */

body.dark form {
  height: 100%;
  width: 100%;
  position: absolute;
  color: var(--text) !important;
}

body.dark .scFormDialogHeader {
  width: 100%;
  min-height: 45px !important;
}

body.dark .scFormDialogFooter {
  position: relative;
  background-color: var(--black1) !important;
  border-top: 1px solid var(--black3) !important;
  padding: 8px 15px 9px;
  height: 56px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 34px;
}

body.dark .scFormDialogFooter .footerOkCancel {
  white-space: nowrap;
  right: 15px;
  text-align: right;
}

body.dark .ie8 .lang_ja_jp .scFormDialogFooter > div,
body.dark .ie9 .lang_ja_jp .scFormDialogFooter > div {
  padding-top: 0;
}

body.dark .scDialogHeader {
  width: 100%;
}

body.dark .scDialogMessage {
  font-size: 1.167em;
  color: #cccccc !important;
  line-height: 1.42857143;
  word-break: break-all;
  word-break: break-word; /* Chrome */
}

body.dark .scDialogContentContainer {
  width: 100%;
  padding: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

body.dark .ie9 .scDialogContentContainer.scStretchAbsolute {
  width: auto;
}

body.dark .scDialogContentContainer > div {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.dark .scDialogTextWithPadding {
  display: block;
  padding-bottom: 4px;
}

body.dark .lang_ja_jp #Versions td {
  white-space: nowrap;
}

body.dark .scDialogNoWrap {
  white-space: nowrap;
  overflow: hidden;
}

body.dark .DialogHeader {
  font-size: 18px;
  padding: 0 15px 0;
  line-height: 30px;
}

body.dark .DialogHeaderDescription {
  padding: 10px 75px 10px 15px;
  background-color: var(--black2);
  color: var(--black9);
}

/* Extracted from dialogs*/
body.dark .ProfileCardsContainer {
  overflow-y: auto;
}

body.dark .NoProfilesText {
  margin: 10px;
  color: var(--black6);
}

/*        #TextLiteral
        {
          display:block;
          padding-bottom:2px;
        }
        
        #Cancel{
          display: none;
        }
    */

body.dark .dialogButtonsRight > .scButton {
  width: 100%;
  margin-top: 15px;
  margin-left: 0;
}

body.dark .dialogButtonsRight > .scButton:first-child {
  margin-top: 0;
}

/* jquery overwrite */

body.dark .ui-dialog {
  padding: 0;
  -webkit-box-shadow: 0 5px 50px rgb(0, 0, 0) !important;
  box-shadow: 0 5px 50px rgb(0, 0, 0) !important;
  background-clip: padding-box;
}

body.dark .ui-dialog .ui-dialog-title {
  margin: 0;
  display: none;
}

body.dark .ui-dialog-titlebar,
body.dark .ui-dialog .ui-dialog-titlebar {
  padding: 0;
  position: relative;
  background-color: var(--black1) !important;
}

body.dark .scFormDialogHeader .DialogHeader,
body.dark .ui-dialog .ui-dialog-titlebar + .DialogHeader {
  height: 45px;
  background: var(--black1) !important;
  color: #fff;
  padding: 0 0 0 15px;
  line-height: 28px;
  font-size: 18px;
}

body.dark .ui-widget-content {
  border: 0px;
  background-image: none;
  background-color: var(--black2) !important;
}

body.dark .scFormDialogHeader,
body.dark .scDialogHeader,
body.dark .ui-widget-header {
  border: 0;
  background-image: none;
  padding: 0;
  color: var(--white);
  background-color: var(--black1) !important;
  min-height: 15px;
  position: relative;
  border-radius: 0;
}

body.dark .ui-progressbar-value {
  background-color: #00b6ff !important;
}

body.dark .ui-dialog-titlebar-buttonpane {
  margin-top: 0 !important;
  position: absolute;
  top: 21px !important;
  right: 15px !important;
  z-index: 9999;
}

body.dark .ui-state-default,
body.dark .ui-widget-content .ui-state-default,
body.dark .ui-widget-header .ui-state-default,
body.dark .ui-dialog-titlebar-buttonpane a {
  background-image: none;
  background-color: transparent;
  border: 0;
  margin-right: 15px;
}

body.dark .ui-dialog .ui-dialog-titlebar-close {
  height: 18px;
}

body.dark .no-close .ui-dialog-titlebar-close,
body.dark .no-maximize .ui-dialog-titlebar-maximize,
body.dark .no-restore .ui-dialog-titlebar-restore {
  display: none !important;
}

body.dark .scNavButton:hover,
body.dark .scCalendarYearLeftCell:hover,
body.dark .scCalendarYearRightCell:hover {
  background: #e3e3e3;
  cursor: pointer;
}

body.dark .scOverlay,
body.dark .ui-widget-overlay {
  background: rgba(255, 255, 255, 0.05) !important;
}

body.dark #SettingsPane {
  background: var(--black) !important;
  border: 0px !important;
  padding: 10px;
}

body.dark #FooterRow {
  border-top: 1px solid var(--black2);
}
body.dark #Editors,
body.dark #MainPanel,
body.dark .scValidatorPanel,
body.dark .scEditorSections {
  background-color: var(--black3) !important;
}

body.dark #FooterRow {
  background: var(--black2) !important;
}
body.dark #Renderings,
body.dark #placeholders {
  color: var(--black5);
}
body.dark .scEditorInformation {
  background-color: var(--lightblue) !important;
}
body.dark .standardWindowCaption {
  background-color: var(--black1) !important;
}
body.dark .cmd .clipboard {
  background-color: transparent !important;
  border: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}
body.dark .spe-secured-app .scEditorWarningOption {
  color: #897a2e !important;
}
body.dark .top-row {
  background-color: var(--black3) !important;
}
body.dark .sc-kpi {
  background-color: var(--black2) !important;
}
body.dark .pick-button,
body.dark .display-off,
body.dark .item-picker {
  background-color: var(--black1) !important;
}
body.dark .pick-button:hover {
  background-color: #69a8d0 !important;
}

body.dark .scEditHtmlButtons {
  background: var(--black2);
  border-top: #333 1px solid;
}
