/*
 * Sitecore Dark Mode UI, by Ugo Quaisse
 * dialogs.css
 */

form {
    height: 100%;
    width: 100%;
    position: absolute;
}

.scFormDialogHeader {
    width: 100%;
    min-height: 45px !important;
}
   

.scFormDialogFooter {
    position: relative;
    background-color: #1d1d1d !important;
    border-top: 1px solid #292929 !important;
    padding: 8px 15px 9px;
    height: 56px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 34px;
}

    .scFormDialogFooter .footerOkCancel {
        white-space: nowrap;
        right: 15px;
        text-align: right;
    }

.ie8 .lang_ja_jp .scFormDialogFooter > div, .ie9 .lang_ja_jp .scFormDialogFooter > div {
    padding-top: 0;
}

.scDialogHeader {
    width: 100%;
}

.scDialogMessage {
    font-size: 1.167em;
    color: #cccccc !important;
    line-height: 1.42857143;
    word-break: break-all;
    word-break: break-word; /* Chrome */
}

.scDialogContentContainer {
    width: 100%;
    padding: 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

    .ie9 .scDialogContentContainer.scStretchAbsolute {
        width: auto;
    }

    .scDialogContentContainer > div {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.scDialogTextWithPadding {
    display: block;
    padding-bottom: 4px;
}

.lang_ja_jp #Versions td {
    white-space: nowrap;
}

.scDialogNoWrap {
    white-space: nowrap;
    overflow: hidden;
}


.DialogHeader {
    font-size: 18px;
    padding: 0 15px 0;
    line-height: 30px;
}

.DialogHeaderDescription {
    padding: 0 75px 15px 15px;
}




/* Extracted from dialogs*/
.ProfileCardsContainer {
    overflow-y: auto;
}

.NoProfilesText {
    margin: 10px;
    color: #666666;
}

/*        #TextLiteral
        {
          display:block;
          padding-bottom:2px;
        }
        
        #Cancel{
          display: none;
        }
    */

.dialogButtonsRight > .scButton {
  width: 100%;
  margin-top: 15px;
  margin-left: 0;
}

.dialogButtonsRight > .scButton:first-child {
    margin-top: 0;
}





/* jquery overwrite */

.ui-dialog {
    padding: 0;
     -webkit-box-shadow: 0 5px 50px rgb(0, 0, 0) !important;
    box-shadow: 0 5px 50px rgb(0, 0, 0) !important;
    background-clip: padding-box;
}

    .ui-dialog .ui-dialog-title {
        margin: 0;
        display: none;
    }

    .ui-dialog .ui-dialog-titlebar {
        padding: 0;
        position: relative;
        background-color: #111111;
    }

        .scFormDialogHeader .DialogHeader,
        .ui-dialog .ui-dialog-titlebar + .DialogHeader {
            height: 45px;
            background: #111111;
            color: #fff;
            padding: 0 0 0 15px;
            line-height: 28px;
            font-size: 18px;
        }

.ui-widget-content {
    border: 0px;
    background-image: none;
    background-color: #222222 !important;
}

.scFormDialogHeader,
.scDialogHeader,
.ui-widget-header {
    border: 0;
    background-image: none;
    padding: 0;
    color: #fff;
    background-color: #222222;
    min-height: 15px;
    position: relative;
    border-radius: 0;
}

.ui-dialog-titlebar-buttonpane {
    margin-top: 0 !important;
    position: absolute;
    top: 21px !important;
    right: 15px !important;
    z-index: 9999;
}

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-dialog-titlebar-buttonpane a {
        background-image: none;
        background-color: transparent;
        border: 0;
        margin-right:15px;
    }


.ui-dialog .ui-dialog-titlebar-close {
    height: 18px;
}

.no-close .ui-dialog-titlebar-close, .no-maximize .ui-dialog-titlebar-maximize, .no-restore .ui-dialog-titlebar-restore{
    display: none !important;
}

.scNavButton:hover, 
.scCalendarYearLeftCell:hover,
.scCalendarYearRightCell:hover  {
    background: #e3e3e3;
    cursor: pointer;
}

.ui-widget-overlay {
    background: #000000 50% 50% repeat-x !important;
    opacity: 0.5 !important;
}

#SettingsPane {
    background: #0e0e0e !important;
    border: 0px !important;
    padding: 10px;
}

#FooterRow {
    border-top: 1px solid #2f2f2f;
}
#Editors, #MainPanel, .scValidatorPanel, .scEditorSections {
    background-color: #222222 !important;
}

#FooterRow {
    background: #222222 !important;
}