/* Sitecore EE  */
:root
{
  --black: #000;
  --black1: #111;
  --black2: #222;
  --black3: #333;
  --black4: #444;
  --black5: #555;
  --black6: #666;
  --black7: #777;
  --black8: #888;
  --black9: #999;

  --lightblue: #1e81ef;
  --blue: #0769d6;
  --darkblue: #034c9e;
  --verydarkblue: #002f64;

  --lightgreen: #00e458;
  --green: #32ed74;
  --darkgreen: #46b450;

  --lightred: #ee4546;
  --red: #a11d16;
  --darkred: #6B120F;

  --white: #fff;
  --text: #ccc;

}

body {
    background-color: var(--black2) !important;
    color: var(--text) !important;
}
.selected .mode, .selected .mode:hover, .selected .mode:active {
	background-color: var(--black4);
    border: 1px solid var(--black4);
    padding: 7px;
}

.main-column {
    border: 1px solid var(--black4);
    background: var(--black3)!important;
}

.section-header {
	border: 1px solid var(--black3);
}

.scWarning {
    background: #b99226;
}

iframe.scSpeakWebEditRibbon {
    background: var(--black2);
}

#Editors, #MainPanel, .scValidatorPanel, .scEditorSections {
	background-color: var(--black2) !important;
}

#FooterRow {
	background: var(--black2) !important;
}

.sc-ribbon .sc-strip {
    height: 95px !important;
    min-height: none !important;
}

.sc-ribbon {
    background-color: var(--black2) !important;
    border-top: 0px !important;
    border-bottom: 1px solid var(--black1) !important;
}

.sc-quickbar-tab.sc-quickbar-tab-selected {
    background-color: var(--black2) !important;
    color: var(--text) !important;
}
.sc-quickbar-tab {
    margin-top: 15px !important;
    margin-bottom: 0px  !important;
    padding: 5px 14px  !important;
    border: 1px solid var(--text)  !important;
    border-color: transparent  !important;
    text-decoration: none !important;
}
.sc-quickbar-tab:hover {
    background-color: var(--blue) !important;
    border-radius: 4px !important;
    color: var(--text) !important
}
.sc-ribbon .sc-chunk:after {
    background-color: var(--black1) !important;
}
.sc-ribbon .sc-chunk-label {
    color: var(--text) !important;
}
.sc-ribbon .sc-chunk-button-list span {
    color: #d6d6d6 !important;
}
.sc-ribbon .pressed {
    background-color: var(--blue) !important;
    border-radius: 4px !important;
    padding: 4px 8px !important;
}
.sc-ribbon .pressed .sc-chunk-button-label {
    color: var(--text) !important
}
.sc-ribbon .sc-chunk-button, .sc-ribbon .sc-chunk-button-dropdown, .sc-ribbon .sc-chunk-gallerybutton {
    padding: 4px 8px !important;
}
.sc-ribbon .sc-chunk-button:hover, .sc-ribbon .sc-chunk-button-dropdown:hover, .sc-ribbon .sc-chunk-gallerybutton:hover {
    background-color: var(--blue) !important;
    border-radius: 4px !important;
}
.sc-ribbon .sc-chunk-button:hover .sc-chunk-button-label, .sc-ribbon .sc-chunk-button-dropdown:hover .sc-chunk-button-label, .sc-ribbon .sc-chunk-gallerybutton:hover .sc-chunk-button-label {
    color: var(--text) !important;
}
.sc-ribbon .pressed .sc-chunk-button-list span {
    color: var(--black1) !important;
}
.sc-quickbar {
    background-color: var(--black3) !important;
}
.sc-quickbar-item {
    color: var(--text) !important;
    font-size: 12px !important;
}
.sc-quickbar-button {
    background: var(--black2) !important;
    margin: 7px 2px 0px 0px !important;
    border-radius: 4px !important;
}
.sc-quickbar-button:hover {
    background-color: var(--blue) !important;
}
.sc-ribbon .sc-chunk-panel {
    border: 0px !important;
    background: var(--black1) !important;
}
.sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-datetime:hover {
    background-color: transparent !important;
}
.sc-breadcrumb {
    border-top: 1px solid var(--black3) !important;
    background: var(--black2) !important;
    border-bottom: 1px solid var(--black1) !important;
}
.sc-breadcrumb .sc-breadcrumb-item-action, .sc-breadcrumb .sc-breadcrumb-item-path {
    color: var(--text) !important;
}
.sc-breadcrumb-item-rectangle, .sc-breadcrumb .sc-breadcrumb-item-action:hover, .sc-breadcrumb .sc-breadcrumb-item-path:hover {
    border: 1px solid transparent !important;
    background: none !important;
}
.sc-breadcrumb-item-action:hover .sprite-speak-ribbon-clean-ee {
    filter: invert(1);
}
.sc-breadcrumb-item-button:hover {
    opacity: 0.7;
    border-color: transparent !important;
}
.sprite-speak-ribbon-clean-ee.small {
    margin: 0px !important;
}
iframe.scSpeakWebEditRibbon {
    background-color: var(--black3) !important
}
#sxa-toolbox {
    background-color: var(--black2) !important;
    border-left: 0px solid transparent !important;

}
.sc-dialogWindow-header {
    background: var(--black1) !important;
}

.sc-dialogWindow-buttons {
    background-color: var(--black1) !important;
    border-top: 1px solid var(--black3) !important;
}
[data-sc-id="MessageBody"] {
    color: var(--text) !important;
}

.sc {
    background-color: var(--black2) !important;
}

#scCrossPiece {
    background-color: var(--black2) !important;
}

.scExpTab {
    background-color: var(--black2) !important;
    color: var(--text) !important;
}
#sxa-toolbox.sxa-mobile-toolbox .sxa-toolbox-header,
#sxa-toolbox.sxa-mobile-toolbox .sxa-toolbox-expander {
    background-color: var(--black2) !important;
}
#sxa-toolbox {
    background-color: var(--black2) !important;
    border-left: 4px solid var(--black2);
}
#sxa-toolbox #sxa-toolbox-root .mCSB_container>div>span.expanded {
    border-left: 5px solid var(--darkblue) !important;
    background: var(--black3) !important;
}
#sxa-toolbox #sxa-toolbox-root .mCSB_container>div>span {
    background: var(--black3) !important;
}
.sc-dialogWindow-header {
  background-color: var(--black1) !important;
}
.sc-insertItem-container .sc-insertItem-displayNameContainer,
.sc ul.dynatree-container a {
    color: var(--text) !important;
}
.sc span.dynatree-expander {
    filter:invert(1);
}
.sc ul.dynatree-container a:hover,
.sc span.dynatree-active a, .sc span.dynatree-active a:hover {
    border-radius: 4px !important;
    background-color: #2694c0 !important;
}
.form-control {
    background-color: var(--black1) !important;
    border: 1px solid var(--black1) !important;
    color: var(--text) !important;
}
.sc-insert-items {
    background-color: var(--black2) !important;
}
.sc-insertItem-container,
.sc-insertItem-container .sc-insertItem-imageContainer {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}
.sc-insertItem-container.hover,
.sc-insertItem-container.selected {
    background-color: var(--blue) !important;
    border-radius: 4px !important;
    cursor: pointer;
}
[data-sc-id="ItemTreeView"] {
    border-right-color: var(--black1) !important;
}
.btn-default:hover {
    background-image: linear-gradient(to bottom, #289bc8 0%, var(--darkblue) 100%);
    color: var(--white) !important;
    text-shadow: 0 1px 0 transparent;
    border-color: #175973;
    -webkit-box-shadow: inset 0 1px #5dbadf;
    box-shadow: inset 0 1px #5dbadf;
    background-color: #289bc8;
}
.sc-ribbon .sc-chunk-button-small:hover {
    background-color: var(--blue) !important;
    border-radius: 4px !important;
}
.scFormDialogHeader {
    width: 100%;
    min-height: 45px !important;
}  
.scFormDialogFooter {
    position: relative;
    background-color: var(--black1) !important;
    border-top: 1px solid var(--black3) !important;
    padding: 8px 15px 9px;
    height: 56px;
    box-sizing: border-box;
    line-height: 34px;
}

    .scFormDialogFooter .footerOkCancel {
        white-space: nowrap;
        right: 15px;
        text-align: right;
    }

.scChromeControls, .scChromeDropDown {
    border: solid 1px var(--black6);
    background: var(--black2);
    color: var(--text) !important;
}

span.scChromeCommandText {
    color: var(--text) !important;
}

.sc-dialogContent {
  color: var(--text);
}

.sc-listcontrol-tile-content {
  background: var(--black2) !important;
}