body.satExperimentalUi.satDark a:link {
  color: inherit !important;
}

body.satExperimentalUi.satDark .scBackground,
body.satExperimentalUi.satDark .scEditorTabHeaderActive,
body.satExperimentalUi.satDark #EditorTabs {
  background-color: var(--black2) !important;
}

body.satExperimentalUi.satDark #FileList {
  background: var(--black1) !important;
}

body.satExperimentalUi.satDark #FileList a {
  background-color: var(--black1);
  border-color: var(--black1);
}

body.satExperimentalUi.satDark .scSaveBar > .scActions > .scPublishMenu,
body.satExperimentalUi.satDark .scEditorTabControlsHolder > .scMoreMenu {
  background-color: var(--black1) !important;
}

body.satExperimentalUi.satDark .scEditorTabControlsHolder > .scMoreMenu > li:hover,
body.satExperimentalUi.satDark .scSaveBar > .scActions > .scPublishMenu > li:hover {
  background-color: var(--accent) !important;
  color: var(--accentText);
}

body.satExperimentalUi.satDark .scEditorTabControlsHolder > .scMoreMenu > li.separator {
  border-top: 1px solid var(--black3);
}

/* Message bars */

body.satExperimentalUi.satDark .scMessageBar {
  color: var(--whiteFaded) !important;
}

body.satExperimentalUi.satDark .scMessageBar.scSuccess {
  background-color: #044740 !important;
}

body.satExperimentalUi.satDark .scMessageBar.scWarning {
  background-color: #61520d !important;
}

body.satExperimentalUi.satDark .scMessageBar.scError {
  background-color: #6b120f !important;
}

body.satExperimentalUi.satDark .scMessageBar.scInformation {
  background-color: #040b47 !important;
}

body.satExperimentalUi.satDark .scMessageBarIcon {
  background-color: var(--whiteFaded) !important;
}

body.satExperimentalUi.satDark .scMessageBarTextContainer > .scMessageBarTitle,
body.satExperimentalUi.satDark .scMessageBarTextContainer > .scMessageBarText,
body.satExperimentalUi.satDark .scMessageBarTextContainer > .scMessageBar a,
body.satExperimentalUi.satDark .scMessageBarTextContainer .scMessageBarOption,
body.satExperimentalUi.satDark .scMessageBarTextContainer .scMessageBarOptions > .scMessageBarOptionBullet {
  color: var(--white) !important;
  text-decoration-color: var(--white) !important;
  opacity: 0.7;
}

/* Ends */

body.satExperimentalUi.satDark .scEditorTabHeaderNormal,
body.satExperimentalUi.satDark .scContentControlAttachmentImage {
  background-color: var(--black2) !important;
  border: 0px;
}

body.satExperimentalUi.satDark .splitter-bar:hover,
body.satExperimentalUi.satDark .splitter-bar:hover::before {
  background-color: var(--accent) !important;
}

body.satExperimentalUi.satDark .scOverlay,
body.satExperimentalUi.satDark .ui-widget-overlay {
  background: rgba(0, 0, 0, 0.2) !important;
}

body.satExperimentalUi.satDark a.scContentButton {
  color: var(--accent) !important;
}

body.satExperimentalUi.satDark a.scContentButton:hover {
  color: var(--accentText) !important;
  background-color: var(--accent);
  text-decoration: none;
}

body.satExperimentalUi.satDark #scModal {
  background-color: var(--black1) !important;
}

body.satExperimentalUi.satDark #SearchPanel {
  padding: 17px;
  background-color: var(--black1) !important;
}

body.satExperimentalUi.satDark .scSaveBar {
  background-color: var(--black1) !important;
  border-bottom: 1px solid var(--black3);
}

body.satExperimentalUi.satDark .scSaveBar > .scActions > button {
  background-color: var(--black2);
  color: var(--white);
}

body.satExperimentalUi.satDark .scEditorTabControlsHolder {
  margin: 11px 13px;
  height: auto;
}

body.satExperimentalUi.satDark a.scEditorHeaderButton,
body.satExperimentalUi.satDark button.scEditorHeaderButton {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid transparent;
}

body.satExperimentalUi.satDark a.scEditorHeaderButton > img,
body.satExperimentalUi.satDark button.scEditorHeaderButton > img {
  filter: invert(1);
}

body.satExperimentalUi.satDark .scEditorGrid {
  background-color: var(--black1) !important;
}

body.satExperimentalUi.satDark .scEditorTabHeaderActive {
  background-color: var(--black2) !important;
}

body.satExperimentalUi.satDark .scEditorTab {
  background: var(--black3) !important;
}

body.satExperimentalUi.satDark .scEditorTabSelected {
  background-color: var(--black2) !important;
}

body.satExperimentalUi.satDark #scEditorTabs > ul > li {
  border: 1px solid var(--black2);
  border-bottom: 0px solid var(--black2);
}

body.satExperimentalUi.satDark #scEditorTabs > ul > li:not(.scEditorTabEmpty):hover {
  color: var(--text) !important;
  background: var(--black3) !important;
}

body.satExperimentalUi.satDark #scEditorTabs > ul > li.scEditorTabSelected:hover {
  background: var(--black2) !important;
  border-top: 3px solid var(--accent) !important;
}

body.satExperimentalUi.satDark #BTAddNewSearch {
  background-color: var(--black2) !important;
  border: 0px solid var(--black2) !important;
}

body.satExperimentalUi.satDark .scEditorSectionPanel {
  display: table;
  border-radius: 0px 0px 3px 3px;
  margin: 20px;
  margin-top: 0px !important;
  padding: 15px;
  width: calc(100% - 40px);
  background-color: var(--white);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--black2) !important;
}

body.satExperimentalUi.satDark .scEditorSectionPanel.scTabsRounded {
  border-radius: 3px;
}

body.satExperimentalUi.satDark .scEditorSectionPanelCell {
  padding: 20px 20px 20px 15px;
}

body.satExperimentalUi.satDark .scEditorTabEmpty {
  background-color: var(--black1) !important;
  border-bottom: 0px !important;
}

body.satExperimentalUi.satDark .scContentTreeNodeGlyph:hover + a > span,
body.satExperimentalUi.satDark div.scContentTreeNode > img:hover + a > span,
body.satExperimentalUi.satDark a.scContentTreeNodeNormal:hover > span {
  background-color: var(--black3) !important;
}

body.satExperimentalUi.satDark .scTreeview .icon,
body.satExperimentalUi.satDark .scTreeview .icon_Hover,
body.satExperimentalUi.satDark #scModal .item > a > img {
  filter: grayscale(1) brightness(0.4) contrast(2) invert(1);
}

body.satExperimentalUi.satDark .scInsertItemIcon,
body.satExperimentalUi.satDark .scEditItemIcon {
  filter: invert(0);
}

body.satExperimentalUi.satDark #FileList a.scButton {
  background: var(--black4) !important;
  border: 1px solid var(--black4) !important;
}

body.satExperimentalUi.satDark #FileList a.scButton > img {
  filter: invert(var(--accentInvert));
}

body.satExperimentalUi.satDark .scMediaExplorer th {
  border-top: 1px solid var(--black1);
}

body.satExperimentalUi.satDark .scMediaExplorer thead tr {
  background: var(--black1);
}

body.satExperimentalUi.satDark .scMediaExplorer thead tr:hover,
body.satExperimentalUi.satDark .scMediaExplorer thead tr th:hover,
body.satExperimentalUi.satDark .scMediaExplorer thead tr .mediaSelected {
  background: var(--black2) !important;
}

body.satExperimentalUi.satDark .scTiles .scTileItem:nth-child(even),
body.satExperimentalUi.satDark .scMediaExplorer tbody tr:nth-child(even) {
  background: var(--black3);
}

body.satExperimentalUi.satDark .scTiles .scTileItem:nth-child(odd),
body.satExperimentalUi.satDark .scMediaExplorer tbody tr:nth-child(odd) {
  background: var(--black2);
}

body.satExperimentalUi.satDark #ContentEditor,
body.satExperimentalUi.satDark #Page {
  background-color: var(--black);
}

body.satExperimentalUi.satDark #ContentTreePanel .scContentTreeNodeGlyph:hover + a > span,
body.satExperimentalUi.satDark #ContentTreePanel div.scContentTreeNode > img:hover + a > span,
body.satExperimentalUi.satDark #ContentTreePanel a.scContentTreeNodeNormal:hover > span {
  background-color: var(--grey2) !important;
}

body.satExperimentalUi.satDark .scFormDialogHeader,
body.satExperimentalUi.satDark .scDialogHeader,
body.satExperimentalUi.satDark .ui-widget-header {
  background-color: var(--black1) !important;
}

body.satExperimentalUi.satDark a.scRibbonEditorTabNormal {
  border-bottom: 3px solid var(--black2) !important;
}

body.satExperimentalUi.satDark .scNoResult > img,
body.satExperimentalUi.satDark .scNoVersion > img {
  filter: invert(1) !important;
}

body.satExperimentalUi.satDark #scPanel {
  background-color: var(--black2) !important;
}

body.satExperimentalUi.satDark .versionNumSelected,
body.satExperimentalUi.satDark .scMenuItemIcon_Hover,
body.satExperimentalUi.satDark .scMenuItemCaption_Hover,
body.satExperimentalUi.satDark .scMenuItemHotkey_Hover,
body.satExperimentalUi.satDark .scMenuPanelItemSelected,
body.satExperimentalUi.satDark .scMenuPanelItemSelected_Hover,
body.satExperimentalUi.satDark .scMenuPanelItem_Hover,
body.satExperimentalUi.satDark .sc-gallery-option-content-active {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUisatDark .scContentControlCheckbox:checked + .scContentControlCheckboxLabel::before {
  background-color: var(--accent) !important;
}

body.satExperimentalUi.satDark .scContentControlImageImage > iframe {
  background: var(--grey2) url(chrome-extension://__MSG_@@extension_id__/images/backgroundImage.svg) center 70% no-repeat !important;
  background-size: 7% !important;
}

body.satExperimentalUi.satDark .scContentControlImageDetails {
  background-color: var(--grey2);
}

/* hover styles*/
body.satExperimentalUi.satDark .scRibbon a.scRibbonNavigatorButtonsContextualNormal:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonNavigatorButtonsNormal:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeButtonDown:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
body.satExperimentalUi.satDark a.scRibbonToolbarSmallButton:hover,
body.satExperimentalUi.satDark .scRibbonToolbarSmallButton:hover,
body.satExperimentalUi.satDark a.scRibbonToolbarSmallButtonDown:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeTextButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeTextButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
body.satExperimentalUi.satDark .scRibbonLargeImageButton:hover,
body.satExperimentalUi.satDark .scRibbonLargeImageButtonDown:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeIconButton:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
body.satExperimentalUi.satDark .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
body.satExperimentalUi.satDark .scRibbonToolbarLargeComboButtonDown:hover {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUi.satDark .scStretch {
  background-color: var(--black2) !important;
}

body.satExperimentalUi.satDark #Renderings > div,
body.satExperimentalUi.satDark #Placeholders > div {
  color: var(--text);
}

body.satExperimentalUi.satDark .scVerticalTabstrip .scVerticalTabs a.active,
body.satExperimentalUi.satDark .scVerticalTabstrip .scVerticalTabs a.active:hover,
body.satExperimentalUi.satDark .selected .mode,
body.satExperimentalUi.satDark .selected .mode:hover,
body.satExperimentalUi.satDark .selected .mode:active,
body.satExperimentalUi.satDark input[type="submit"],
body.satExperimentalUi.satDark .scButton,
body.satExperimentalUi.satDark .scButton:hover,
body.satExperimentalUi.satDark input[type="submit"]:hover,
body.satExperimentalUi.satDark #Renderings > div:hover,
body.satExperimentalUi.satDark #Placeholders > div:hover,
body.satExperimentalUi.satDark .scVerticalTabstrip .scVerticalTabs a:hover {
  background-color: var(--accent) !important;
  color: var(--accentText) !important;
}

body.satExperimentalUi.satDark .scButton[disabled],
body.satExperimentalUi.satDark .scButton[disabled]:active,
body.satExperimentalUi.satDark .scButton[disabled]:hover {
  color: var(--black) !important;
  background-color: var(--black5) !important;
}
