/*
 * Sitecore Expeimental LaunchPad Dark Mode by Saad Ansari
 * experimentalui-launchpad.css
 */
@import "../experimentalui-launchpad.css";

.sc-applicationContent-main {
	background-color: #2b2b2b;
}

.sc-launchpad-item {
	border-color: #353535;
	background-color: #1f1f1f;
	color: #eee;
}

.sc-launchpad-item:hover {
	border-color: #020202;
	background-color: #0e0e0e;
	color: #eee;
}

.sc .sc-border[data-sc-id="AnalyticsFallback"] {
	background: #1f1f1f;
	color: #fff;
}

.sc .sc-text-largetitle {
	color: #969696;
}

.sc .sc-border[data-sc-id="FallbackMessageWrap"] {
	border-color: #474747;
	color: #969696;
}