body.dark_sat {
  background-color: var(--black2) !important;
  color: var(--text) !important;
}
body.dark_sat .selected .mode,
body.dark_sat .selected .mode:hover,
body.dark_sat .selected .mode:active {
  background-color: var(--black4);
  border: 1px solid var(--black4);
}

body.dark_sat .main-column {
  border: 1px solid var(--black4);
  background: var(--black3) !important;
}

body.dark_sat .section-header {
  border: 1px solid var(--black3);
}

body.dark_sat .scWarning {
  background: #b99226;
}

body.dark_sat iframe.scSpeakWebEditRibbon {
  background: var(--black2);
}

body.dark_sat #Editors,
body.dark_sat #MainPanel,
body.dark_sat .scValidatorPanel,
body.dark_sat .scEditorSections {
  background-color: var(--black2) !important;
}

body.dark_sat #FooterRow {
  background: var(--black2) !important;
}

body.dark_sat .sc-ribbon {
  background-color: var(--black2) !important;
  border-bottom: 1px solid var(--black1) !important;
}

body.dark_sat .sc-quickbar-tab.sc-quickbar-tab-selected {
  background-color: var(--black2) !important;
  color: var(--text) !important;
}
body.dark_sat .sc-quickbar-tab {
  border: 1px solid var(--text) !important;
  border-color: transparent !important;
}
body.dark_sat .sc-quickbar-tab:hover {
  background-color: var(--blue) !important;
  color: var(--text) !important;
}
body.dark_sat .sc-ribbon .sc-chunk:after {
  background-color: var(--black1) !important;
}
body.dark_sat .sc-ribbon .sc-chunk-label {
  color: var(--text) !important;
}
body.dark_sat .sc-ribbon .sc-chunk-button-list span {
  color: #d6d6d6 !important;
}
body.dark_sat .sc-ribbon .pressed {
  background-color: var(--blue) !important;
}
body.dark_sat .sc-ribbon .pressed .sc-chunk-button-label {
  color: var(--text) !important;
}

body.dark_sat .sc-ribbon .sc-chunk-button:hover,
body.dark_sat .sc-ribbon .sc-chunk-button-dropdown:hover,
body.dark_sat .sc-ribbon .sc-chunk-gallerybutton:hover {
  background-color: var(--blue) !important;
}
body.dark_sat .sc-ribbon .sc-chunk-button:hover .sc-chunk-button-label,
body.dark_sat .sc-ribbon .sc-chunk-button-dropdown:hover .sc-chunk-button-label,
body.dark_sat .sc-ribbon .sc-chunk-gallerybutton:hover .sc-chunk-button-label {
  color: var(--text) !important;
}
body.dark_sat .sc-ribbon .pressed .sc-chunk-button-list span {
  color: var(--black1) !important;
}
body.dark_sat .sc-quickbar {
  background-color: var(--black3) !important;
}
body.dark_sat .sc-quickbar-item {
  color: var(--text) !important;
}
body.dark_sat .sc-quickbar-button {
  background: var(--black2) !important;
}
body.dark_sat .sc-quickbar-button:hover {
  background-color: var(--blue) !important;
}
body.dark_sat .sc-ribbon .sc-chunk-panel {
  background: var(--black1) !important;
}
body.dark_sat
  .sc-ribbon
  .sc-chunk-datepanel
  .sc-chunk-datepanel-datetime:hover {
  background-color: transparent !important;
}
body.dark_sat .sc-breadcrumb {
  border-top: 1px solid var(--black3) !important;
  background: var(--black2) !important;
  border-bottom: 1px solid var(--black1) !important;
}
body.dark_sat .sc-breadcrumb .sc-breadcrumb-item-action,
body.dark_sat .sc-breadcrumb .sc-breadcrumb-item-path {
  color: var(--text) !important;
}
body.dark_sat .sc-breadcrumb-item-rectangle,
body.dark_sat .sc-breadcrumb .sc-breadcrumb-item-action:hover,
body.dark_sat .sc-breadcrumb .sc-breadcrumb-item-path:hover {
  border: 1px solid transparent !important;
  background: none !important;
}
body.dark_sat .sc-breadcrumb-item-action:hover .sprite-speak-ribbon-clean-ee {
  filter: invert(1);
}
body.dark_sat .sc-breadcrumb-item-button:hover {
  opacity: 0.7;
  border-color: transparent !important;
}

body.dark_sat iframe.scSpeakWebEditRibbon {
  background-color: var(--black3) !important;
}
body.dark_sat #sxa-toolbox {
  background-color: var(--black2) !important;
  border-left: 0px solid transparent !important;
}
body.dark_sat .sc-dialogWindow-header {
  background: var(--black1) !important;
}

body.dark_sat .sc-dialogWindow-buttons {
  background-color: var(--black1) !important;
  border-top: 1px solid var(--black3) !important;
}
[data-sc-id="MessageBody"] {
  color: var(--text) !important;
}

body.dark_sat .sc {
  background-color: var(--black2) !important;
}

body.dark_sat #scCrossPiece {
  background-color: var(--black2) !important;
}

body.dark_sat .scExpTab {
  background-color: var(--black2) !important;
  color: var(--text) !important;
}
body.dark_sat #sxa-toolbox.sxa-mobile-toolbox .sxa-toolbox-header,
body.dark_sat #sxa-toolbox.sxa-mobile-toolbox .sxa-toolbox-expander {
  background-color: var(--black2) !important;
}
body.dark_sat #sxa-toolbox {
  background-color: var(--black2) !important;
  border-left: 4px solid var(--black2);
}
body.dark_sat
  #sxa-toolbox
  #sxa-toolbox-root
  .mCSB_container
  > div
  > span.expanded {
  border-left: 5px solid var(--darkblue) !important;
  background: var(--black3) !important;
}
body.dark_sat #sxa-toolbox #sxa-toolbox-root .mCSB_container > div > span {
  background: var(--black3) !important;
}
body.dark_sat .sc-dialogWindow-header {
  background-color: var(--black1) !important;
}
body.dark_sat .sc-insertItem-container .sc-insertItem-displayNameContainer,
body.dark_sat .sc ul.dynatree-container a {
  color: var(--text) !important;
}
body.dark_sat .sc span.dynatree-expander {
  filter: invert(1);
}
body.dark_sat .sc ul.dynatree-container a:hover,
body.dark_sat .sc span.dynatree-active a,
body.dark_sat .sc span.dynatree-active a:hover {
  background-color: #2694c0 !important;
}
body.dark_sat .form-control {
  background-color: var(--black1) !important;
  border: 1px solid var(--black1) !important;
  color: var(--text) !important;
}
body.dark_sat .sc-insert-items {
  background-color: var(--black2) !important;
}
body.dark_sat .sc-insertItem-container,
body.dark_sat .sc-insertItem-container .sc-insertItem-imageContainer {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}
body.dark_sat .sc-insertItem-container.hover,
body.dark_sat .sc-insertItem-container.selected {
  background-color: var(--blue) !important;
}
[data-sc-id="ItemTreeView"] {
  border-right-color: var(--black1) !important;
}
body.dark_sat .btn-default:hover {
  background-image: linear-gradient(
    to bottom,
    #289bc8 0%,
    var(--darkblue) 100%
  );
  color: var(--white) !important;
  text-shadow: 0 1px 0 transparent;
  border-color: #175973;
  box-shadow: inset 0 1px #5dbadf;
  background-color: #289bc8;
}
body.dark_sat .sc-ribbon .sc-chunk-button-small:hover {
  background-color: var(--blue) !important;
}

body.dark_sat .scFormDialogFooter {
  background-color: var(--black1) !important;
  border-top: 1px solid var(--black3) !important;
}

body.dark_sat .scChromeControls,
body.dark_sat .scChromeDropDown {
  border: solid 1px var(--black6);
  background: var(--black2);
  color: var(--text) !important;
}

body.dark_sat span.scChromeCommandText {
  color: var(--text) !important;
}

body.dark_sat .sc-dialogContent {
  color: var(--text);
}

body.dark_sat .sc-listcontrol-tile-content {
  background: var(--black2) !important;
}
