body.dark {
  background-color: var(--black1) !important;
  color: var(--text) !important;
}
body.dark .selected .mode,
body.dark .selected .mode:hover,
body.dark .selected .mode:active {
  background-color: var(--black4);
  border: 1px solid var(--black4);
  padding: 7px;
}

body.dark .main-column {
  border: 1px solid var(--black4);
  background: var(--black3) !important;
}

body.dark .section-header {
  border: 1px solid var(--black3);
}

body.dark .scWarning {
  background: #b99226;
}

body.dark iframe.scSpeakWebEditRibbon {
  background: var(--black2);
}

body.dark #Editors,
body.dark #MainPanel,
body.dark .scValidatorPanel,
body.dark .scEditorSections {
  background-color: var(--black2) !important;
}

body.dark #FooterRow {
  background: var(--black2) !important;
}

body.dark .sc-ribbon .sc-strip {
  height: 95px !important;
  min-height: none !important;
}

body.dark .sc-ribbon {
  background-color: var(--black2) !important;
  border-top: 0px !important;
  border-bottom: 1px solid var(--black1) !important;
}

body.dark .sc-quickbar-tab.sc-quickbar-tab-selected {
  background-color: var(--black2) !important;
  color: var(--text) !important;
}
body.dark .sc-quickbar-tab {
  margin-top: 15px !important;
  margin-bottom: 0px !important;
  padding: 5px 14px !important;
  border: 1px solid var(--text) !important;
  border-color: transparent !important;
  text-decoration: none !important;
}
body.dark .sc-quickbar-tab:hover {
  background-color: var(--blue) !important;
  border-radius: 4px !important;
  color: var(--text) !important;
}
body.dark .sc-ribbon .sc-chunk:after {
  background-color: var(--black1) !important;
}
body.dark .sc-ribbon .sc-chunk-label {
  color: var(--text) !important;
}
body.dark .sc-ribbon .sc-chunk-button-list span {
  color: #d6d6d6 !important;
}
body.dark .sc-ribbon .pressed {
  background-color: var(--blue) !important;
  border-radius: 4px !important;
  padding: 4px 8px !important;
}
body.dark .sc-ribbon .pressed .sc-chunk-button-label {
  color: var(--text) !important;
}
body.dark .sc-ribbon .sc-chunk-button,
body.dark .sc-ribbon .sc-chunk-button-dropdown,
body.dark .sc-ribbon .sc-chunk-gallerybutton {
  padding: 4px 8px !important;
}
body.dark .sc-ribbon .sc-chunk-button:hover,
body.dark .sc-ribbon .sc-chunk-button-dropdown:hover,
body.dark .sc-ribbon .sc-chunk-gallerybutton:hover {
  background-color: var(--blue) !important;
  border-radius: 4px !important;
}
body.dark .sc-ribbon .sc-chunk-button:hover .sc-chunk-button-label,
body.dark .sc-ribbon .sc-chunk-button-dropdown:hover .sc-chunk-button-label,
body.dark .sc-ribbon .sc-chunk-gallerybutton:hover .sc-chunk-button-label {
  color: var(--text) !important;
}
body.dark .sc-ribbon .pressed .sc-chunk-button-list span {
  color: var(--black1) !important;
}
body.dark .sc-quickbar {
  background-color: var(--black3) !important;
}
body.dark .sc-quickbar-item {
  color: var(--text) !important;
  font-size: 12px !important;
}
body.dark .sc-quickbar-button {
  background: var(--black2) !important;
  margin: 7px 2px 0px 0px !important;
  border-radius: 4px !important;
}
body.dark .sc-quickbar-button:hover {
  background-color: var(--blue) !important;
}
body.dark .sc-ribbon .sc-chunk-panel {
  border: 0px !important;
  background: var(--black1) !important;
}
body.dark .sc-ribbon .sc-chunk-datepanel .sc-chunk-datepanel-datetime:hover {
  background-color: transparent !important;
}
body.dark .sc-breadcrumb {
  border-top: 1px solid var(--black3) !important;
  background: var(--black2) !important;
  border-bottom: 1px solid var(--black1) !important;
}
body.dark .sc-breadcrumb .sc-breadcrumb-item-action,
body.dark .sc-breadcrumb .sc-breadcrumb-item-path {
  color: var(--text) !important;
}
body.dark .sc-breadcrumb-item-rectangle,
body.dark .sc-breadcrumb .sc-breadcrumb-item-action:hover,
body.dark .sc-breadcrumb .sc-breadcrumb-item-path:hover {
  border: 1px solid transparent !important;
  background: none !important;
}
body.dark .sc-breadcrumb-item-action:hover .sprite-speak-ribbon-clean-ee {
  filter: invert(1);
}
body.dark .sc-breadcrumb-item-button:hover {
  opacity: 0.7;
  border-color: transparent !important;
}
body.dark .sprite-speak-ribbon-clean-ee.small {
  margin: 0px !important;
}
body.dark iframe.scSpeakWebEditRibbon {
  background-color: var(--black3) !important;
}
body.dark #sxa-toolbox {
  background-color: var(--black2) !important;
  border-left: 0px solid transparent !important;
}
body.dark .sc-dialogWindow-header {
  background: var(--black1) !important;
}

body.dark .sc-dialogWindow-buttons {
  background-color: var(--black1) !important;
  border-top: 1px solid var(--black3) !important;
}
[data-sc-id="MessageBody"] {
  color: var(--text) !important;
}

body.dark .sc {
  background-color: var(--black2) !important;
}

body.dark #scCrossPiece {
  background-color: var(--black2) !important;
}

body.dark .scExpTab {
  background-color: var(--black2) !important;
  color: var(--text) !important;
}
body.dark #sxa-toolbox.sxa-mobile-toolbox .sxa-toolbox-header,
body.dark #sxa-toolbox.sxa-mobile-toolbox .sxa-toolbox-expander {
  background-color: var(--black2) !important;
}
body.dark #sxa-toolbox {
  background-color: var(--black2) !important;
  border-left: 4px solid var(--black2);
}
body.dark #sxa-toolbox #sxa-toolbox-root .mCSB_container > div > span.expanded {
  border-left: 5px solid var(--darkblue) !important;
  background: var(--black3) !important;
}
body.dark #sxa-toolbox #sxa-toolbox-root .mCSB_container > div > span {
  background: var(--black3) !important;
}
body.dark .sc-dialogWindow-header {
  background-color: var(--black1) !important;
}
body.dark .sc-insertItem-container .sc-insertItem-displayNameContainer,
body.dark .sc ul.dynatree-container a {
  color: var(--text) !important;
}
body.dark .sc span.dynatree-expander {
  filter: invert(1);
}
body.dark .sc ul.dynatree-container a:hover,
body.dark .sc span.dynatree-active a,
body.dark .sc span.dynatree-active a:hover {
  border-radius: 4px !important;
  background-color: #2694c0 !important;
}
body.dark .form-control {
  background-color: var(--black1) !important;
  border: 1px solid var(--black1) !important;
  color: var(--text) !important;
}
body.dark .sc-insert-items {
  background-color: var(--black2) !important;
}
body.dark .sc-insertItem-container,
body.dark .sc-insertItem-container .sc-insertItem-imageContainer {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
}
body.dark .sc-insertItem-container.hover,
body.dark .sc-insertItem-container.selected {
  background-color: var(--blue) !important;
  border-radius: 4px !important;
  cursor: pointer;
}
[data-sc-id="ItemTreeView"] {
  border-right-color: var(--black1) !important;
}
body.dark .btn-default:hover {
  background-image: linear-gradient(
    to bottom,
    #289bc8 0%,
    var(--darkblue) 100%
  );
  color: var(--white) !important;
  text-shadow: 0 1px 0 transparent;
  border-color: #175973;
  -webkit-box-shadow: inset 0 1px #5dbadf;
  box-shadow: inset 0 1px #5dbadf;
  background-color: #289bc8;
}
body.dark .sc-ribbon .sc-chunk-button-small:hover {
  background-color: var(--blue) !important;
  border-radius: 4px !important;
}
body.dark .scFormDialogHeader {
  width: 100%;
  min-height: 45px !important;
}
body.dark .scFormDialogFooter {
  position: relative;
  background-color: var(--black1) !important;
  border-top: 1px solid var(--black3) !important;
  padding: 8px 15px 9px;
  height: 56px;
  box-sizing: border-box;
  line-height: 34px;
}

body.dark .scFormDialogFooter .footerOkCancel {
  white-space: nowrap;
  right: 15px;
  text-align: right;
}

body.dark .scChromeControls,
body.dark .scChromeDropDown {
  border: solid 1px var(--black6);
  background: var(--black2);
  color: var(--text) !important;
}

body.dark span.scChromeCommandText {
  color: var(--text) !important;
}

body.dark .sc-dialogContent {
  color: var(--text);
}

body.dark .sc-listcontrol-tile-content {
  background: var(--black2) !important;
}
