.scOverlay, .ui-widget-overlay {
	background: rgba(0, 0, 0, 0.2) !important;
}

#scModal {
	background-color: var(--black1) !important;
}

#SearchPanel {
	background-color: var(--black1) !important;
}

.scSaveBar {
	background-color: var(--black1) !important;
	border-bottom: 1px solid var(--black3);
}

.scEditorGrid {
	background-color: var(--black1) !important;
}

.scEditorTabHeaderActive {
	background-color: var(--black2) !important;
}

#scEditorTabs > ul > li:hover {
    color: var(--text);
    background: var(--black3);
    border-top: 2px solid var(--accent) !important;
}

.scMessageBar {
	filter: saturate(2);
}

#BTAddNewSearch {
	background-color: var(--black1) !important;
	border: 0px solid var(--black1) !important;
}

.scEditorTabSelected {
	background-color: var(--black3) !important;
}

.scEditorTabSelected:hover {
	background-color: var(--black3) !important;
}

.scEditorTab {
	background-color: var(--black2);
}

#scEditorTabs > ul > li {
	border: 1px solid var(--black2);
}

.scEditorSectionPanel {
	background-color: var(--black3) !important;
}

.scEditorSections {
	background-color: var(--black0) !important;
}



.scContentTreeNodeGlyph:hover + a > span,
div.scContentTreeNode > img:hover + a > span,
a.scContentTreeNodeNormal:hover > span {
	background-color: var(--black3) !important;
}

.scMenuItemIcon,
.scMenuItemIcon_Disable,
.elementImgAlignment,
.scEditorHeaderNavigatorIcon,
.scContentTreeNodeIcon {
	filter: brightness(0) invert(1);
}

.scInsertItemIcon {
	filter: invert(0) !important;
}

.scTreeview .icon, .scTreeview .icon_Hover,
#scModal .item > a > img {
	filter: grayscale(1) brightness(0.4) contrast(2) invert(1);
}