body.dark form {
  background: transparent !important;
  height: 100%;
  margin: 0px;
}

body.dark .sc {
  background-color: var(--black2) !important;
}

body.dark .scGalleryOuterFrame {
  border: 1px solid var(--black9);
  height: 100%;
}

body.dark .scGalleryInnerFrame {
  background: var(--black9);
  border: 1px solid var(--black6);
  height: 100%;
}

body.dark .ff .scGalleryInnerFrame {
  border: none;
}

body.dark .scGalleryGrip {
  text-align: right;
  height: 10px;
}

body.dark .scGalleryGripIcon {
  vertical-align: top;
  width: 7px;
  height: 7px;
  margin: 1px 2px 0px 0px;
  cursor: nw-resize;
}

body.dark .scGalleryMenu {
  border: none;
  height: 100%;
  width: 100%;
}

body.dark .scGalleryContent13 {
  position: absolute;
  top: 0;
  bottom: 13px;
  right: 0;
  left: 0;
  overflow: auto;
}

body.dark .scGalleryBottom13 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 13px;
}

body.dark .scGalleryContent10 {
  position: absolute;
  top: 0;
  bottom: 10px;
  right: 0;
  left: 0;
  overflow: auto;
}

body.dark .scGalleryBottom10 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
}
