/*
 * Sitecore Dark Mode UI, by Ugo Quaisse
 * ribbon.css
 */
body.satDark #RibbonPanel {
  border-bottom: 1px solid #333333 !important;
}

body.satDark .RibbonPanel {
  border-bottom: 1px solid #333333 !important;
}

body.satDark .scRibbon {
  background-color: #333333 !important;
}

body.satDark .scRibbon a {
  color: var(--text) !important;
}

body.satDark .scRibbon a.scRibbonNavigatorButtonsNormal,
body.satDark .scRibbon a.scRibbonNavigatorButtonsActive,
body.satDark .scRibbon a.scRibbonNavigatorButtonsContextualNormal,
body.satDark .scRibbon a.scRibbonNavigatorButtonsContextualActive {
  color: var(--text) !important;
}

body.satDark .scRibbon a.scRibbonNavigatorButtonsContextualNormal {
  color: white !important;
}

body.satDark .scRibbon a.scRibbonNavigatorButtonsContextualActive {
  color: var(--black1) !important;
  background-color: var(--grey12) !important;
}

body.satDark .scRibbonToolbar {
  border-bottom: 1px solid #111111 !important;
}

body.satDark .contentEditor .scRibbonToolbar {
  background-color: var(--black2) !important;
}

body.satDark .scRibbonToolbarStrip,
body.satDark .scRibbonToolbarContextualStrip {
  background-color: var(--black2) !important;
}

/* chunks */

body.satDark .scRibbon .chunk {
  background-color: var(--black2) !important;
  border-right: 1px solid #111111 !important;
}

body.satDark .lang_ja_jp .scRibbonToolbarStrip,
body.satDark .lang_ja_jp .scRibbonToolbarContextualStrip {
  background-color: var(--grey12) !important;
}

body.satDark .scRibbon .chunk .caption {
  color: #555 !important;
}

body.satDark .scRibbon .chunk .caption a {
  color: #666 !important;
}

body.satDark .scRibbon .chunk .caption .glyph {
  filter: brightness(0.5);
}

body.satDark .scRibbon .chunk .caption .glyph:hover {
  background-color: #e3e3e3 !important;
}

/*buttons*/

body.satDark .scRibbonToolbarLargeButtonDisabled,
body.satDark .scRibbonToolbarLargeGalleryButtonDisabled,
body.satDark .scRibbonToolbarLargeComboButtonDisabled,
body.satDark .scRibbonToolbarSmallGalleryButtonDisabled,
body.satDark .scRibbonToolbarSmallButtonDisabled {
  color: #d6d6d6 !important;
}

body.satDark .scRibbonToolbarSeperatorLine {
  border-left: 1px solid #e5e7ea !important;
  background: #9ea3a6 !important;
}

body.satDark .scRibbonToolbarText {
  background-color: #111111 !important;
  border: 1px solid #111111 !important;
}

body.satDark .scRibbonToolbarScrollbox {
  color: black !important;
}

body.satDark .scRibbonSelect {
  background: #e7eaf1 !important;
  border: 1px solid #b1bbc6 !important;
}

body.satDark .scRibbonToolbarToolButtonGroup {
  border: 1px solid #a0a0a0 !important;
}

body.satDark .scRibbon a.scRibbonToolbarToolButton {
  border-left: 1px solid #e0e0e0 !important;
  border-top: 1px solid #e0e0e0 !important;
  border-right: 1px solid #c9c9c9 !important;
  border-bottom: 1px solid #f4f4f4 !important;
  color: #303030 !important;
}

body.satDark .scRibbon a.scRibbonToolbarToolButton:active {
  background: #ebeced !important;
}

body.satDark .scRibbon a.scRibbonToolbarToolButton:hover {
  background: #ebeced !important;
}

body.satDark .scRibbonToolbarToolButtonDisabled {
  border-left: 1px solid #e0e0e0 !important;
  border-top: 1px solid #e0e0e0 !important;
  border-right: 1px solid #c9c9c9 !important;
  border-bottom: 1px solid #f4f4f4 !important;
  color: #8d8d8d !important;
}

body.satDark .scRibbon a.scRibbonToolbarLargeTextButtonDown {
  border: 1px solid !important;
  border-color: #8e8165 #9f937c #868686 #9f937c !important;
  color: black !important;
}

body.satDark .scRibbonToolbarLargeTextButtonDisabled {
  color: #8d8d8d !important;
}

body.satDark .scRibbonLargeImageButtonIcon {
  border: 1px solid #e9e9e9 !important;
  background-color: White !important;
}

body.satDark .scRibbonLargeImageButtonDisabled .scRibbonLargeImageButtonIcon {
  background-color: #dfdfdf !important;
}

/*End Large Image Button*/

body.satDark .scRibbon a.scRibbonToolbarLargeIconButton {
  color: #303030 !important;
}

body.satDark .scRibbonToolbarLargeIconButtonDisabled {
  color: #8d8d8d !important;
}

body.satDark .scRibbon a.scRibbonToolbarLargeIconButtonDown {
  border-color: #8e8165 #9f937c #868686 #9f937c !important;
  color: black !important;
}

body.satDark .scRibbonToolbarSmallCheckButtonDisabled {
  color: #8d8d8d !important;
}

body.satDark .scRibbonToolbarSmallInputBoxDisabled {
  color: #8d8d8d !important;
}

body.satDark .scRibbonToolbarSmallInputBoxInput,
body.satDark .scRibbonToolbarSmallInputBoxInputDisabled {
  border: 1px solid #898989 !important;
}

body.satDark .scRibbonToolbarSmallInputBoxInputDisabled {
  background: #e0e0e0 !important;
}

body.satDark .scRibbonToolbarSmallDropDownBox,
body.satDark .scRibbonToolbarSmallDropDownBoxDisabled {
  color: #303030 !important;
}

body.satDark .scRibbonToolbarSmallDropDownBoxDisabled {
  color: #8d8d8d !important;
}

body.satDark .scRibbonToolbarSmallDropDownBoxInput {
  border: 1px solid #898989 !important;
}

body.satDark .scRibbonToolbarSmallComboButtonDisabled {
  color: #8d8d8d !important;
}

body.satDark .scRibbonToolbarSmallComboButtonLeftDisabled {
  color: #8d8d8d !important;
}

body.satDark .scRibbon a.scRibbonToolbarSmallComboButtonLeft {
  color: var(--text) !important;
}

body.satDark .scRibbon a.scRibbonToolbarSmallComboButtonRight {
  color: #303030 !important;
}

body.satDark .scRibbonGalleryList {
  background-color: var(--black1) !important;
  border: 1px solid var(--black1) !important;
}

body.satDark .scRibbonPanelButtons {
  border: 1px solid var(--black2) !important;
}

body.satDark .scVariationLabel {
  background-color: #3eada3 !important;
  color: White !important;
}

body.satDark .scRibbonToolbarSmallButtonDisabled .scVariationLabel {
  background-color: #86a8a5 !important;
}

/* active styles*/
body.satDark .scRibbon a.scRibbonNavigatorButtonsActive,
body.satDark .scRibbon a.scRibbonNavigatorButtonsContextualNormal:active,
body.satDark .scRibbon a.scRibbonNavigatorButtonsNormal:active,
body.satDark .scRibbon a.scRibbonToolbarLargeButton:active,
body.satDark .scRibbon a.scRibbonToolbarLargeButtonDown:active,
body.satDark .scRibbon a.scRibbonToolbarLargeGalleryButton:active,
body.satDark .scRibbonToolbarLargeComboButtonDown,
body.satDark .scRibbon a.scRibbonToolbarLargeComboButtonTop:active,
body.satDark .scRibbon a.scRibbonToolbarLargeComboButtonBottom:active,
body.satDark a.scRibbonToolbarSmallButton:active,
body.satDark a.scRibbonToolbarSmallButtonDown,
body.satDark a.scRibbonToolbarSmallButtonDown:active,
body.satDark .scRibbon a.scRibbonToolbarSmallGalleryButton:active,
body.satDark .scRibbon a.scRibbonToolbarLargeTextButton:active,
body.satDark .scRibbon a.scRibbonToolbarLargeTextButtonDown:active,
body.satDark .scRibbonLargeImageButton:active,
body.satDark .scRibbonLargeImageButtonDown:active,
body.satDark .scRibbonLargeImageButtonDown,
body.satDark .scRibbon a.scRibbonToolbarLargeIconButton:active,
body.satDark .scRibbon a.scRibbonToolbarLargeIconButtonDown:active,
body.satDark .scRibbon a.scRibbonToolbarSmallComboButtonLeft:active,
body.satDark .scRibbon a.scRibbonToolbarSmallComboButtonRight:active {
  background-color: var(--black2) !important;
  color: var(--text) !important;
}

/* down styles*/

body.satDark .scRibbon a.scRibbonToolbarLargeButtonDown,
body.satDark .scRibbonToolbarLargeComboButtonDown,
body.satDark a.scRibbonToolbarSmallButtonDown,
body.satDark .scRibbonLargeImageButtonDown {
  background-color: var(--blue) !important;
  color: var(--black1) !important;
}

body.satDark .scRibbon a.scRibbonToolbarLargeButtonDown > span,
body.satDark .scRibbonToolbarLargeComboButtonDown > span,
body.satDark a.scRibbonToolbarSmallButtonDown > span,
body.satDark .scRibbonLargeImageButtonDown > span {
  color: var(--black1) !important;
}

body.satDark .scRibbon a.scRibbonToolbarLargeButtonDown:hover > span,
body.satDark .scRibbonToolbarLargeComboButtonDown:hover > span,
body.satDark a.scRibbonToolbarSmallButtonDown:hover > span,
body.satDark .scRibbonLargeImageButtonDown:hover > span {
  color: var(--text) !important;
}

/* hover styles*/
body.satDark .scRibbon a.scRibbonNavigatorButtonsContextualNormal:hover,
body.satDark .scRibbon a.scRibbonNavigatorButtonsNormal:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeButton:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeButton:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeButtonDown:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
body.satDark a.scRibbonToolbarSmallButton:hover,
body.satDark .scRibbonToolbarSmallButton:hover,
body.satDark a.scRibbonToolbarSmallButtonDown:hover,
body.satDark .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
body.satDark .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeTextButton:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeTextButton:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
body.satDark .scRibbonLargeImageButton:hover,
body.satDark .scRibbonLargeImageButtonDown:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeIconButton:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
body.satDark .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
body.satDark .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
body.satDark .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
body.satDark .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
body.satDark .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
body.satDark .scRibbonToolbarLargeComboButtonDown:hover {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

body.satDark .scRibbonToolbarLargeButtonDown:hover > span,
body.satDark .scRibbonToolbarLargeButton:hover > span,
body.satDark .scRibbonToolbarSmallButton:hover > span,
body.satDark .scRibbonToolbarSmallButtonDown:hover > span,
body.satDark .scRibbonToolbarSmallComboButtonRight:hover > span,
body.satDark .scRibbonToolbarSmallComboButtonLeft:hover > span,
body.satDark .scRibbonToolbarLargeComboButtonBottom:hover > span,
body.satDark .scRibbonToolbarLargeComboButtonDown:hover > span {
  color: var(--text) !important;
}
