/*
 * Sitecore Dark Mode UI, by Ugo Quaisse
 * ribbon.css
 */
body.dark #RibbonPanel {
  border-bottom: 1px solid #333333 !important;
}

body.dark .RibbonPanel {
  clear: both !important;
  border-bottom: 1px solid #333333 !important;
}

body.dark .scRibbon {
  background-color: #333333 !important;
}

body.dark .scRibbon a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: var(--text) !important;
}

body.dark .scRibbon select {
  display: inline !important;
  padding: 2px !important;
  min-height: 10px !important;
}

body.dark .scRibbonClose,
body.dark .scRibbonOpen {
  width: 16px !important;
  height: 16px !important;
  overflow: hidden !important;
  position: absolute !important;
  right: 10px !important;
  bottom: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  z-index: 1 !important;
}

body.dark .scRibbon a.scRibbonNavigatorButtonsNormal,
body.dark .scRibbon a.scRibbonNavigatorButtonsActive,
body.dark .scRibbon a.scRibbonNavigatorButtonsContextualNormal,
body.dark .scRibbon a.scRibbonNavigatorButtonsContextualActive {
  display: inline-block !important;
  color: var(--text) !important;
  min-height: 16px !important;
  white-space: nowrap !important;
  text-transform: uppercase !important;
  padding: 0 14px !important;
  line-height: 30px !important;
}

body.dark .scRibbon a.scRibbonNavigatorButtonsContextualNormal {
  color: white !important;
}

body.dark .scRibbon a.scRibbonNavigatorButtonsContextualActive {
  color: var(--black1) !important;
  background-color: #f7f7f7 !important;
}

body.dark .scRibbonToolbar {
  border-bottom: 1px solid #111111 !important;
  clear: left !important;
}

body.dark .contentEditor .scRibbonToolbar {
  border-top: 0px !important;
  line-height: 1 !important;
  background-color: var(--black2) !important;
}

body.dark .contentEditor .scRibbonToolbar:after {
  content: "" !important;
  clear: both !important;
  display: block !important;
}

body.dark .scRibbonToolbarStrip,
body.dark .scRibbonToolbarContextualStrip {
  background-color: var(--black2) !important;
  min-height: 80px !important;
}

/* chunks */

body.dark .scRibbon .chunk {
  background-color: var(--black2) !important;
  border-right: 1px solid #111111 !important;
  height: 80px !important;
  display: inline-block !important;
  white-space: nowrap !important;
  padding: 0px 0px !important;
}

body.dark .lang_ja_jp .scRibbon .chunk {
  height: 90px !important;
}

body.dark .lang_ja_jp .scRibbonToolbarStrip,
body.dark .lang_ja_jp .scRibbonToolbarContextualStrip {
  background-color: #f7f7f7 !important;
  min-height: 90px !important;
}

body.dark .lang_ja_jp .scRibbon .chunk .caption {
  padding-top: 10px !important;
}

body.dark .scRibbon .chunk .panel {
  height: 40px !important;
  padding: 10px 8px !important;
  white-space: nowrap !important;
}

body.dark .scRibbon .chunk .caption {
  vertical-align: bottom !important;
  clear: left !important;
  text-align: center !important;
  white-space: nowrap !important;
  line-height: 20px !important;
  color: #555 !important;
}

body.dark .scRibbon .chunk .caption a {
  color: #666 !important;
}

body.dark .scRibbon .chunk .caption .glyph {
  border: none !important;
  padding: 4px !important;
  cursor: pointer !important;
  margin-left: 5px !important;
  vertical-align: bottom !important;
  filter: brightness(0.5);
}

body.dark .scRibbon .chunk .caption .glyph:hover {
  cursor: pointer !important;
  background-color: #e3e3e3 !important;
}

/*buttons*/

body.dark .scRibbon a.scRibbonToolbarLargeComboButtonTop,
body.dark .scRibbonToolbarLargeComboButtonTopDisabled,
body.dark .scRibbon a.scRibbonToolbarLargeComboButtonBottom {
  display: block !important;
  text-align: center !important;
  white-space: nowrap !important;
}

body.dark .scRibbon .scRibbonToolbarLargeButtonIcon,
body.dark .scRibbonToolbarLargeButtonIconDisabled,
body.dark .scRibbonToolbarLargeButtonIconGrayed,
body.dark .scRibbon .scRibbonToolbarLargeComboButtonIcon,
body.dark .scRibbonToolbarLargeGalleryButtonIcon,
body.dark .scRibbonToolbarLargeGalleryButtonIconDisabled,
body.dark .scRibbonToolbarLargeGalleryButtonIconGrayed {
  border: none !important;
  height: 24px !important;
  width: 24px !important;
  display: block !important;
  margin: 0 auto !important;
}

body.dark .scRibbonToolbarLargeGalleryButtonGlyph,
body.dark .scRibbonToolbarLargeGalleryButtonGlyphDisabled {
  border: none !important;
  height: 5px !important;
  margin: 0px 0px 0px 3px !important;
  width: 7px !important;
  vertical-align: baseline !important;
}

body.dark .scRibbon a.scRibbonToolbarLargeGalleryButton,
body.dark .scRibbonToolbarLargeGalleryButtonDisabled,
body.dark .scRibbonGallery,
body.dark a.scRibbonToolbarLargeButton,
body.dark .scRibbonToolbarLargeButtonDisabled,
body.dark .scRibbon a.scRibbonToolbarLargeButtonDown,
body.dark .scRibbonToolbarSmallButtons,
body.dark .scRibbonToolbarLargeComboButton,
body.dark .scRibbonToolbarLargeComboButtonDown,
body.dark .scRibbonLargeImageButtonDown,
body.dark .scRibbonToolbarLargeGalleryButtonDisabled,
body.dark .scRibbonToolbarLargeComboButtonDisabled,
body.dark .scRibbonToolbarSmallGalleryButtonDisabled,
body.dark .scRibbonToolbarSmallButtonDisabled,
body.dark .scRibbonToolbarLargeButtonDown {
  display: inline-block !important;
  padding: 4px 8px !important;
  vertical-align: top !important;
}

body.dark #WorkboxRibbon .scRibbonToolbarSmallButtons {
  padding: 0px 8px 0 !important;
}

body.dark .scRibbonToolbarLargeGalleryButton .header,
body.dark .scRibbonToolbarLargeGalleryButtonDisabled .header,
body.dark .scRibbonToolbarLargeButtonDisabled .header,
body.dark .scRibbonToolbarLargeButton .header,
body.dark .scRibbonToolbarLargeButtonDown .header,
body.dark .scRibbonToolbarLargeComboButtonDisabled .header,
body.dark .scRibbon a.scRibbonToolbarLargeComboButtonBottom {
  padding: 4px !important;
  display: inline-block !important;
}

body.dark .scRibbon .scRibbonToolbarLargeComboButtonGlyph {
  border: none !important;
  height: 5px !important;
  margin: 0px 0px 0px 3px !important;
  width: 7px !important;
  vertical-align: baseline !important;
}

/* can be used outside of the ribbon */

body.dark .scRibbon a.scRibbonToolbarSmallGalleryButton,
body.dark .scRibbonToolbarSmallGalleryButtonDisabled,
body.dark a.scRibbonToolbarSmallButton,
body.dark .scRibbonToolbarSmallButtonDisabled,
body.dark .scRibbonToolbarSmallButtonDown {
  display: block !important;
  white-space: nowrap !important;
  position: relative !important;
  padding: 4px !important;
  height: 21px !important;
  box-sizing: border-box !important;
}

body.dark .scRibbonToolbarLargeButtonDisabled,
body.dark .scRibbonToolbarLargeGalleryButtonDisabled,
body.dark .scRibbonToolbarLargeComboButtonDisabled,
body.dark .scRibbonToolbarSmallGalleryButtonDisabled,
body.dark .scRibbonToolbarSmallButtonDisabled {
  color: #d6d6d6 !important;
}

body.dark .scRibbonToolbarSmallButtonIcon,
body.dark .scRibbonToolbarSmallButtonIconDisabled,
body.dark .scRibbonToolbarSmallButtonIconGrayed {
  border: none !important;
  width: 16px !important;
  height: 16px !important;
  margin: -1px 4px 0px 0px !important;
  vertical-align: middle !important;
}

body.dark .scRibbonToolbarSmallButtonIconGrayed {
  margin-right: 0px !important;
}

body.dark .scRibbonToolbarSmallButtonPrefix {
  padding: 0px 4px 0px 0px !important;
  position: absolute !important;
  right: 0px !important;
  z-index: 1 !important;
}

body.dark .scRibbonToolbarSmallGalleryButtonIcon,
body.dark .scRibbonToolbarSmallGalleryButtonIconDisabled {
  border: none !important;
  height: 16px !important;
  margin: 0px 4px 0px 0px !important;
  vertical-align: middle !important;
  width: 16px !important;
}

body.dark .scRibbonToolbarSmallGalleryButtonIconGrayed {
  width: 16px !important;
}

body.dark .scRibbonToolbarSmallGalleryButtonGlyph,
body.dark .scRibbonToolbarSmallGalleryButtonGlyphDisabled {
  border: none !important;
  height: 5px !important;
  margin: 0px 0px 0px 3px !important;
  width: 7px !important;
  vertical-align: baseline !important;
}

body.dark .scRibbonToolbarPanel {
  float: left !important;
}

body.dark .scRibbonToolbarSeperator {
  display: inline-block !important;
  padding-top: 4px !important;
  vertical-align: top !important;
}

body.dark .scRibbonToolbarSeperatorLine {
  height: 36px !important;
  display: block !important;
  border-left: 1px solid #e5e7ea !important;
  background: #9ea3a6 !important;
  margin: 0px 4px 0px 4px !important;
}

body.dark .scRibbonToolbarText {
  float: left !important;
  padding: 5px 8px !important;
  white-space: nowrap !important;
  background-color: #111111 !important;
  border: 1px solid #111111 !important;
  margin: 2px 2px 0px 1px !important;
  height: 36px !important;
}

body.dark .scRibbonToolbarScrollbox {
  color: black !important;
  float: left !important;
  white-space: nowrap !important;
  padding: 0px 24px 0px 0px !important;
  height: 44px !important;
}

body.dark .scRibbonCheckbox {
  vertical-align: middle !important;
}

body.dark .scRibbonSelect {
  background: #e7eaf1 !important;
  border: 1px solid #b1bbc6 !important;
  margin: 1px 0px 1px 0px !important;
}

body.dark .scRibbonTranslatePanel {
  padding: 0px 6px 0px 6px !important;
  display: inline-block !important;
}

body.dark .scRibbonTranslatePanelRow {
  padding: 2px 0px 1px 0px !important;
}

body.dark .scRibbonTranslatePanel table td {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

body.dark .scRibbonTranslatePanelCompare {
  padding: 0px 4px 8px 0px !important;
  text-align: right !important;
}

body.dark .scRibbonTranslatePanelLanguage {
  padding: 0px 4px 0px 0px !important;
  text-align: right !important;
}

body.dark .scRibbonToolbarToolButtonGroup {
  border: 1px solid #a0a0a0 !important;
  display: inline !important;
  margin: 1px 2px 1px 2px !important;
}

body.dark .scRibbon a.scRibbonToolbarToolButton {
  border-left: 1px solid #e0e0e0 !important;
  border-top: 1px solid #e0e0e0 !important;
  border-right: 1px solid #c9c9c9 !important;
  border-bottom: 1px solid #f4f4f4 !important;
  color: #303030 !important;
  padding: 0px 4px 0px 4px !important;
  white-space: nowrap !important;
}

body.dark .scRibbon a.scRibbonToolbarToolButton:active {
  background: #ebeced !important;
}

body.dark .scRibbon a.scRibbonToolbarToolButton:hover {
  background: #ebeced !important;
}

body.dark .scRibbonToolbarToolButtonIcon {
  border: none !important;
  height: 16px !important;
  margin: 3px 0px 0px 0px !important;
  width: 16px !important;
}

body.dark .scRibbonToolbarToolButtonDisabled {
  border-left: 1px solid #e0e0e0 !important;
  border-top: 1px solid #e0e0e0 !important;
  border-right: 1px solid #c9c9c9 !important;
  border-bottom: 1px solid #f4f4f4 !important;
  color: #8d8d8d !important;
  padding: 0px 4px 0px 4px !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarToolButtonIconDisabled {
  border: none !important;
  height: 16px !important;
  width: 16px !important;
  vertical-align: baseline !important;
}

body.dark .scRibbonToolbarToolButtonIconGrayed {
  width: 16px !important;
  height: 16px !important;
  margin: 3px 0px 0px 0px !important;
}

body.dark .scEditorToolTipFrame {
  position: absolute !important;
  height: 125px !important;
  width: 200px !important;
  border: none !important;
}

body.dark .scRibbon a.scRibbonToolbarLargeTextButton {
  display: block !important;
  white-space: nowrap !important;
  position: relative !important;
  padding: 4px !important;
  height: 21px !important;
  box-sizing: border-box !important;
}

body.dark .scRibbon a.scRibbonToolbarLargeTextButtonDown {
  border: 1px solid !important;
  border-color: #8e8165 #9f937c #868686 #9f937c !important;
  color: black !important;
  display: inline-block !important;
  padding: 4px 5px 1px 5px !important;
  text-align: center !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarLargeTextButtonDisabled {
  color: #8d8d8d !important;
  display: inline-block !important;
  padding: 5px 6px 2px 6px !important;
  text-align: center !important;
  white-space: nowrap !important;
}

/*Large Image Button*/
body.dark .scRibbonLargeImageButton,
body.dark .scRibbonLargeImageButtonDisabled {
  float: left !important;
  padding: 4px !important;
}

body.dark .scRibbonLargeImageButtonIcon {
  height: 32px !important;
  width: 32px !important;
  border: 1px solid #e9e9e9 !important;
  background-color: White !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

body.dark .scRibbonLargeImageButtonDisabled .scRibbonLargeImageButtonIcon {
  background-color: #dfdfdf !important;
  opacity: 0.35 !important;
  filter: alpha(opacity=35) !important;
}

body.dark .scRibbonGallery .scRibbonLargeImageButtonDown,
body.dark .scRibbonGallery .scRibbonLargeImageButtonDisabled,
body.dark .scRibbonGallery .scRibbonLargeImageButton {
  margin: 1px 0 !important;
}

/*End Large Image Button*/

body.dark .scRibbon a.scRibbonToolbarLargeIconButton {
  display: block !important;
  color: #303030 !important;
  float: left !important;
  height: 32px !important;
  padding: 4px !important;
  text-align: center !important;
}

body.dark .scRibbonToolbarLargeIconButtonDisabled {
  color: #8d8d8d !important;
  padding: 5px 6px 2px 6px !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarLargeIconButtonIcon {
  border: none !important;
  height: 24px !important;
  width: 24px !important;
}

body.dark .scRibbon a.scRibbonToolbarLargeIconButtonDown {
  border: 1px solid !important;
  border-color: #8e8165 #9f937c #868686 #9f937c !important;
  color: black !important;
  float: left !important;
  height: 32px !important;
  padding: 4px 5px 1px 5px !important;
  text-align: center !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarLargeIconButtonIconGrayed {
  border: none !important;
  height: 24px !important;
  width: 24px !important;
}

body.dark .scRibbonToolbarSmallCheckButton {
  display: block !important;
  padding: 4px !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarSmallCheckButton > label {
  vertical-align: middle !important;
}

body.dark .scRibbonToolbarSmallCheckButtonCheckbox {
  margin: 0 3px 0 0 !important;
  padding: 0 !important;
  vertical-align: middle !important;
}

body.dark .scRibbonToolbarSmallCheckButtonDisabled {
  color: #8d8d8d !important;
  display: block !important;
  padding: 2px 6px 4px 6px !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarSmallInputBox,
body.dark .scRibbonToolbarSmallInputBoxDisabled {
  color: var(--text) !important;
  display: block !important;
  padding: 0px 6px 2px 6px !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarSmallInputBoxDisabled {
  color: #8d8d8d !important;
}

body.dark .scRibbonToolbarSmallInputBoxInput,
body.dark .scRibbonToolbarSmallInputBoxInputDisabled {
  height: 18px !important;
  margin: 0px 2px 0px 4px !important;
  vertical-align: middle !important;
  width: 40px !important;
  border: 1px solid #898989 !important;
}

body.dark .scRibbonToolbarSmallInputBoxInputDisabled {
  background: #e0e0e0 !important;
}

body.dark .scRibbonToolbarSmallInputBoxIcon,
body.dark .scRibbonToolbarSmallInputBoxIconDisabled {
  border: none !important;
  height: 16px !important;
  margin: 0px 2px 0px 0px !important;
  vertical-align: middle !important;
  width: 16px !important;
}

body.dark .scRibbonToolbarSmallInputBoxIconGrayed {
  width: 16px !important;
}

body.dark .scRibbonToolbarSmallDropDownBox,
body.dark .scRibbonToolbarSmallDropDownBoxDisabled {
  color: #303030 !important;
  display: block !important;
  padding: 1px 6px 1px 6px !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarSmallDropDownBoxDisabled {
  color: #8d8d8d !important;
}

body.dark .scRibbonToolbarSmallDropDownBoxInput {
  height: 18px !important;
  margin: 0px 2px 0px 4px !important;
  vertical-align: middle !important;
  border: 1px solid #898989 !important;
}

body.dark .scRibbonToolbarSmallDropDownBoxIcon,
body.dark .scRibbonToolbarSmallDropDownBoxIconDisabled {
  border: none !important;
  height: 16px !important;
  margin: 0px 2px 0px 0px !important;
  vertical-align: middle !important;
  width: 16px !important;
}

body.dark .scRibbonToolbarSmallDropDownBoxIconGrayed {
  width: 16px !important;
}

body.dark .scRibbonToolbarSmallComboButton {
  display: block !important;
  white-space: nowrap !important;
  height: 18px !important;
  margin: 4px 0px 0px 0px !important;
}

body.dark .scRibbonToolbarSmallComboButtonDisabled {
  color: #8d8d8d !important;
  display: block !important;
  padding: 2px 6px 4px 6px !important;
  white-space: nowrap !important;
}

body.dark .scRibbonToolbarSmallComboButtonLeftDisabled {
  color: #8d8d8d !important;
  padding: 4px 6px 3px 6px !important;
  white-space: nowrap !important;
}

body.dark .scRibbon a.scRibbonToolbarSmallComboButtonLeft {
  color: var(--text) !important;
  padding: 2px 2px 4px 6px !important;
  white-space: nowrap !important;
}

body.dark .scRibbon a.scRibbonToolbarSmallComboButtonRight {
  color: #303030 !important;
  padding: 2px 3px 4px 3px !important;
  height: 21px !important;
  white-space: nowrap !important;
  clear: right !important;
}

body.dark .scRibbonToolbarSmallComboButtonIcon,
body.dark .scRibbonToolbarSmallComboButtonIconDisabled {
  border: none !important;
  height: 16px !important;
  margin: -1px 4px 0px 0px !important;
  vertical-align: text-top !important;
  width: 16px !important;
}

body.dark .scRibbonToolbarSmallComboButtonGlyph {
  border: none !important;
  height: 5px !important;
  vertical-align: text-top !important;
  margin: 5px 0px 0px 0px !important;
  width: 7px !important;
}

body.dark .scRibbonToolbarSmallComboButtonGlyphDisabled {
  position: relative !important;
  top: -1px !important;
  left: 5px !important;
  border: none !important;
  height: 5px !important;
  margin: 0px 1px 0px 5px !important;
  width: 7px !important;
  vertical-align: baseline !important;
}

body.dark .scRibbonToolbarSmallComboButtonIconGrayed {
  width: 16px !important;
}

body.dark .scRibbonGalleryList {
  display: inline-block !important;
  height: 42px !important;
  overflow: hidden !important;
  padding: 0 !important;
  white-space: nowrap !important;
  width: 200px !important;
  background-color: #111111 !important;
  border: 1px solid transparent !important;
  border-right: 0px !important;
}

body.dark .scRibbonGalleryList > .scRibbonToolbarSmallButtons {
  display: block !important;
}

body.dark .scRibbonPanelButtons {
  display: inline-block !important;
  padding: 0 1px !important;
  vertical-align: top !important;
  border: 1px solid transparent !important;
  border-left: 0px !important;
}

body.dark .scRibbonPanelUp,
body.dark .scRibbonPanelDown,
body.dark .scRibbonPanelUp2,
body.dark .scRibbonPanelDown2,
body.dark .scRibbonPanelOpen {
  border: none !important;
  display: block !important;
  cursor: pointer !important;
  padding: 0 2px !important;
}

body.dark .scVariationLabel {
  background-color: #3eada3 !important;
  padding: 1px 4px !important;
  margin-right: 4px !important;
  color: White !important;
  display: inline-block !important;
}

body.dark .ff .scVariationLabel {
  padding-top: 0 !important;
}

body.dark .scRibbonToolbarSmallButtonDisabled .scVariationLabel {
  background-color: #86a8a5 !important;
}

body.dark .scRibbonToolbarSmallButtonLabel {
  -moz-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  display: inline-block !important;
  white-space: nowrap !important;
  min-height: 15px !important;
  width: 150px !important;
}

/* Japanese language support */

body.dark .lang_ja_jp .scRibbonToolbarSmallButtonLabel {
  width: 135px !important;
}

body.dark .lang_ja_jp a.scRibbonToolbarLargeButton,
body.dark .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottom {
  padding-bottom: 1px !important;
}

body.dark .lang_ja_jp a.scRibbonToolbarLargeButton:active,
body.dark .lang_ja_jp a.scRibbonToolbarLargeButton:hover,
body.dark .lang_ja_jp a.scRibbonToolbarLargeButtonHover,
body.dark .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottom:active,
body.dark .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottom:hover,
body.dark .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottomDown,
body.dark .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottomHover {
  padding-bottom: 0 !important;
}

body.dark .lang_ja_jp a.scRibbonToolbarLargeButtonDown {
  padding-bottom: 2px !important;
}

body.dark .lang_ja_jp .scRibbon .chunk {
  vertical-align: top !important;
}

body.dark .lang_ja_jp .scRibbon,
body.dark .lang_ja_jp .scRibbon .chunk,
body.dark .lang_ja_jp .scRibbon a.scRibbonNavigatorButtonsNormal,
body.dark .lang_ja_jp .scRibbonTranslatePanelRow,
body.dark .lang_ja_jp .scRibbonCombobox {
  font-size: 12pt !important;
  font-family: メイリオ, Meiryo, tahoma, sans-serif !important;
}

body.dark .lang_ja_jp .scRibbon a.scRibbonNavigatorButtonsNormal {
  line-height: 30px !important;
}

/* active styles*/
body.dark .scRibbon a.scRibbonNavigatorButtonsActive,
body.dark .scRibbon a.scRibbonNavigatorButtonsContextualNormal:active,
body.dark .scRibbon a.scRibbonNavigatorButtonsNormal:active,
body.dark .scRibbon a.scRibbonToolbarLargeButton:active,
body.dark .scRibbon a.scRibbonToolbarLargeButtonDown:active,
body.dark .scRibbon a.scRibbonToolbarLargeGalleryButton:active,
body.dark .scRibbonToolbarLargeComboButtonDown,
body.dark .scRibbon a.scRibbonToolbarLargeComboButtonTop:active,
body.dark .scRibbon a.scRibbonToolbarLargeComboButtonBottom:active,
body.dark a.scRibbonToolbarSmallButton:active,
body.dark a.scRibbonToolbarSmallButtonDown,
body.dark a.scRibbonToolbarSmallButtonDown:active,
body.dark .scRibbon a.scRibbonToolbarSmallGalleryButton:active,
body.dark .scRibbon a.scRibbonToolbarLargeTextButton:active,
body.dark .scRibbon a.scRibbonToolbarLargeTextButtonDown:active,
body.dark .scRibbonLargeImageButton:active,
body.dark .scRibbonLargeImageButtonDown:active,
body.dark .scRibbonLargeImageButtonDown,
body.dark .scRibbon a.scRibbonToolbarLargeIconButton:active,
body.dark .scRibbon a.scRibbonToolbarLargeIconButtonDown:active,
body.dark .scRibbon a.scRibbonToolbarSmallComboButtonLeft:active,
body.dark .scRibbon a.scRibbonToolbarSmallComboButtonRight:active {
  background-color: var(--black2) !important;
  color: var(--text) !important;
}

/* down styles*/

body.dark .scRibbon a.scRibbonToolbarLargeButtonDown,
body.dark .scRibbonToolbarLargeComboButtonDown,
body.dark a.scRibbonToolbarSmallButtonDown,
body.dark .scRibbonLargeImageButtonDown {
  background-color: var(--blue) !important;
  color: var(--black1) !important;
  border-radius: 3px !important;
}

body.dark .scRibbon a.scRibbonToolbarLargeButtonDown > span,
body.dark .scRibbonToolbarLargeComboButtonDown > span,
body.dark a.scRibbonToolbarSmallButtonDown > span,
body.dark .scRibbonLargeImageButtonDown > span {
  color: var(--black1) !important;
}

body.dark .scRibbon a.scRibbonToolbarLargeButtonDown:hover > span,
body.dark .scRibbonToolbarLargeComboButtonDown:hover > span,
body.dark a.scRibbonToolbarSmallButtonDown:hover > span,
body.dark .scRibbonLargeImageButtonDown:hover > span {
  color: var(--text) !important;
}

/* hover styles*/
body.dark .scRibbon a.scRibbonNavigatorButtonsContextualNormal:hover,
body.dark .scRibbon a.scRibbonNavigatorButtonsNormal:hover,
body.dark .scRibbon a.scRibbonToolbarLargeButton:hover,
body.dark .scRibbon a.scRibbonToolbarLargeButton:hover,
body.dark .scRibbon a.scRibbonToolbarLargeButtonDown:hover,
body.dark .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
body.dark .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
body.dark .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
body.dark .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
body.dark .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
body.dark .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
body.dark a.scRibbonToolbarSmallButton:hover,
body.dark .scRibbonToolbarSmallButton:hover,
body.dark a.scRibbonToolbarSmallButtonDown:hover,
body.dark .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
body.dark .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
body.dark .scRibbon a.scRibbonToolbarLargeTextButton:hover,
body.dark .scRibbon a.scRibbonToolbarLargeTextButton:hover,
body.dark .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
body.dark .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
body.dark .scRibbonLargeImageButton:hover,
body.dark .scRibbonLargeImageButtonDown:hover,
body.dark .scRibbon a.scRibbonToolbarLargeIconButton:hover,
body.dark .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
body.dark .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
body.dark .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
body.dark .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
body.dark .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
body.dark .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
body.dark .scRibbonToolbarLargeComboButtonDown:hover {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

body.dark .scRibbonToolbarLargeButtonDown:hover > span,
body.dark .scRibbonToolbarLargeButton:hover > span,
body.dark .scRibbonToolbarSmallButton:hover > span,
body.dark .scRibbonToolbarSmallButtonDown:hover > span,
body.dark .scRibbonToolbarSmallComboButtonRight:hover > span,
body.dark .scRibbonToolbarSmallComboButtonLeft:hover > span,
body.dark .scRibbonToolbarLargeComboButtonBottom:hover > span,
body.dark .scRibbonToolbarLargeComboButtonDown:hover > span {
  color: var(--text) !important;
}
