/*
 * Sitecore Dark Mode UI, by Ugo Quaisse
 * ribbon.css
 */
body.dark_sat #RibbonPanel {
  border-bottom: 1px solid #333333 !important;
}

body.dark_sat .RibbonPanel {
  border-bottom: 1px solid #333333 !important;
}

body.dark_sat .scRibbon {
  background-color: #333333 !important;
}

body.dark_sat .scRibbon a {
  color: var(--text) !important;
}

body.dark_sat .scRibbon a.scRibbonNavigatorButtonsNormal,
body.dark_sat .scRibbon a.scRibbonNavigatorButtonsActive,
body.dark_sat .scRibbon a.scRibbonNavigatorButtonsContextualNormal,
body.dark_sat .scRibbon a.scRibbonNavigatorButtonsContextualActive {
  color: var(--text) !important;
}

body.dark_sat .scRibbon a.scRibbonNavigatorButtonsContextualNormal {
  color: white !important;
}

body.dark_sat .scRibbon a.scRibbonNavigatorButtonsContextualActive {
  color: var(--black1) !important;
  background-color: var(--grey12) !important;
}

body.dark_sat .scRibbonToolbar {
  border-bottom: 1px solid #111111 !important;
}

body.dark_sat .contentEditor .scRibbonToolbar {
  background-color: var(--black2) !important;
}

body.dark_sat .scRibbonToolbarStrip,
body.dark_sat .scRibbonToolbarContextualStrip {
  background-color: var(--black2) !important;
}

/* chunks */

body.dark_sat .scRibbon .chunk {
  background-color: var(--black2) !important;
  border-right: 1px solid #111111 !important;
}

body.dark_sat .lang_ja_jp .scRibbonToolbarStrip,
body.dark_sat .lang_ja_jp .scRibbonToolbarContextualStrip {
  background-color: var(--grey12) !important;
}

body.dark_sat .scRibbon .chunk .caption {
  color: #555 !important;
}

body.dark_sat .scRibbon .chunk .caption a {
  color: #666 !important;
}

body.dark_sat .scRibbon .chunk .caption .glyph {
  filter: brightness(0.5);
}

body.dark_sat .scRibbon .chunk .caption .glyph:hover {
  background-color: #e3e3e3 !important;
}

/*buttons*/

body.dark_sat .scRibbonToolbarLargeButtonDisabled,
body.dark_sat .scRibbonToolbarLargeGalleryButtonDisabled,
body.dark_sat .scRibbonToolbarLargeComboButtonDisabled,
body.dark_sat .scRibbonToolbarSmallGalleryButtonDisabled,
body.dark_sat .scRibbonToolbarSmallButtonDisabled {
  color: #d6d6d6 !important;
}

body.dark_sat .scRibbonToolbarSeperatorLine {
  border-left: 1px solid #e5e7ea !important;
  background: #9ea3a6 !important;
}

body.dark_sat .scRibbonToolbarText {
  background-color: #111111 !important;
  border: 1px solid #111111 !important;
}

body.dark_sat .scRibbonToolbarScrollbox {
  color: black !important;
}

body.dark_sat .scRibbonSelect {
  background: #e7eaf1 !important;
  border: 1px solid #b1bbc6 !important;
}

body.dark_sat .scRibbonToolbarToolButtonGroup {
  border: 1px solid #a0a0a0 !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarToolButton {
  border-left: 1px solid #e0e0e0 !important;
  border-top: 1px solid #e0e0e0 !important;
  border-right: 1px solid #c9c9c9 !important;
  border-bottom: 1px solid #f4f4f4 !important;
  color: #303030 !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarToolButton:active {
  background: #ebeced !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarToolButton:hover {
  background: #ebeced !important;
}

body.dark_sat .scRibbonToolbarToolButtonDisabled {
  border-left: 1px solid #e0e0e0 !important;
  border-top: 1px solid #e0e0e0 !important;
  border-right: 1px solid #c9c9c9 !important;
  border-bottom: 1px solid #f4f4f4 !important;
  color: #8d8d8d !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarLargeTextButtonDown {
  border: 1px solid !important;
  border-color: #8e8165 #9f937c #868686 #9f937c !important;
  color: black !important;
}

body.dark_sat .scRibbonToolbarLargeTextButtonDisabled {
  color: #8d8d8d !important;
}

body.dark_sat .scRibbonLargeImageButtonIcon {
  border: 1px solid #e9e9e9 !important;
  background-color: White !important;
}

body.dark_sat .scRibbonLargeImageButtonDisabled .scRibbonLargeImageButtonIcon {
  background-color: #dfdfdf !important;
}

/*End Large Image Button*/

body.dark_sat .scRibbon a.scRibbonToolbarLargeIconButton {
  color: #303030 !important;
}

body.dark_sat .scRibbonToolbarLargeIconButtonDisabled {
  color: #8d8d8d !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarLargeIconButtonDown {
  border-color: #8e8165 #9f937c #868686 #9f937c !important;
  color: black !important;
}

body.dark_sat .scRibbonToolbarSmallCheckButtonDisabled {
  color: #8d8d8d !important;
}

body.dark_sat .scRibbonToolbarSmallInputBoxDisabled {
  color: #8d8d8d !important;
}

body.dark_sat .scRibbonToolbarSmallInputBoxInput,
body.dark_sat .scRibbonToolbarSmallInputBoxInputDisabled {
  border: 1px solid #898989 !important;
}

body.dark_sat .scRibbonToolbarSmallInputBoxInputDisabled {
  background: #e0e0e0 !important;
}

body.dark_sat .scRibbonToolbarSmallDropDownBox,
body.dark_sat .scRibbonToolbarSmallDropDownBoxDisabled {
  color: #303030 !important;
}

body.dark_sat .scRibbonToolbarSmallDropDownBoxDisabled {
  color: #8d8d8d !important;
}

body.dark_sat .scRibbonToolbarSmallDropDownBoxInput {
  border: 1px solid #898989 !important;
}

body.dark_sat .scRibbonToolbarSmallComboButtonDisabled {
  color: #8d8d8d !important;
}

body.dark_sat .scRibbonToolbarSmallComboButtonLeftDisabled {
  color: #8d8d8d !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarSmallComboButtonLeft {
  color: var(--text) !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarSmallComboButtonRight {
  color: #303030 !important;
}

body.dark_sat .scRibbonGalleryList {
  background-color: #111111 !important;
}

body.dark_sat .scVariationLabel {
  background-color: #3eada3 !important;

  color: White !important;
}

body.dark_sat .scRibbonToolbarSmallButtonDisabled .scVariationLabel {
  background-color: #86a8a5 !important;
}

/* active styles*/
body.dark_sat .scRibbon a.scRibbonNavigatorButtonsActive,
body.dark_sat .scRibbon a.scRibbonNavigatorButtonsContextualNormal:active,
body.dark_sat .scRibbon a.scRibbonNavigatorButtonsNormal:active,
body.dark_sat .scRibbon a.scRibbonToolbarLargeButton:active,
body.dark_sat .scRibbon a.scRibbonToolbarLargeButtonDown:active,
body.dark_sat .scRibbon a.scRibbonToolbarLargeGalleryButton:active,
body.dark_sat .scRibbonToolbarLargeComboButtonDown,
body.dark_sat .scRibbon a.scRibbonToolbarLargeComboButtonTop:active,
body.dark_sat .scRibbon a.scRibbonToolbarLargeComboButtonBottom:active,
body.dark_sat a.scRibbonToolbarSmallButton:active,
body.dark_sat a.scRibbonToolbarSmallButtonDown,
body.dark_sat a.scRibbonToolbarSmallButtonDown:active,
body.dark_sat .scRibbon a.scRibbonToolbarSmallGalleryButton:active,
body.dark_sat .scRibbon a.scRibbonToolbarLargeTextButton:active,
body.dark_sat .scRibbon a.scRibbonToolbarLargeTextButtonDown:active,
body.dark_sat .scRibbonLargeImageButton:active,
body.dark_sat .scRibbonLargeImageButtonDown:active,
body.dark_sat .scRibbonLargeImageButtonDown,
body.dark_sat .scRibbon a.scRibbonToolbarLargeIconButton:active,
body.dark_sat .scRibbon a.scRibbonToolbarLargeIconButtonDown:active,
body.dark_sat .scRibbon a.scRibbonToolbarSmallComboButtonLeft:active,
body.dark_sat .scRibbon a.scRibbonToolbarSmallComboButtonRight:active {
  background-color: var(--black2) !important;
  color: var(--text) !important;
}

/* down styles*/

body.dark_sat .scRibbon a.scRibbonToolbarLargeButtonDown,
body.dark_sat .scRibbonToolbarLargeComboButtonDown,
body.dark_sat a.scRibbonToolbarSmallButtonDown,
body.dark_sat .scRibbonLargeImageButtonDown {
  background-color: var(--blue) !important;
  color: var(--black1) !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarLargeButtonDown > span,
body.dark_sat .scRibbonToolbarLargeComboButtonDown > span,
body.dark_sat a.scRibbonToolbarSmallButtonDown > span,
body.dark_sat .scRibbonLargeImageButtonDown > span {
  color: var(--black1) !important;
}

body.dark_sat .scRibbon a.scRibbonToolbarLargeButtonDown:hover > span,
body.dark_sat .scRibbonToolbarLargeComboButtonDown:hover > span,
body.dark_sat a.scRibbonToolbarSmallButtonDown:hover > span,
body.dark_sat .scRibbonLargeImageButtonDown:hover > span {
  color: var(--text) !important;
}

/* hover styles*/
body.dark_sat .scRibbon a.scRibbonNavigatorButtonsContextualNormal:hover,
body.dark_sat .scRibbon a.scRibbonNavigatorButtonsNormal:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeButtonDown:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
body.dark_sat a.scRibbonToolbarSmallButton:hover,
body.dark_sat .scRibbonToolbarSmallButton:hover,
body.dark_sat a.scRibbonToolbarSmallButtonDown:hover,
body.dark_sat .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeTextButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeTextButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
body.dark_sat .scRibbonLargeImageButton:hover,
body.dark_sat .scRibbonLargeImageButtonDown:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeIconButton:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
body.dark_sat .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
body.dark_sat .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
body.dark_sat .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
body.dark_sat .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
body.dark_sat .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
body.dark_sat .scRibbonToolbarLargeComboButtonDown:hover {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

body.dark_sat .scRibbonToolbarLargeButtonDown:hover > span,
body.dark_sat .scRibbonToolbarLargeButton:hover > span,
body.dark_sat .scRibbonToolbarSmallButton:hover > span,
body.dark_sat .scRibbonToolbarSmallButtonDown:hover > span,
body.dark_sat .scRibbonToolbarSmallComboButtonRight:hover > span,
body.dark_sat .scRibbonToolbarSmallComboButtonLeft:hover > span,
body.dark_sat .scRibbonToolbarLargeComboButtonBottom:hover > span,
body.dark_sat .scRibbonToolbarLargeComboButtonDown:hover > span {
  color: var(--text) !important;
}
