body.satDark .sc-applicationContent-main {
  background-color: #2b2b2b;
}

body.satDark .sc-launchpad-item {
  border-color: #353535;
  background-color: #1f1f1f;
  color: #eee;
}

body.satDark .sc-launchpad-item:hover {
  border-color: #020202;
  background-color: #0e0e0e;
  color: #eee;
}

body.satDark .sc .sc-border[data-sc-id="AnalyticsFallback"] {
  background: #1f1f1f;
  color: #fff;
}

body.satDark .sc .sc-text-largetitle {
  color: #969696;
}

body.satDark .sc .sc-border[data-sc-id="FallbackMessageWrap"] {
  border-color: #474747;
  color: #969696;
}
